<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
	<!-- 
		mybatis foreach 查询，属性colleciont 中如果传入进来的是一个参数，数据类型为list则colleciont定义为list，数组类型用array
		separator:每次执行都会拼接，但是最后一次会省略
		item：当前循环的对象
		
	
	 -->
	
	<!--生成mybatis接口和实体mavne命令： mybatis-generator:generate -->
	
	<!-- ModuleExample example = new ModuleExample();
    	Criteria c = example.createCriteria();
    	c.andNameLike("%"+name+"%");
    	c.andParentidEqualTo(parentId); -->
	<classPathEntry
		location="F:\cangku\mysql\mysql-connector-java\5.1.6\mysql-connector-java-5.1.6.jar" />
	<context id="context1">
		<!-- 注释 -->
		<commentGenerator>
			<property name="suppressAllComments" value="true" /><!-- 是否取消注释 -->
			<property name="suppressDate" value="true" /> <!-- 是否生成注释代时间戳 -->
		</commentGenerator>
		<jdbcConnection connectionURL="jdbc:mysql://localhost:3306/houtai?useUnicode=true&amp;characterEncoding=utf-8&amp;allowMutilQueries=true"
			driverClass="com.mysql.jdbc.Driver" password="123" userId="root" />
		<!-- 实体生成位置 -->
		<javaModelGenerator targetPackage="com.accp.domain"
			targetProject="src/main/java" />
		<!-- mapper配置文件生成 -->
		<sqlMapGenerator targetPackage="mapper"
			targetProject="src/main/resources" />
		<!-- mapper接口生成 -->
		<javaClientGenerator targetPackage="com.accp.mapper"
			targetProject="src/main/java" type="XMLMAPPER" />
       <!--  <table schema="account" tableName="account"></table>
        <table schema="adjust_price" tableName="adjust_price"></table>
        <table schema="assessment_procurement" tableName="assessment_procurement"></table>
        <table schema="assessment_procurement_detailed" tableName="assessment_procurement_detailed"></table>
        <table schema="assessment_procurement_fruit" tableName="assessment_procurement_fruit"></table>
        <table schema="bank" tableName="bank"></table>
        <table schema="bank_deposit_account" tableName="bank_deposit_account"></table>
        <table schema="bank_type" tableName="bank_type"></table>
        <table schema="casha_ccount" tableName="casha_ccount"></table>
        <table schema="check" tableName="check"></table>
        <table schema="check_detailed" tableName="check_detailed"></table>
        <table schema="collection_term" tableName="collection_term"></table>
        <table schema="currency" tableName="currency"></table>
        <table schema="customer" tableName="customer"></table>
        <table schema="customer_address" tableName="customer_address"></table>
        <table schema="customer_demand_products" tableName="customer_demand_products"></table>
        <table schema="customer_grade" tableName="customer_grade"></table>
        <table schema="customer_type" tableName="customer_type"></table>
        <table schema="dull_section" tableName="dull_section"></table>
        <table schema="educational_background" tableName="educational_background"></table>
        <table schema="income_costs_type" tableName="income_costs_type"></table>
        <table schema="input_storage_type" tableName="input_storage_type"></table>
        <table schema="invoice_type" tableName="invoice_type"></table>
        <table schema="material_type" tableName="material_type"></table>
        <table schema="matter" tableName="matter"></table>
        <table schema="measurement_unit" tableName="measurement_unit"></table>
        <table schema="moneybelong" tableName="moneybelong"></table>
        <table schema="negotiation_stage" tableName="negotiation_stage"></table>
        <table schema="other_input_storage" tableName="other_input_storage"></table>
        <table schema="other_input_storage_detailed" tableName="other_input_storage_detailed"></table>
        <table schema="other_out_storage" tableName="other_out_storage"></table>
        <table schema="other_out_storage_detailed" tableName="other_out_storage_detailed"></table>
        <table schema="out_storage_type" tableName="out_storage_type"></table>
        <table schema="payables" tableName="payables"></table>
        <table schema="payables_detail" tableName="payables_detail"></table>
        <table schema="payablesmain" tableName="payablesmain"></table>
        <table schema="potential_customer" tableName="potential_customer"></table>
        <table schema="priabill" tableName="priabill"></table>
        <table schema="priadetails" tableName="priadetails"></table>
        <table schema="project" tableName="project"></table>
        <table schema="purchase_discount" tableName="purchase_discount"></table>
        <table schema="purchase_discount_detailed" tableName="purchase_discount_detailed"></table>
        <table schema="purchase_inquiry" tableName="purchase_inquiry"></table>
        <table schema="purchase_inquiry_detailed" tableName="purchase_inquiry_detailed"></table>
        <table schema="purchase_requisition" tableName="purchase_requisition"></table>
        <table schema="purchase_requisition_detailed" tableName="purchase_requisition_detailed"></table>
        <table schema="purchase_requisition_type" tableName="purchase_requisition_type"></table>
        <table schema="purchase_returns" tableName="purchase_returns"></table>
        <table schema="purchase_returns_detailed" tableName="purchase_returns_detailed"></table>
        <table schema="purchase_storage" tableName="purchase_storage"></table>
        <table schema="purchase_storage_detailed" tableName="purchase_storage_detailed"></table>
        <table schema="purchase_storage_type" tableName="purchase_storage_type"></table>
        <table schema="purchasing_order" tableName="purchasing_order"></table>
        <table schema="purchasing_order_detailed" tableName="purchasing_order_detailed"></table>
        <table schema="purchasing_order_type" tableName="purchasing_order_type"></table>
        <table schema="receivable" tableName="receivable"></table>
        <table schema="receivable_detail" tableName="receivable_detail"></table>
        <table schema="receivablesdetails" tableName="receivablesdetails"></table>
        <table schema="referpria" tableName="referpria"></table>
        <table schema="referrece" tableName="referrece"></table>
        <table schema="requisition" tableName="requisition"></table>
        <table schema="requisition_detailed" tableName="requisition_detailed"></table>
        <table schema="sales_discount" tableName="sales_discount"></table>
        <table schema="sales_order_type" tableName="sales_order_type"></table>
        <table schema="sales_out_warehouse" tableName="sales_out_warehouse"></table> -->
        <table schema="sales_out_warehouse_detailed" tableName="sales_out_warehouse_detailed"></table>
      <!--   <table schema="sales_out_warehouse_type" tableName="sales_out_warehouse_type"></table>
        <table schema="sales_quotation" tableName="sales_quotation"></table>
        <table schema="sales_quotation_details" tableName="sales_quotation_details"></table>
        <table schema="sales_return_warehouse" tableName="sales_return_warehouse"></table>
        <table schema="sales_return_warehouse_detailed" tableName="sales_return_warehouse_detailed"></table>
        <table schema="salesorder" tableName="salesorder"></table>
        <table schema="salesorderlist" tableName="salesorderlist"></table>
        <table schema="settle_accounts_type" tableName="settle_accounts_type"></table>
        <table schema="staff" tableName="staff"></table>
        <table schema="subject_blanket_category" tableName="subject_blanket_category"></table>
        <table schema="subject_category" tableName="subject_category"></table>
        <table schema="supplier" tableName="supplier"></table>
        <table schema="supplier_type" tableName="supplier_type"></table>
        <table schema="tax_items" tableName="tax_items"></table>
        <table schema="team" tableName="team"></table>
        <table schema="updown_program" tableName="updown_program"></table>
        <table schema="warehouse" tableName="warehouse"></table>
        <table schema="warehouse_detail" tableName="warehouse_detail"></table>
        <table schema="zone" tableName="zone"></table> -->
	</context>
</generatorConfiguration>




<!-- <build>
		<plugins>
			<plugin>
				Mybatis-generator插件,用于自动生成Mapper和POJO
				<groupId>org.mybatis.generator</groupId>
				<artifactId>mybatis-generator-maven-plugin</artifactId>
				<version>1.3.2</version>
				<configuration>
					配置文件的位置
					<configurationFile>src/main/resources/mybatis-generator-config.xml</configurationFile>
					<verbose>true</verbose>
					<overwrite>true</overwrite>
				</configuration>
				<executions>
					<execution>
						<id>Generate MyBatis Artifacts</id>
						<phase>generate</phase>
						<goals>
							<goal>generate</goal>
						</goals>
					</execution>
				</executions>
				<dependencies>
					<dependency>
						<groupId>org.mybatis.generator</groupId>
						<artifactId>mybatis-generator-core</artifactId>
						<version>1.3.2</version>
					</dependency>
					<dependency>
                        <groupId>com.itfsw</groupId>
                        <artifactId>mybatis-generator-plugin</artifactId>
                        <version>1.3.0</version>
                    </dependency>
				</dependencies>
			</plugin>
		</plugins>
	</build> -->
	
	
	<!-- 集联查询 -->
	
	<!-- <resultMap id="BaseResultMap" type="com.accp.domain.Module" >
	    <id column="id" property="id" jdbcType="INTEGER" />
	    <result column="name" property="name" jdbcType="VARCHAR" />
	    <result column="parentid" property="parentid" jdbcType="INTEGER" />
	  </resultMap>
	  
	  <resultMap type="com.accp.domain.Module" id="BaseResultMapExtends"
	  	 extends="BaseResultMap">
	  	<collection property="list" column="id" select="query"></collection>
	  </resultMap>
	  
	  
	  <select id="query" resultMap="BaseResultMapExtends">
	  	select * from module where parentid=#{id}
	  </select> -->