<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.BillnotPurchaseRequisitionsMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.BillnotPurchaseRequisitions" >
    <id column="billno" property="billno" jdbcType="VARCHAR" />
    <result column="billdate" property="billdate" jdbcType="DATE" />
    <result column="billstyleid" property="billstyleid" jdbcType="INTEGER" />
    <result column="billstatus" property="billstatus" jdbcType="INTEGER" />
    <result column="salesid" property="salesid" jdbcType="INTEGER" />
    <result column="departid" property="departid" jdbcType="INTEGER" />
    <result column="maker" property="maker" jdbcType="VARCHAR" />
    <result column="permitter" property="permitter" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="bz1" property="bz1" jdbcType="VARCHAR" />
    <result column="bz2" property="bz2" jdbcType="VARCHAR" />
    <result column="bz3" property="bz3" jdbcType="VARCHAR" />
    <result column="bz4" property="bz4" jdbcType="VARCHAR" />
    <result column="bz5" property="bz5" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    billno, billdate, billstyleid, billstatus, salesid, departid, maker, permitter, remark, 
    bz1, bz2, bz3, bz4, bz5
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.BillnotPurchaseRequisitionsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from billnot_purchase_requisitions
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from billnot_purchase_requisitions
    where billno = #{billno,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from billnot_purchase_requisitions
    where billno = #{billno,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.BillnotPurchaseRequisitionsExample" >
    delete from billnot_purchase_requisitions
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.BillnotPurchaseRequisitions" >
    insert into billnot_purchase_requisitions (billno, billdate, billstyleid, 
      billstatus, salesid, departid, 
      maker, permitter, remark, 
      bz1, bz2, bz3, bz4, 
      bz5)
    values (#{billno,jdbcType=VARCHAR}, #{billdate,jdbcType=DATE}, #{billstyleid,jdbcType=INTEGER}, 
      #{billstatus,jdbcType=INTEGER}, #{salesid,jdbcType=INTEGER}, #{departid,jdbcType=INTEGER}, 
      #{maker,jdbcType=VARCHAR}, #{permitter,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{bz1,jdbcType=VARCHAR}, #{bz2,jdbcType=VARCHAR}, #{bz3,jdbcType=VARCHAR}, #{bz4,jdbcType=VARCHAR}, 
      #{bz5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.BillnotPurchaseRequisitions" >
    insert into billnot_purchase_requisitions
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="billno != null" >
        billno,
      </if>
      <if test="billdate != null" >
        billdate,
      </if>
      <if test="billstyleid != null" >
        billstyleid,
      </if>
      <if test="billstatus != null" >
        billstatus,
      </if>
      <if test="salesid != null" >
        salesid,
      </if>
      <if test="departid != null" >
        departid,
      </if>
      <if test="maker != null" >
        maker,
      </if>
      <if test="permitter != null" >
        permitter,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="bz1 != null" >
        bz1,
      </if>
      <if test="bz2 != null" >
        bz2,
      </if>
      <if test="bz3 != null" >
        bz3,
      </if>
      <if test="bz4 != null" >
        bz4,
      </if>
      <if test="bz5 != null" >
        bz5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="billno != null" >
        #{billno,jdbcType=VARCHAR},
      </if>
      <if test="billdate != null" >
        #{billdate,jdbcType=DATE},
      </if>
      <if test="billstyleid != null" >
        #{billstyleid,jdbcType=INTEGER},
      </if>
      <if test="billstatus != null" >
        #{billstatus,jdbcType=INTEGER},
      </if>
      <if test="salesid != null" >
        #{salesid,jdbcType=INTEGER},
      </if>
      <if test="departid != null" >
        #{departid,jdbcType=INTEGER},
      </if>
      <if test="maker != null" >
        #{maker,jdbcType=VARCHAR},
      </if>
      <if test="permitter != null" >
        #{permitter,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="bz1 != null" >
        #{bz1,jdbcType=VARCHAR},
      </if>
      <if test="bz2 != null" >
        #{bz2,jdbcType=VARCHAR},
      </if>
      <if test="bz3 != null" >
        #{bz3,jdbcType=VARCHAR},
      </if>
      <if test="bz4 != null" >
        #{bz4,jdbcType=VARCHAR},
      </if>
      <if test="bz5 != null" >
        #{bz5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.BillnotPurchaseRequisitionsExample" resultType="java.lang.Integer" >
    select count(*) from billnot_purchase_requisitions
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update billnot_purchase_requisitions
    <set >
      <if test="record.billno != null" >
        billno = #{record.billno,jdbcType=VARCHAR},
      </if>
      <if test="record.billdate != null" >
        billdate = #{record.billdate,jdbcType=DATE},
      </if>
      <if test="record.billstyleid != null" >
        billstyleid = #{record.billstyleid,jdbcType=INTEGER},
      </if>
      <if test="record.billstatus != null" >
        billstatus = #{record.billstatus,jdbcType=INTEGER},
      </if>
      <if test="record.salesid != null" >
        salesid = #{record.salesid,jdbcType=INTEGER},
      </if>
      <if test="record.departid != null" >
        departid = #{record.departid,jdbcType=INTEGER},
      </if>
      <if test="record.maker != null" >
        maker = #{record.maker,jdbcType=VARCHAR},
      </if>
      <if test="record.permitter != null" >
        permitter = #{record.permitter,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.bz1 != null" >
        bz1 = #{record.bz1,jdbcType=VARCHAR},
      </if>
      <if test="record.bz2 != null" >
        bz2 = #{record.bz2,jdbcType=VARCHAR},
      </if>
      <if test="record.bz3 != null" >
        bz3 = #{record.bz3,jdbcType=VARCHAR},
      </if>
      <if test="record.bz4 != null" >
        bz4 = #{record.bz4,jdbcType=VARCHAR},
      </if>
      <if test="record.bz5 != null" >
        bz5 = #{record.bz5,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update billnot_purchase_requisitions
    set billno = #{record.billno,jdbcType=VARCHAR},
      billdate = #{record.billdate,jdbcType=DATE},
      billstyleid = #{record.billstyleid,jdbcType=INTEGER},
      billstatus = #{record.billstatus,jdbcType=INTEGER},
      salesid = #{record.salesid,jdbcType=INTEGER},
      departid = #{record.departid,jdbcType=INTEGER},
      maker = #{record.maker,jdbcType=VARCHAR},
      permitter = #{record.permitter,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      bz1 = #{record.bz1,jdbcType=VARCHAR},
      bz2 = #{record.bz2,jdbcType=VARCHAR},
      bz3 = #{record.bz3,jdbcType=VARCHAR},
      bz4 = #{record.bz4,jdbcType=VARCHAR},
      bz5 = #{record.bz5,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.BillnotPurchaseRequisitions" >
    update billnot_purchase_requisitions
    <set >
      <if test="billdate != null" >
        billdate = #{billdate,jdbcType=DATE},
      </if>
      <if test="billstyleid != null" >
        billstyleid = #{billstyleid,jdbcType=INTEGER},
      </if>
      <if test="billstatus != null" >
        billstatus = #{billstatus,jdbcType=INTEGER},
      </if>
      <if test="salesid != null" >
        salesid = #{salesid,jdbcType=INTEGER},
      </if>
      <if test="departid != null" >
        departid = #{departid,jdbcType=INTEGER},
      </if>
      <if test="maker != null" >
        maker = #{maker,jdbcType=VARCHAR},
      </if>
      <if test="permitter != null" >
        permitter = #{permitter,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="bz1 != null" >
        bz1 = #{bz1,jdbcType=VARCHAR},
      </if>
      <if test="bz2 != null" >
        bz2 = #{bz2,jdbcType=VARCHAR},
      </if>
      <if test="bz3 != null" >
        bz3 = #{bz3,jdbcType=VARCHAR},
      </if>
      <if test="bz4 != null" >
        bz4 = #{bz4,jdbcType=VARCHAR},
      </if>
      <if test="bz5 != null" >
        bz5 = #{bz5,jdbcType=VARCHAR},
      </if>
    </set>
    where billno = #{billno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.BillnotPurchaseRequisitions" >
    update billnot_purchase_requisitions
    set billdate = #{billdate,jdbcType=DATE},
      billstyleid = #{billstyleid,jdbcType=INTEGER},
      billstatus = #{billstatus,jdbcType=INTEGER},
      salesid = #{salesid,jdbcType=INTEGER},
      departid = #{departid,jdbcType=INTEGER},
      maker = #{maker,jdbcType=VARCHAR},
      permitter = #{permitter,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      bz1 = #{bz1,jdbcType=VARCHAR},
      bz2 = #{bz2,jdbcType=VARCHAR},
      bz3 = #{bz3,jdbcType=VARCHAR},
      bz4 = #{bz4,jdbcType=VARCHAR},
      bz5 = #{bz5,jdbcType=VARCHAR}
    where billno = #{billno,jdbcType=VARCHAR}
  </update>
</mapper>