<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.InOutWarehouseMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.InOutWarehouse" >
    <id column="iow_type_id" property="iowTypeId" jdbcType="INTEGER" />
    <result column="iow_id" property="iowId" jdbcType="VARCHAR" />
    <result column="iow_lineid" property="iowLineid" jdbcType="INTEGER" />
    <result column="iow_w_id" property="iowWId" jdbcType="INTEGER" />
    <result column="iow_num" property="iowNum" jdbcType="INTEGER" />
    <result column="iow_cbdprice" property="iowCbdprice" jdbcType="DOUBLE" />
    <result column="iow_totalmoney" property="iowTotalmoney" jdbcType="DOUBLE" />
    <result column="tow_iom_date" property="towIomDate" jdbcType="DATE" />
    <result column="bz1" property="bz1" jdbcType="VARCHAR" />
    <result column="bz2" property="bz2" jdbcType="VARCHAR" />
    <result column="bz3" property="bz3" jdbcType="VARCHAR" />
    <result column="bz4" property="bz4" jdbcType="VARCHAR" />
    <result column="bz5" property="bz5" jdbcType="VARCHAR" />
    <result column="bz6" property="bz6" jdbcType="VARCHAR" />
    <result column="bz7" property="bz7" jdbcType="VARCHAR" />
    <result column="bz8" property="bz8" jdbcType="VARCHAR" />
    <result column="bz9" property="bz9" jdbcType="VARCHAR" />
    <result column="bz10" property="bz10" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    iow_type_id, iow_id, iow_lineid, iow_w_id, iow_num, iow_cbdprice, iow_totalmoney, 
    tow_iom_date, bz1, bz2, bz3, bz4, bz5, bz6, bz7, bz8, bz9, bz10
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.InOutWarehouseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from in_out_warehouse
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from in_out_warehouse
    where iow_type_id = #{iowTypeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from in_out_warehouse
    where iow_type_id = #{iowTypeId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.InOutWarehouseExample" >
    delete from in_out_warehouse
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.InOutWarehouse" >
    insert into in_out_warehouse (iow_type_id, iow_id, iow_lineid, 
      iow_w_id, iow_num, iow_cbdprice, 
      iow_totalmoney, tow_iom_date, bz1, 
      bz2, bz3, bz4, bz5, 
      bz6, bz7, bz8, bz9, 
      bz10)
    values (#{iowTypeId,jdbcType=INTEGER}, #{iowId,jdbcType=VARCHAR}, #{iowLineid,jdbcType=INTEGER}, 
      #{iowWId,jdbcType=INTEGER}, #{iowNum,jdbcType=INTEGER}, #{iowCbdprice,jdbcType=DOUBLE}, 
      #{iowTotalmoney,jdbcType=DOUBLE}, #{towIomDate,jdbcType=DATE}, #{bz1,jdbcType=VARCHAR}, 
      #{bz2,jdbcType=VARCHAR}, #{bz3,jdbcType=VARCHAR}, #{bz4,jdbcType=VARCHAR}, #{bz5,jdbcType=VARCHAR}, 
      #{bz6,jdbcType=VARCHAR}, #{bz7,jdbcType=VARCHAR}, #{bz8,jdbcType=VARCHAR}, #{bz9,jdbcType=VARCHAR}, 
      #{bz10,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.InOutWarehouse" >
    insert into in_out_warehouse
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="iowTypeId != null" >
        iow_type_id,
      </if>
      <if test="iowId != null" >
        iow_id,
      </if>
      <if test="iowLineid != null" >
        iow_lineid,
      </if>
      <if test="iowWId != null" >
        iow_w_id,
      </if>
      <if test="iowNum != null" >
        iow_num,
      </if>
      <if test="iowCbdprice != null" >
        iow_cbdprice,
      </if>
      <if test="iowTotalmoney != null" >
        iow_totalmoney,
      </if>
      <if test="towIomDate != null" >
        tow_iom_date,
      </if>
      <if test="bz1 != null" >
        bz1,
      </if>
      <if test="bz2 != null" >
        bz2,
      </if>
      <if test="bz3 != null" >
        bz3,
      </if>
      <if test="bz4 != null" >
        bz4,
      </if>
      <if test="bz5 != null" >
        bz5,
      </if>
      <if test="bz6 != null" >
        bz6,
      </if>
      <if test="bz7 != null" >
        bz7,
      </if>
      <if test="bz8 != null" >
        bz8,
      </if>
      <if test="bz9 != null" >
        bz9,
      </if>
      <if test="bz10 != null" >
        bz10,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="iowTypeId != null" >
        #{iowTypeId,jdbcType=INTEGER},
      </if>
      <if test="iowId != null" >
        #{iowId,jdbcType=VARCHAR},
      </if>
      <if test="iowLineid != null" >
        #{iowLineid,jdbcType=INTEGER},
      </if>
      <if test="iowWId != null" >
        #{iowWId,jdbcType=INTEGER},
      </if>
      <if test="iowNum != null" >
        #{iowNum,jdbcType=INTEGER},
      </if>
      <if test="iowCbdprice != null" >
        #{iowCbdprice,jdbcType=DOUBLE},
      </if>
      <if test="iowTotalmoney != null" >
        #{iowTotalmoney,jdbcType=DOUBLE},
      </if>
      <if test="towIomDate != null" >
        #{towIomDate,jdbcType=DATE},
      </if>
      <if test="bz1 != null" >
        #{bz1,jdbcType=VARCHAR},
      </if>
      <if test="bz2 != null" >
        #{bz2,jdbcType=VARCHAR},
      </if>
      <if test="bz3 != null" >
        #{bz3,jdbcType=VARCHAR},
      </if>
      <if test="bz4 != null" >
        #{bz4,jdbcType=VARCHAR},
      </if>
      <if test="bz5 != null" >
        #{bz5,jdbcType=VARCHAR},
      </if>
      <if test="bz6 != null" >
        #{bz6,jdbcType=VARCHAR},
      </if>
      <if test="bz7 != null" >
        #{bz7,jdbcType=VARCHAR},
      </if>
      <if test="bz8 != null" >
        #{bz8,jdbcType=VARCHAR},
      </if>
      <if test="bz9 != null" >
        #{bz9,jdbcType=VARCHAR},
      </if>
      <if test="bz10 != null" >
        #{bz10,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.InOutWarehouseExample" resultType="java.lang.Integer" >
    select count(*) from in_out_warehouse
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update in_out_warehouse
    <set >
      <if test="record.iowTypeId != null" >
        iow_type_id = #{record.iowTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.iowId != null" >
        iow_id = #{record.iowId,jdbcType=VARCHAR},
      </if>
      <if test="record.iowLineid != null" >
        iow_lineid = #{record.iowLineid,jdbcType=INTEGER},
      </if>
      <if test="record.iowWId != null" >
        iow_w_id = #{record.iowWId,jdbcType=INTEGER},
      </if>
      <if test="record.iowNum != null" >
        iow_num = #{record.iowNum,jdbcType=INTEGER},
      </if>
      <if test="record.iowCbdprice != null" >
        iow_cbdprice = #{record.iowCbdprice,jdbcType=DOUBLE},
      </if>
      <if test="record.iowTotalmoney != null" >
        iow_totalmoney = #{record.iowTotalmoney,jdbcType=DOUBLE},
      </if>
      <if test="record.towIomDate != null" >
        tow_iom_date = #{record.towIomDate,jdbcType=DATE},
      </if>
      <if test="record.bz1 != null" >
        bz1 = #{record.bz1,jdbcType=VARCHAR},
      </if>
      <if test="record.bz2 != null" >
        bz2 = #{record.bz2,jdbcType=VARCHAR},
      </if>
      <if test="record.bz3 != null" >
        bz3 = #{record.bz3,jdbcType=VARCHAR},
      </if>
      <if test="record.bz4 != null" >
        bz4 = #{record.bz4,jdbcType=VARCHAR},
      </if>
      <if test="record.bz5 != null" >
        bz5 = #{record.bz5,jdbcType=VARCHAR},
      </if>
      <if test="record.bz6 != null" >
        bz6 = #{record.bz6,jdbcType=VARCHAR},
      </if>
      <if test="record.bz7 != null" >
        bz7 = #{record.bz7,jdbcType=VARCHAR},
      </if>
      <if test="record.bz8 != null" >
        bz8 = #{record.bz8,jdbcType=VARCHAR},
      </if>
      <if test="record.bz9 != null" >
        bz9 = #{record.bz9,jdbcType=VARCHAR},
      </if>
      <if test="record.bz10 != null" >
        bz10 = #{record.bz10,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update in_out_warehouse
    set iow_type_id = #{record.iowTypeId,jdbcType=INTEGER},
      iow_id = #{record.iowId,jdbcType=VARCHAR},
      iow_lineid = #{record.iowLineid,jdbcType=INTEGER},
      iow_w_id = #{record.iowWId,jdbcType=INTEGER},
      iow_num = #{record.iowNum,jdbcType=INTEGER},
      iow_cbdprice = #{record.iowCbdprice,jdbcType=DOUBLE},
      iow_totalmoney = #{record.iowTotalmoney,jdbcType=DOUBLE},
      tow_iom_date = #{record.towIomDate,jdbcType=DATE},
      bz1 = #{record.bz1,jdbcType=VARCHAR},
      bz2 = #{record.bz2,jdbcType=VARCHAR},
      bz3 = #{record.bz3,jdbcType=VARCHAR},
      bz4 = #{record.bz4,jdbcType=VARCHAR},
      bz5 = #{record.bz5,jdbcType=VARCHAR},
      bz6 = #{record.bz6,jdbcType=VARCHAR},
      bz7 = #{record.bz7,jdbcType=VARCHAR},
      bz8 = #{record.bz8,jdbcType=VARCHAR},
      bz9 = #{record.bz9,jdbcType=VARCHAR},
      bz10 = #{record.bz10,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.InOutWarehouse" >
    update in_out_warehouse
    <set >
      <if test="iowId != null" >
        iow_id = #{iowId,jdbcType=VARCHAR},
      </if>
      <if test="iowLineid != null" >
        iow_lineid = #{iowLineid,jdbcType=INTEGER},
      </if>
      <if test="iowWId != null" >
        iow_w_id = #{iowWId,jdbcType=INTEGER},
      </if>
      <if test="iowNum != null" >
        iow_num = #{iowNum,jdbcType=INTEGER},
      </if>
      <if test="iowCbdprice != null" >
        iow_cbdprice = #{iowCbdprice,jdbcType=DOUBLE},
      </if>
      <if test="iowTotalmoney != null" >
        iow_totalmoney = #{iowTotalmoney,jdbcType=DOUBLE},
      </if>
      <if test="towIomDate != null" >
        tow_iom_date = #{towIomDate,jdbcType=DATE},
      </if>
      <if test="bz1 != null" >
        bz1 = #{bz1,jdbcType=VARCHAR},
      </if>
      <if test="bz2 != null" >
        bz2 = #{bz2,jdbcType=VARCHAR},
      </if>
      <if test="bz3 != null" >
        bz3 = #{bz3,jdbcType=VARCHAR},
      </if>
      <if test="bz4 != null" >
        bz4 = #{bz4,jdbcType=VARCHAR},
      </if>
      <if test="bz5 != null" >
        bz5 = #{bz5,jdbcType=VARCHAR},
      </if>
      <if test="bz6 != null" >
        bz6 = #{bz6,jdbcType=VARCHAR},
      </if>
      <if test="bz7 != null" >
        bz7 = #{bz7,jdbcType=VARCHAR},
      </if>
      <if test="bz8 != null" >
        bz8 = #{bz8,jdbcType=VARCHAR},
      </if>
      <if test="bz9 != null" >
        bz9 = #{bz9,jdbcType=VARCHAR},
      </if>
      <if test="bz10 != null" >
        bz10 = #{bz10,jdbcType=VARCHAR},
      </if>
    </set>
    where iow_type_id = #{iowTypeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.InOutWarehouse" >
    update in_out_warehouse
    set iow_id = #{iowId,jdbcType=VARCHAR},
      iow_lineid = #{iowLineid,jdbcType=INTEGER},
      iow_w_id = #{iowWId,jdbcType=INTEGER},
      iow_num = #{iowNum,jdbcType=INTEGER},
      iow_cbdprice = #{iowCbdprice,jdbcType=DOUBLE},
      iow_totalmoney = #{iowTotalmoney,jdbcType=DOUBLE},
      tow_iom_date = #{towIomDate,jdbcType=DATE},
      bz1 = #{bz1,jdbcType=VARCHAR},
      bz2 = #{bz2,jdbcType=VARCHAR},
      bz3 = #{bz3,jdbcType=VARCHAR},
      bz4 = #{bz4,jdbcType=VARCHAR},
      bz5 = #{bz5,jdbcType=VARCHAR},
      bz6 = #{bz6,jdbcType=VARCHAR},
      bz7 = #{bz7,jdbcType=VARCHAR},
      bz8 = #{bz8,jdbcType=VARCHAR},
      bz9 = #{bz9,jdbcType=VARCHAR},
      bz10 = #{bz10,jdbcType=VARCHAR}
    where iow_type_id = #{iowTypeId,jdbcType=INTEGER}
  </update>
</mapper>