<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.MaterialTypeMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.MaterialType" >
    <id column="mt_id" property="mtId" jdbcType="VARCHAR" />
    <result column="mt_name" property="mtName" jdbcType="VARCHAR" />
    <result column="mt_english_name" property="mtEnglishName" jdbcType="VARCHAR" />
    <result column="mt_save_subject" property="mtSaveSubject" jdbcType="VARCHAR" />
    <result column="mt_subject_a" property="mtSubjectA" jdbcType="VARCHAR" />
    <result column="mt_subject_b" property="mtSubjectB" jdbcType="VARCHAR" />
    <result column="mt_subject_c" property="mtSubjectC" jdbcType="VARCHAR" />
    <result column="mt_salein_subject" property="mtSaleinSubject" jdbcType="VARCHAR" />
    <result column="mt_salecost_subject" property="mtSalecostSubject" jdbcType="VARCHAR" />
    <result column="mt_otherin_subject" property="mtOtherinSubject" jdbcType="VARCHAR" />
    <result column="mt_othercost_subject" property="mtOthercostSubject" jdbcType="VARCHAR" />
    <result column="mt_othersell_subject" property="mtOthersellSubject" jdbcType="VARCHAR" />
    <result column="mt_othersend_subject" property="mtOthersendSubject" jdbcType="VARCHAR" />
    <result column="mt_remark" property="mtRemark" jdbcType="VARCHAR" />
    <result column="mt_Auditing" property="mtAuditing" jdbcType="VARCHAR" />
    <result column="mt_yn" property="mtYn" jdbcType="VARCHAR" />
    <result column="mt_custom1" property="mtCustom1" jdbcType="VARCHAR" />
    <result column="mt_custom2" property="mtCustom2" jdbcType="VARCHAR" />
    <result column="mt_custom3" property="mtCustom3" jdbcType="VARCHAR" />
    <result column="mt_custom4" property="mtCustom4" jdbcType="VARCHAR" />
    <result column="mt_custom5" property="mtCustom5" jdbcType="VARCHAR" />
    <result column="mt_custom6" property="mtCustom6" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    mt_id, mt_name, mt_english_name, mt_save_subject, mt_subject_a, mt_subject_b, mt_subject_c, 
    mt_salein_subject, mt_salecost_subject, mt_otherin_subject, mt_othercost_subject, 
    mt_othersell_subject, mt_othersend_subject, mt_remark, mt_Auditing, mt_yn, mt_custom1, 
    mt_custom2, mt_custom3, mt_custom4, mt_custom5, mt_custom6
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.MaterialTypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from material_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from material_type
    where mt_id = #{mtId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from material_type
    where mt_id = #{mtId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.MaterialTypeExample" >
    delete from material_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.MaterialType" >
    insert into material_type (mt_id, mt_name, mt_english_name, 
      mt_save_subject, mt_subject_a, mt_subject_b, 
      mt_subject_c, mt_salein_subject, mt_salecost_subject, 
      mt_otherin_subject, mt_othercost_subject, mt_othersell_subject, 
      mt_othersend_subject, mt_remark, mt_Auditing, 
      mt_yn, mt_custom1, mt_custom2, 
      mt_custom3, mt_custom4, mt_custom5, 
      mt_custom6)
    values (#{mtId,jdbcType=VARCHAR}, #{mtName,jdbcType=VARCHAR}, #{mtEnglishName,jdbcType=VARCHAR}, 
      #{mtSaveSubject,jdbcType=VARCHAR}, #{mtSubjectA,jdbcType=VARCHAR}, #{mtSubjectB,jdbcType=VARCHAR}, 
      #{mtSubjectC,jdbcType=VARCHAR}, #{mtSaleinSubject,jdbcType=VARCHAR}, #{mtSalecostSubject,jdbcType=VARCHAR}, 
      #{mtOtherinSubject,jdbcType=VARCHAR}, #{mtOthercostSubject,jdbcType=VARCHAR}, #{mtOthersellSubject,jdbcType=VARCHAR}, 
      #{mtOthersendSubject,jdbcType=VARCHAR}, #{mtRemark,jdbcType=VARCHAR}, #{mtAuditing,jdbcType=VARCHAR}, 
      #{mtYn,jdbcType=VARCHAR}, #{mtCustom1,jdbcType=VARCHAR}, #{mtCustom2,jdbcType=VARCHAR}, 
      #{mtCustom3,jdbcType=VARCHAR}, #{mtCustom4,jdbcType=VARCHAR}, #{mtCustom5,jdbcType=VARCHAR}, 
      #{mtCustom6,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.MaterialType" >
    insert into material_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mtId != null" >
        mt_id,
      </if>
      <if test="mtName != null" >
        mt_name,
      </if>
      <if test="mtEnglishName != null" >
        mt_english_name,
      </if>
      <if test="mtSaveSubject != null" >
        mt_save_subject,
      </if>
      <if test="mtSubjectA != null" >
        mt_subject_a,
      </if>
      <if test="mtSubjectB != null" >
        mt_subject_b,
      </if>
      <if test="mtSubjectC != null" >
        mt_subject_c,
      </if>
      <if test="mtSaleinSubject != null" >
        mt_salein_subject,
      </if>
      <if test="mtSalecostSubject != null" >
        mt_salecost_subject,
      </if>
      <if test="mtOtherinSubject != null" >
        mt_otherin_subject,
      </if>
      <if test="mtOthercostSubject != null" >
        mt_othercost_subject,
      </if>
      <if test="mtOthersellSubject != null" >
        mt_othersell_subject,
      </if>
      <if test="mtOthersendSubject != null" >
        mt_othersend_subject,
      </if>
      <if test="mtRemark != null" >
        mt_remark,
      </if>
      <if test="mtAuditing != null" >
        mt_Auditing,
      </if>
      <if test="mtYn != null" >
        mt_yn,
      </if>
      <if test="mtCustom1 != null" >
        mt_custom1,
      </if>
      <if test="mtCustom2 != null" >
        mt_custom2,
      </if>
      <if test="mtCustom3 != null" >
        mt_custom3,
      </if>
      <if test="mtCustom4 != null" >
        mt_custom4,
      </if>
      <if test="mtCustom5 != null" >
        mt_custom5,
      </if>
      <if test="mtCustom6 != null" >
        mt_custom6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mtId != null" >
        #{mtId,jdbcType=VARCHAR},
      </if>
      <if test="mtName != null" >
        #{mtName,jdbcType=VARCHAR},
      </if>
      <if test="mtEnglishName != null" >
        #{mtEnglishName,jdbcType=VARCHAR},
      </if>
      <if test="mtSaveSubject != null" >
        #{mtSaveSubject,jdbcType=VARCHAR},
      </if>
      <if test="mtSubjectA != null" >
        #{mtSubjectA,jdbcType=VARCHAR},
      </if>
      <if test="mtSubjectB != null" >
        #{mtSubjectB,jdbcType=VARCHAR},
      </if>
      <if test="mtSubjectC != null" >
        #{mtSubjectC,jdbcType=VARCHAR},
      </if>
      <if test="mtSaleinSubject != null" >
        #{mtSaleinSubject,jdbcType=VARCHAR},
      </if>
      <if test="mtSalecostSubject != null" >
        #{mtSalecostSubject,jdbcType=VARCHAR},
      </if>
      <if test="mtOtherinSubject != null" >
        #{mtOtherinSubject,jdbcType=VARCHAR},
      </if>
      <if test="mtOthercostSubject != null" >
        #{mtOthercostSubject,jdbcType=VARCHAR},
      </if>
      <if test="mtOthersellSubject != null" >
        #{mtOthersellSubject,jdbcType=VARCHAR},
      </if>
      <if test="mtOthersendSubject != null" >
        #{mtOthersendSubject,jdbcType=VARCHAR},
      </if>
      <if test="mtRemark != null" >
        #{mtRemark,jdbcType=VARCHAR},
      </if>
      <if test="mtAuditing != null" >
        #{mtAuditing,jdbcType=VARCHAR},
      </if>
      <if test="mtYn != null" >
        #{mtYn,jdbcType=VARCHAR},
      </if>
      <if test="mtCustom1 != null" >
        #{mtCustom1,jdbcType=VARCHAR},
      </if>
      <if test="mtCustom2 != null" >
        #{mtCustom2,jdbcType=VARCHAR},
      </if>
      <if test="mtCustom3 != null" >
        #{mtCustom3,jdbcType=VARCHAR},
      </if>
      <if test="mtCustom4 != null" >
        #{mtCustom4,jdbcType=VARCHAR},
      </if>
      <if test="mtCustom5 != null" >
        #{mtCustom5,jdbcType=VARCHAR},
      </if>
      <if test="mtCustom6 != null" >
        #{mtCustom6,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.MaterialTypeExample" resultType="java.lang.Integer" >
    select count(*) from material_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update material_type
    <set >
      <if test="record.mtId != null" >
        mt_id = #{record.mtId,jdbcType=VARCHAR},
      </if>
      <if test="record.mtName != null" >
        mt_name = #{record.mtName,jdbcType=VARCHAR},
      </if>
      <if test="record.mtEnglishName != null" >
        mt_english_name = #{record.mtEnglishName,jdbcType=VARCHAR},
      </if>
      <if test="record.mtSaveSubject != null" >
        mt_save_subject = #{record.mtSaveSubject,jdbcType=VARCHAR},
      </if>
      <if test="record.mtSubjectA != null" >
        mt_subject_a = #{record.mtSubjectA,jdbcType=VARCHAR},
      </if>
      <if test="record.mtSubjectB != null" >
        mt_subject_b = #{record.mtSubjectB,jdbcType=VARCHAR},
      </if>
      <if test="record.mtSubjectC != null" >
        mt_subject_c = #{record.mtSubjectC,jdbcType=VARCHAR},
      </if>
      <if test="record.mtSaleinSubject != null" >
        mt_salein_subject = #{record.mtSaleinSubject,jdbcType=VARCHAR},
      </if>
      <if test="record.mtSalecostSubject != null" >
        mt_salecost_subject = #{record.mtSalecostSubject,jdbcType=VARCHAR},
      </if>
      <if test="record.mtOtherinSubject != null" >
        mt_otherin_subject = #{record.mtOtherinSubject,jdbcType=VARCHAR},
      </if>
      <if test="record.mtOthercostSubject != null" >
        mt_othercost_subject = #{record.mtOthercostSubject,jdbcType=VARCHAR},
      </if>
      <if test="record.mtOthersellSubject != null" >
        mt_othersell_subject = #{record.mtOthersellSubject,jdbcType=VARCHAR},
      </if>
      <if test="record.mtOthersendSubject != null" >
        mt_othersend_subject = #{record.mtOthersendSubject,jdbcType=VARCHAR},
      </if>
      <if test="record.mtRemark != null" >
        mt_remark = #{record.mtRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.mtAuditing != null" >
        mt_Auditing = #{record.mtAuditing,jdbcType=VARCHAR},
      </if>
      <if test="record.mtYn != null" >
        mt_yn = #{record.mtYn,jdbcType=VARCHAR},
      </if>
      <if test="record.mtCustom1 != null" >
        mt_custom1 = #{record.mtCustom1,jdbcType=VARCHAR},
      </if>
      <if test="record.mtCustom2 != null" >
        mt_custom2 = #{record.mtCustom2,jdbcType=VARCHAR},
      </if>
      <if test="record.mtCustom3 != null" >
        mt_custom3 = #{record.mtCustom3,jdbcType=VARCHAR},
      </if>
      <if test="record.mtCustom4 != null" >
        mt_custom4 = #{record.mtCustom4,jdbcType=VARCHAR},
      </if>
      <if test="record.mtCustom5 != null" >
        mt_custom5 = #{record.mtCustom5,jdbcType=VARCHAR},
      </if>
      <if test="record.mtCustom6 != null" >
        mt_custom6 = #{record.mtCustom6,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update material_type
    set mt_id = #{record.mtId,jdbcType=VARCHAR},
      mt_name = #{record.mtName,jdbcType=VARCHAR},
      mt_english_name = #{record.mtEnglishName,jdbcType=VARCHAR},
      mt_save_subject = #{record.mtSaveSubject,jdbcType=VARCHAR},
      mt_subject_a = #{record.mtSubjectA,jdbcType=VARCHAR},
      mt_subject_b = #{record.mtSubjectB,jdbcType=VARCHAR},
      mt_subject_c = #{record.mtSubjectC,jdbcType=VARCHAR},
      mt_salein_subject = #{record.mtSaleinSubject,jdbcType=VARCHAR},
      mt_salecost_subject = #{record.mtSalecostSubject,jdbcType=VARCHAR},
      mt_otherin_subject = #{record.mtOtherinSubject,jdbcType=VARCHAR},
      mt_othercost_subject = #{record.mtOthercostSubject,jdbcType=VARCHAR},
      mt_othersell_subject = #{record.mtOthersellSubject,jdbcType=VARCHAR},
      mt_othersend_subject = #{record.mtOthersendSubject,jdbcType=VARCHAR},
      mt_remark = #{record.mtRemark,jdbcType=VARCHAR},
      mt_Auditing = #{record.mtAuditing,jdbcType=VARCHAR},
      mt_yn = #{record.mtYn,jdbcType=VARCHAR},
      mt_custom1 = #{record.mtCustom1,jdbcType=VARCHAR},
      mt_custom2 = #{record.mtCustom2,jdbcType=VARCHAR},
      mt_custom3 = #{record.mtCustom3,jdbcType=VARCHAR},
      mt_custom4 = #{record.mtCustom4,jdbcType=VARCHAR},
      mt_custom5 = #{record.mtCustom5,jdbcType=VARCHAR},
      mt_custom6 = #{record.mtCustom6,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.MaterialType" >
    update material_type
    <set >
      <if test="mtName != null" >
        mt_name = #{mtName,jdbcType=VARCHAR},
      </if>
      <if test="mtEnglishName != null" >
        mt_english_name = #{mtEnglishName,jdbcType=VARCHAR},
      </if>
      <if test="mtSaveSubject != null" >
        mt_save_subject = #{mtSaveSubject,jdbcType=VARCHAR},
      </if>
      <if test="mtSubjectA != null" >
        mt_subject_a = #{mtSubjectA,jdbcType=VARCHAR},
      </if>
      <if test="mtSubjectB != null" >
        mt_subject_b = #{mtSubjectB,jdbcType=VARCHAR},
      </if>
      <if test="mtSubjectC != null" >
        mt_subject_c = #{mtSubjectC,jdbcType=VARCHAR},
      </if>
      <if test="mtSaleinSubject != null" >
        mt_salein_subject = #{mtSaleinSubject,jdbcType=VARCHAR},
      </if>
      <if test="mtSalecostSubject != null" >
        mt_salecost_subject = #{mtSalecostSubject,jdbcType=VARCHAR},
      </if>
      <if test="mtOtherinSubject != null" >
        mt_otherin_subject = #{mtOtherinSubject,jdbcType=VARCHAR},
      </if>
      <if test="mtOthercostSubject != null" >
        mt_othercost_subject = #{mtOthercostSubject,jdbcType=VARCHAR},
      </if>
      <if test="mtOthersellSubject != null" >
        mt_othersell_subject = #{mtOthersellSubject,jdbcType=VARCHAR},
      </if>
      <if test="mtOthersendSubject != null" >
        mt_othersend_subject = #{mtOthersendSubject,jdbcType=VARCHAR},
      </if>
      <if test="mtRemark != null" >
        mt_remark = #{mtRemark,jdbcType=VARCHAR},
      </if>
      <if test="mtAuditing != null" >
        mt_Auditing = #{mtAuditing,jdbcType=VARCHAR},
      </if>
      <if test="mtYn != null" >
        mt_yn = #{mtYn,jdbcType=VARCHAR},
      </if>
      <if test="mtCustom1 != null" >
        mt_custom1 = #{mtCustom1,jdbcType=VARCHAR},
      </if>
      <if test="mtCustom2 != null" >
        mt_custom2 = #{mtCustom2,jdbcType=VARCHAR},
      </if>
      <if test="mtCustom3 != null" >
        mt_custom3 = #{mtCustom3,jdbcType=VARCHAR},
      </if>
      <if test="mtCustom4 != null" >
        mt_custom4 = #{mtCustom4,jdbcType=VARCHAR},
      </if>
      <if test="mtCustom5 != null" >
        mt_custom5 = #{mtCustom5,jdbcType=VARCHAR},
      </if>
      <if test="mtCustom6 != null" >
        mt_custom6 = #{mtCustom6,jdbcType=VARCHAR},
      </if>
    </set>
    where mt_id = #{mtId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.MaterialType" >
    update material_type
    set mt_name = #{mtName,jdbcType=VARCHAR},
      mt_english_name = #{mtEnglishName,jdbcType=VARCHAR},
      mt_save_subject = #{mtSaveSubject,jdbcType=VARCHAR},
      mt_subject_a = #{mtSubjectA,jdbcType=VARCHAR},
      mt_subject_b = #{mtSubjectB,jdbcType=VARCHAR},
      mt_subject_c = #{mtSubjectC,jdbcType=VARCHAR},
      mt_salein_subject = #{mtSaleinSubject,jdbcType=VARCHAR},
      mt_salecost_subject = #{mtSalecostSubject,jdbcType=VARCHAR},
      mt_otherin_subject = #{mtOtherinSubject,jdbcType=VARCHAR},
      mt_othercost_subject = #{mtOthercostSubject,jdbcType=VARCHAR},
      mt_othersell_subject = #{mtOthersellSubject,jdbcType=VARCHAR},
      mt_othersend_subject = #{mtOthersendSubject,jdbcType=VARCHAR},
      mt_remark = #{mtRemark,jdbcType=VARCHAR},
      mt_Auditing = #{mtAuditing,jdbcType=VARCHAR},
      mt_yn = #{mtYn,jdbcType=VARCHAR},
      mt_custom1 = #{mtCustom1,jdbcType=VARCHAR},
      mt_custom2 = #{mtCustom2,jdbcType=VARCHAR},
      mt_custom3 = #{mtCustom3,jdbcType=VARCHAR},
      mt_custom4 = #{mtCustom4,jdbcType=VARCHAR},
      mt_custom5 = #{mtCustom5,jdbcType=VARCHAR},
      mt_custom6 = #{mtCustom6,jdbcType=VARCHAR}
    where mt_id = #{mtId,jdbcType=VARCHAR}
  </update>
</mapper>