<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.SalesQuotationDetailsMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.SalesQuotationDetails" >
    <id column="ziid" property="ziid" jdbcType="INTEGER" />
    <result column="zuid" property="zuid" jdbcType="VARCHAR" />
    <result column="matter_id" property="matterId" jdbcType="VARCHAR" />
    <result column="engname" property="engname" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="include_tax" property="includeTax" jdbcType="VARCHAR" />
    <result column="count" property="count" jdbcType="DOUBLE" />
    <result column="zqUnitPrice" property="zqunitprice" jdbcType="DOUBLE" />
    <result column="Discount" property="discount" jdbcType="DOUBLE" />
    <result column="UnitPrice" property="unitprice" jdbcType="DOUBLE" />
    <result column="Sqd_Price" property="sqdPrice" jdbcType="DOUBLE" />
    <result column="TaxRate" property="taxrate" jdbcType="REAL" />
    <result column="Taxlimit" property="taxlimit" jdbcType="DOUBLE" />
    <result column="TaxInclusivePrice" property="taxinclusiveprice" jdbcType="DOUBLE" />
    <result column="Complimentart" property="complimentart" jdbcType="INTEGER" />
    <result column="ItemRemark" property="itemremark" jdbcType="VARCHAR" />
    <result column="auditing" property="auditing" jdbcType="INTEGER" />
    <result column="delet" property="delet" jdbcType="INTEGER" />
    <result column="SourceList" property="sourcelist" jdbcType="VARCHAR" />
    <result column="SourceNumber" property="sourcenumber" jdbcType="VARCHAR" />
    <result column="custom3" property="custom3" jdbcType="VARCHAR" />
    <result column="custom4" property="custom4" jdbcType="VARCHAR" />
    <result column="custom5" property="custom5" jdbcType="VARCHAR" />
    <result column="custom6" property="custom6" jdbcType="VARCHAR" />
    <result column="custom1" property="custom1" jdbcType="VARCHAR" />
    <result column="custom2" property="custom2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ziid, zuid, matter_id, engname, remark, include_tax, count, zqUnitPrice, Discount, 
    UnitPrice, Sqd_Price, TaxRate, Taxlimit, TaxInclusivePrice, Complimentart, ItemRemark, 
    auditing, delet, SourceList, SourceNumber, custom3, custom4, custom5, custom6, custom1, 
    custom2
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.SalesQuotationDetailsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sales_quotation_details
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sales_quotation_details
    where ziid = #{ziid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sales_quotation_details
    where ziid = #{ziid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.SalesQuotationDetailsExample" >
    delete from sales_quotation_details
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.SalesQuotationDetails" >
    insert into sales_quotation_details (ziid, zuid, matter_id, 
      engname, remark, include_tax, 
      count, zqUnitPrice, Discount, 
      UnitPrice, Sqd_Price, TaxRate, 
      Taxlimit, TaxInclusivePrice, Complimentart, 
      ItemRemark, auditing, delet, 
      SourceList, SourceNumber, custom3, 
      custom4, custom5, custom6, 
      custom1, custom2)
    values (#{ziid,jdbcType=INTEGER}, #{zuid,jdbcType=VARCHAR}, #{matterId,jdbcType=VARCHAR}, 
      #{engname,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{includeTax,jdbcType=VARCHAR}, 
      #{count,jdbcType=DOUBLE}, #{zqunitprice,jdbcType=DOUBLE}, #{discount,jdbcType=DOUBLE}, 
      #{unitprice,jdbcType=DOUBLE}, #{sqdPrice,jdbcType=DOUBLE}, #{taxrate,jdbcType=REAL}, 
      #{taxlimit,jdbcType=DOUBLE}, #{taxinclusiveprice,jdbcType=DOUBLE}, #{complimentart,jdbcType=INTEGER}, 
      #{itemremark,jdbcType=VARCHAR}, #{auditing,jdbcType=INTEGER}, #{delet,jdbcType=INTEGER}, 
      #{sourcelist,jdbcType=VARCHAR}, #{sourcenumber,jdbcType=VARCHAR}, #{custom3,jdbcType=VARCHAR}, 
      #{custom4,jdbcType=VARCHAR}, #{custom5,jdbcType=VARCHAR}, #{custom6,jdbcType=VARCHAR}, 
      #{custom1,jdbcType=VARCHAR}, #{custom2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.SalesQuotationDetails" >
    insert into sales_quotation_details
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ziid != null" >
        ziid,
      </if>
      <if test="zuid != null" >
        zuid,
      </if>
      <if test="matterId != null" >
        matter_id,
      </if>
      <if test="engname != null" >
        engname,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="includeTax != null" >
        include_tax,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="zqunitprice != null" >
        zqUnitPrice,
      </if>
      <if test="discount != null" >
        Discount,
      </if>
      <if test="unitprice != null" >
        UnitPrice,
      </if>
      <if test="sqdPrice != null" >
        Sqd_Price,
      </if>
      <if test="taxrate != null" >
        TaxRate,
      </if>
      <if test="taxlimit != null" >
        Taxlimit,
      </if>
      <if test="taxinclusiveprice != null" >
        TaxInclusivePrice,
      </if>
      <if test="complimentart != null" >
        Complimentart,
      </if>
      <if test="itemremark != null" >
        ItemRemark,
      </if>
      <if test="auditing != null" >
        auditing,
      </if>
      <if test="delet != null" >
        delet,
      </if>
      <if test="sourcelist != null" >
        SourceList,
      </if>
      <if test="sourcenumber != null" >
        SourceNumber,
      </if>
      <if test="custom3 != null" >
        custom3,
      </if>
      <if test="custom4 != null" >
        custom4,
      </if>
      <if test="custom5 != null" >
        custom5,
      </if>
      <if test="custom6 != null" >
        custom6,
      </if>
      <if test="custom1 != null" >
        custom1,
      </if>
      <if test="custom2 != null" >
        custom2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ziid != null" >
        #{ziid,jdbcType=INTEGER},
      </if>
      <if test="zuid != null" >
        #{zuid,jdbcType=VARCHAR},
      </if>
      <if test="matterId != null" >
        #{matterId,jdbcType=VARCHAR},
      </if>
      <if test="engname != null" >
        #{engname,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="includeTax != null" >
        #{includeTax,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        #{count,jdbcType=DOUBLE},
      </if>
      <if test="zqunitprice != null" >
        #{zqunitprice,jdbcType=DOUBLE},
      </if>
      <if test="discount != null" >
        #{discount,jdbcType=DOUBLE},
      </if>
      <if test="unitprice != null" >
        #{unitprice,jdbcType=DOUBLE},
      </if>
      <if test="sqdPrice != null" >
        #{sqdPrice,jdbcType=DOUBLE},
      </if>
      <if test="taxrate != null" >
        #{taxrate,jdbcType=REAL},
      </if>
      <if test="taxlimit != null" >
        #{taxlimit,jdbcType=DOUBLE},
      </if>
      <if test="taxinclusiveprice != null" >
        #{taxinclusiveprice,jdbcType=DOUBLE},
      </if>
      <if test="complimentart != null" >
        #{complimentart,jdbcType=INTEGER},
      </if>
      <if test="itemremark != null" >
        #{itemremark,jdbcType=VARCHAR},
      </if>
      <if test="auditing != null" >
        #{auditing,jdbcType=INTEGER},
      </if>
      <if test="delet != null" >
        #{delet,jdbcType=INTEGER},
      </if>
      <if test="sourcelist != null" >
        #{sourcelist,jdbcType=VARCHAR},
      </if>
      <if test="sourcenumber != null" >
        #{sourcenumber,jdbcType=VARCHAR},
      </if>
      <if test="custom3 != null" >
        #{custom3,jdbcType=VARCHAR},
      </if>
      <if test="custom4 != null" >
        #{custom4,jdbcType=VARCHAR},
      </if>
      <if test="custom5 != null" >
        #{custom5,jdbcType=VARCHAR},
      </if>
      <if test="custom6 != null" >
        #{custom6,jdbcType=VARCHAR},
      </if>
      <if test="custom1 != null" >
        #{custom1,jdbcType=VARCHAR},
      </if>
      <if test="custom2 != null" >
        #{custom2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.SalesQuotationDetailsExample" resultType="java.lang.Integer" >
    select count(*) from sales_quotation_details
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sales_quotation_details
    <set >
      <if test="record.ziid != null" >
        ziid = #{record.ziid,jdbcType=INTEGER},
      </if>
      <if test="record.zuid != null" >
        zuid = #{record.zuid,jdbcType=VARCHAR},
      </if>
      <if test="record.matterId != null" >
        matter_id = #{record.matterId,jdbcType=VARCHAR},
      </if>
      <if test="record.engname != null" >
        engname = #{record.engname,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.includeTax != null" >
        include_tax = #{record.includeTax,jdbcType=VARCHAR},
      </if>
      <if test="record.count != null" >
        count = #{record.count,jdbcType=DOUBLE},
      </if>
      <if test="record.zqunitprice != null" >
        zqUnitPrice = #{record.zqunitprice,jdbcType=DOUBLE},
      </if>
      <if test="record.discount != null" >
        Discount = #{record.discount,jdbcType=DOUBLE},
      </if>
      <if test="record.unitprice != null" >
        UnitPrice = #{record.unitprice,jdbcType=DOUBLE},
      </if>
      <if test="record.sqdPrice != null" >
        Sqd_Price = #{record.sqdPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.taxrate != null" >
        TaxRate = #{record.taxrate,jdbcType=REAL},
      </if>
      <if test="record.taxlimit != null" >
        Taxlimit = #{record.taxlimit,jdbcType=DOUBLE},
      </if>
      <if test="record.taxinclusiveprice != null" >
        TaxInclusivePrice = #{record.taxinclusiveprice,jdbcType=DOUBLE},
      </if>
      <if test="record.complimentart != null" >
        Complimentart = #{record.complimentart,jdbcType=INTEGER},
      </if>
      <if test="record.itemremark != null" >
        ItemRemark = #{record.itemremark,jdbcType=VARCHAR},
      </if>
      <if test="record.auditing != null" >
        auditing = #{record.auditing,jdbcType=INTEGER},
      </if>
      <if test="record.delet != null" >
        delet = #{record.delet,jdbcType=INTEGER},
      </if>
      <if test="record.sourcelist != null" >
        SourceList = #{record.sourcelist,jdbcType=VARCHAR},
      </if>
      <if test="record.sourcenumber != null" >
        SourceNumber = #{record.sourcenumber,jdbcType=VARCHAR},
      </if>
      <if test="record.custom3 != null" >
        custom3 = #{record.custom3,jdbcType=VARCHAR},
      </if>
      <if test="record.custom4 != null" >
        custom4 = #{record.custom4,jdbcType=VARCHAR},
      </if>
      <if test="record.custom5 != null" >
        custom5 = #{record.custom5,jdbcType=VARCHAR},
      </if>
      <if test="record.custom6 != null" >
        custom6 = #{record.custom6,jdbcType=VARCHAR},
      </if>
      <if test="record.custom1 != null" >
        custom1 = #{record.custom1,jdbcType=VARCHAR},
      </if>
      <if test="record.custom2 != null" >
        custom2 = #{record.custom2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sales_quotation_details
    set ziid = #{record.ziid,jdbcType=INTEGER},
      zuid = #{record.zuid,jdbcType=VARCHAR},
      matter_id = #{record.matterId,jdbcType=VARCHAR},
      engname = #{record.engname,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      include_tax = #{record.includeTax,jdbcType=VARCHAR},
      count = #{record.count,jdbcType=DOUBLE},
      zqUnitPrice = #{record.zqunitprice,jdbcType=DOUBLE},
      Discount = #{record.discount,jdbcType=DOUBLE},
      UnitPrice = #{record.unitprice,jdbcType=DOUBLE},
      Sqd_Price = #{record.sqdPrice,jdbcType=DOUBLE},
      TaxRate = #{record.taxrate,jdbcType=REAL},
      Taxlimit = #{record.taxlimit,jdbcType=DOUBLE},
      TaxInclusivePrice = #{record.taxinclusiveprice,jdbcType=DOUBLE},
      Complimentart = #{record.complimentart,jdbcType=INTEGER},
      ItemRemark = #{record.itemremark,jdbcType=VARCHAR},
      auditing = #{record.auditing,jdbcType=INTEGER},
      delet = #{record.delet,jdbcType=INTEGER},
      SourceList = #{record.sourcelist,jdbcType=VARCHAR},
      SourceNumber = #{record.sourcenumber,jdbcType=VARCHAR},
      custom3 = #{record.custom3,jdbcType=VARCHAR},
      custom4 = #{record.custom4,jdbcType=VARCHAR},
      custom5 = #{record.custom5,jdbcType=VARCHAR},
      custom6 = #{record.custom6,jdbcType=VARCHAR},
      custom1 = #{record.custom1,jdbcType=VARCHAR},
      custom2 = #{record.custom2,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.SalesQuotationDetails" >
    update sales_quotation_details
    <set >
      <if test="zuid != null" >
        zuid = #{zuid,jdbcType=VARCHAR},
      </if>
      <if test="matterId != null" >
        matter_id = #{matterId,jdbcType=VARCHAR},
      </if>
      <if test="engname != null" >
        engname = #{engname,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="includeTax != null" >
        include_tax = #{includeTax,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=DOUBLE},
      </if>
      <if test="zqunitprice != null" >
        zqUnitPrice = #{zqunitprice,jdbcType=DOUBLE},
      </if>
      <if test="discount != null" >
        Discount = #{discount,jdbcType=DOUBLE},
      </if>
      <if test="unitprice != null" >
        UnitPrice = #{unitprice,jdbcType=DOUBLE},
      </if>
      <if test="sqdPrice != null" >
        Sqd_Price = #{sqdPrice,jdbcType=DOUBLE},
      </if>
      <if test="taxrate != null" >
        TaxRate = #{taxrate,jdbcType=REAL},
      </if>
      <if test="taxlimit != null" >
        Taxlimit = #{taxlimit,jdbcType=DOUBLE},
      </if>
      <if test="taxinclusiveprice != null" >
        TaxInclusivePrice = #{taxinclusiveprice,jdbcType=DOUBLE},
      </if>
      <if test="complimentart != null" >
        Complimentart = #{complimentart,jdbcType=INTEGER},
      </if>
      <if test="itemremark != null" >
        ItemRemark = #{itemremark,jdbcType=VARCHAR},
      </if>
      <if test="auditing != null" >
        auditing = #{auditing,jdbcType=INTEGER},
      </if>
      <if test="delet != null" >
        delet = #{delet,jdbcType=INTEGER},
      </if>
      <if test="sourcelist != null" >
        SourceList = #{sourcelist,jdbcType=VARCHAR},
      </if>
      <if test="sourcenumber != null" >
        SourceNumber = #{sourcenumber,jdbcType=VARCHAR},
      </if>
      <if test="custom3 != null" >
        custom3 = #{custom3,jdbcType=VARCHAR},
      </if>
      <if test="custom4 != null" >
        custom4 = #{custom4,jdbcType=VARCHAR},
      </if>
      <if test="custom5 != null" >
        custom5 = #{custom5,jdbcType=VARCHAR},
      </if>
      <if test="custom6 != null" >
        custom6 = #{custom6,jdbcType=VARCHAR},
      </if>
      <if test="custom1 != null" >
        custom1 = #{custom1,jdbcType=VARCHAR},
      </if>
      <if test="custom2 != null" >
        custom2 = #{custom2,jdbcType=VARCHAR},
      </if>
    </set>
    where ziid = #{ziid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.SalesQuotationDetails" >
    update sales_quotation_details
    set zuid = #{zuid,jdbcType=VARCHAR},
      matter_id = #{matterId,jdbcType=VARCHAR},
      engname = #{engname,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      include_tax = #{includeTax,jdbcType=VARCHAR},
      count = #{count,jdbcType=DOUBLE},
      zqUnitPrice = #{zqunitprice,jdbcType=DOUBLE},
      Discount = #{discount,jdbcType=DOUBLE},
      UnitPrice = #{unitprice,jdbcType=DOUBLE},
      Sqd_Price = #{sqdPrice,jdbcType=DOUBLE},
      TaxRate = #{taxrate,jdbcType=REAL},
      Taxlimit = #{taxlimit,jdbcType=DOUBLE},
      TaxInclusivePrice = #{taxinclusiveprice,jdbcType=DOUBLE},
      Complimentart = #{complimentart,jdbcType=INTEGER},
      ItemRemark = #{itemremark,jdbcType=VARCHAR},
      auditing = #{auditing,jdbcType=INTEGER},
      delet = #{delet,jdbcType=INTEGER},
      SourceList = #{sourcelist,jdbcType=VARCHAR},
      SourceNumber = #{sourcenumber,jdbcType=VARCHAR},
      custom3 = #{custom3,jdbcType=VARCHAR},
      custom4 = #{custom4,jdbcType=VARCHAR},
      custom5 = #{custom5,jdbcType=VARCHAR},
      custom6 = #{custom6,jdbcType=VARCHAR},
      custom1 = #{custom1,jdbcType=VARCHAR},
      custom2 = #{custom2,jdbcType=VARCHAR}
    where ziid = #{ziid,jdbcType=INTEGER}
  </update>
</mapper>