<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.SalesquotationMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.Salesquotation" >
    <id column="Sq_documentnumber" property="sqDocumentnumber" jdbcType="VARCHAR" />
    <result column="Sq_Document_time" property="sqDocumentTime" jdbcType="DATE" />
    <result column="Sq_Coin_arewell" property="sqCoinArewell" jdbcType="VARCHAR" />
    <result column="Sq_Exchange_rate" property="sqExchangeRate" jdbcType="DOUBLE" />
    <result column="Sq_Effective_time" property="sqEffectiveTime" jdbcType="DATE" />
    <result column="Sq_tax" property="sqTax" jdbcType="INTEGER" />
    <result column="Sq_Customer_number" property="sqCustomerNumber" jdbcType="VARCHAR" />
    <result column="Sq_Delivery_address" property="sqDeliveryAddress" jdbcType="VARCHAR" />
    <result column="Sq_Business_personnel" property="sqBusinessPersonnel" jdbcType="VARCHAR" />
    <result column="Sq_Subordinate_department" property="sqSubordinateDepartment" jdbcType="VARCHAR" />
    <result column="Sq_monograph" property="sqMonograph" jdbcType="VARCHAR" />
    <result column="Sq_reviewers" property="sqReviewers" jdbcType="VARCHAR" />
    <result column="Sq_Spare1" property="sqSpare1" jdbcType="VARCHAR" />
    <result column="Sq_Spare2" property="sqSpare2" jdbcType="VARCHAR" />
    <result column="Sq_Spare3" property="sqSpare3" jdbcType="VARCHAR" />
    <result column="Sq_watchword" property="sqWatchword" jdbcType="VARCHAR" />
    <result column="Sq_Tailclause" property="sqTailclause" jdbcType="VARCHAR" />
    <result column="Sq_Self_bound_column1" property="sqSelfBoundColumn1" jdbcType="VARCHAR" />
    <result column="Sq_Self_bound_column2" property="sqSelfBoundColumn2" jdbcType="VARCHAR" />
    <result column="Sq_remark" property="sqRemark" jdbcType="VARCHAR" />
    <result column="Sq_static" property="sqStatic" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Sq_documentnumber, Sq_Document_time, Sq_Coin_arewell, Sq_Exchange_rate, Sq_Effective_time, 
    Sq_tax, Sq_Customer_number, Sq_Delivery_address, Sq_Business_personnel, Sq_Subordinate_department, 
    Sq_monograph, Sq_reviewers, Sq_Spare1, Sq_Spare2, Sq_Spare3, Sq_watchword, Sq_Tailclause, 
    Sq_Self_bound_column1, Sq_Self_bound_column2, Sq_remark, Sq_static
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.SalesquotationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from salesquotation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from salesquotation
    where Sq_documentnumber = #{sqDocumentnumber,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from salesquotation
    where Sq_documentnumber = #{sqDocumentnumber,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.SalesquotationExample" >
    delete from salesquotation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.Salesquotation" >
    insert into salesquotation (Sq_documentnumber, Sq_Document_time, Sq_Coin_arewell, 
      Sq_Exchange_rate, Sq_Effective_time, Sq_tax, 
      Sq_Customer_number, Sq_Delivery_address, Sq_Business_personnel, 
      Sq_Subordinate_department, Sq_monograph, Sq_reviewers, 
      Sq_Spare1, Sq_Spare2, Sq_Spare3, 
      Sq_watchword, Sq_Tailclause, Sq_Self_bound_column1, 
      Sq_Self_bound_column2, Sq_remark, Sq_static
      )
    values (#{sqDocumentnumber,jdbcType=VARCHAR}, #{sqDocumentTime,jdbcType=DATE}, #{sqCoinArewell,jdbcType=VARCHAR}, 
      #{sqExchangeRate,jdbcType=DOUBLE}, #{sqEffectiveTime,jdbcType=DATE}, #{sqTax,jdbcType=INTEGER}, 
      #{sqCustomerNumber,jdbcType=VARCHAR}, #{sqDeliveryAddress,jdbcType=VARCHAR}, #{sqBusinessPersonnel,jdbcType=VARCHAR}, 
      #{sqSubordinateDepartment,jdbcType=VARCHAR}, #{sqMonograph,jdbcType=VARCHAR}, #{sqReviewers,jdbcType=VARCHAR}, 
      #{sqSpare1,jdbcType=VARCHAR}, #{sqSpare2,jdbcType=VARCHAR}, #{sqSpare3,jdbcType=VARCHAR}, 
      #{sqWatchword,jdbcType=VARCHAR}, #{sqTailclause,jdbcType=VARCHAR}, #{sqSelfBoundColumn1,jdbcType=VARCHAR}, 
      #{sqSelfBoundColumn2,jdbcType=VARCHAR}, #{sqRemark,jdbcType=VARCHAR}, #{sqStatic,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.Salesquotation" >
    insert into salesquotation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sqDocumentnumber != null" >
        Sq_documentnumber,
      </if>
      <if test="sqDocumentTime != null" >
        Sq_Document_time,
      </if>
      <if test="sqCoinArewell != null" >
        Sq_Coin_arewell,
      </if>
      <if test="sqExchangeRate != null" >
        Sq_Exchange_rate,
      </if>
      <if test="sqEffectiveTime != null" >
        Sq_Effective_time,
      </if>
      <if test="sqTax != null" >
        Sq_tax,
      </if>
      <if test="sqCustomerNumber != null" >
        Sq_Customer_number,
      </if>
      <if test="sqDeliveryAddress != null" >
        Sq_Delivery_address,
      </if>
      <if test="sqBusinessPersonnel != null" >
        Sq_Business_personnel,
      </if>
      <if test="sqSubordinateDepartment != null" >
        Sq_Subordinate_department,
      </if>
      <if test="sqMonograph != null" >
        Sq_monograph,
      </if>
      <if test="sqReviewers != null" >
        Sq_reviewers,
      </if>
      <if test="sqSpare1 != null" >
        Sq_Spare1,
      </if>
      <if test="sqSpare2 != null" >
        Sq_Spare2,
      </if>
      <if test="sqSpare3 != null" >
        Sq_Spare3,
      </if>
      <if test="sqWatchword != null" >
        Sq_watchword,
      </if>
      <if test="sqTailclause != null" >
        Sq_Tailclause,
      </if>
      <if test="sqSelfBoundColumn1 != null" >
        Sq_Self_bound_column1,
      </if>
      <if test="sqSelfBoundColumn2 != null" >
        Sq_Self_bound_column2,
      </if>
      <if test="sqRemark != null" >
        Sq_remark,
      </if>
      <if test="sqStatic != null" >
        Sq_static,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sqDocumentnumber != null" >
        #{sqDocumentnumber,jdbcType=VARCHAR},
      </if>
      <if test="sqDocumentTime != null" >
        #{sqDocumentTime,jdbcType=DATE},
      </if>
      <if test="sqCoinArewell != null" >
        #{sqCoinArewell,jdbcType=VARCHAR},
      </if>
      <if test="sqExchangeRate != null" >
        #{sqExchangeRate,jdbcType=DOUBLE},
      </if>
      <if test="sqEffectiveTime != null" >
        #{sqEffectiveTime,jdbcType=DATE},
      </if>
      <if test="sqTax != null" >
        #{sqTax,jdbcType=INTEGER},
      </if>
      <if test="sqCustomerNumber != null" >
        #{sqCustomerNumber,jdbcType=VARCHAR},
      </if>
      <if test="sqDeliveryAddress != null" >
        #{sqDeliveryAddress,jdbcType=VARCHAR},
      </if>
      <if test="sqBusinessPersonnel != null" >
        #{sqBusinessPersonnel,jdbcType=VARCHAR},
      </if>
      <if test="sqSubordinateDepartment != null" >
        #{sqSubordinateDepartment,jdbcType=VARCHAR},
      </if>
      <if test="sqMonograph != null" >
        #{sqMonograph,jdbcType=VARCHAR},
      </if>
      <if test="sqReviewers != null" >
        #{sqReviewers,jdbcType=VARCHAR},
      </if>
      <if test="sqSpare1 != null" >
        #{sqSpare1,jdbcType=VARCHAR},
      </if>
      <if test="sqSpare2 != null" >
        #{sqSpare2,jdbcType=VARCHAR},
      </if>
      <if test="sqSpare3 != null" >
        #{sqSpare3,jdbcType=VARCHAR},
      </if>
      <if test="sqWatchword != null" >
        #{sqWatchword,jdbcType=VARCHAR},
      </if>
      <if test="sqTailclause != null" >
        #{sqTailclause,jdbcType=VARCHAR},
      </if>
      <if test="sqSelfBoundColumn1 != null" >
        #{sqSelfBoundColumn1,jdbcType=VARCHAR},
      </if>
      <if test="sqSelfBoundColumn2 != null" >
        #{sqSelfBoundColumn2,jdbcType=VARCHAR},
      </if>
      <if test="sqRemark != null" >
        #{sqRemark,jdbcType=VARCHAR},
      </if>
      <if test="sqStatic != null" >
        #{sqStatic,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.SalesquotationExample" resultType="java.lang.Integer" >
    select count(*) from salesquotation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update salesquotation
    <set >
      <if test="record.sqDocumentnumber != null" >
        Sq_documentnumber = #{record.sqDocumentnumber,jdbcType=VARCHAR},
      </if>
      <if test="record.sqDocumentTime != null" >
        Sq_Document_time = #{record.sqDocumentTime,jdbcType=DATE},
      </if>
      <if test="record.sqCoinArewell != null" >
        Sq_Coin_arewell = #{record.sqCoinArewell,jdbcType=VARCHAR},
      </if>
      <if test="record.sqExchangeRate != null" >
        Sq_Exchange_rate = #{record.sqExchangeRate,jdbcType=DOUBLE},
      </if>
      <if test="record.sqEffectiveTime != null" >
        Sq_Effective_time = #{record.sqEffectiveTime,jdbcType=DATE},
      </if>
      <if test="record.sqTax != null" >
        Sq_tax = #{record.sqTax,jdbcType=INTEGER},
      </if>
      <if test="record.sqCustomerNumber != null" >
        Sq_Customer_number = #{record.sqCustomerNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.sqDeliveryAddress != null" >
        Sq_Delivery_address = #{record.sqDeliveryAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.sqBusinessPersonnel != null" >
        Sq_Business_personnel = #{record.sqBusinessPersonnel,jdbcType=VARCHAR},
      </if>
      <if test="record.sqSubordinateDepartment != null" >
        Sq_Subordinate_department = #{record.sqSubordinateDepartment,jdbcType=VARCHAR},
      </if>
      <if test="record.sqMonograph != null" >
        Sq_monograph = #{record.sqMonograph,jdbcType=VARCHAR},
      </if>
      <if test="record.sqReviewers != null" >
        Sq_reviewers = #{record.sqReviewers,jdbcType=VARCHAR},
      </if>
      <if test="record.sqSpare1 != null" >
        Sq_Spare1 = #{record.sqSpare1,jdbcType=VARCHAR},
      </if>
      <if test="record.sqSpare2 != null" >
        Sq_Spare2 = #{record.sqSpare2,jdbcType=VARCHAR},
      </if>
      <if test="record.sqSpare3 != null" >
        Sq_Spare3 = #{record.sqSpare3,jdbcType=VARCHAR},
      </if>
      <if test="record.sqWatchword != null" >
        Sq_watchword = #{record.sqWatchword,jdbcType=VARCHAR},
      </if>
      <if test="record.sqTailclause != null" >
        Sq_Tailclause = #{record.sqTailclause,jdbcType=VARCHAR},
      </if>
      <if test="record.sqSelfBoundColumn1 != null" >
        Sq_Self_bound_column1 = #{record.sqSelfBoundColumn1,jdbcType=VARCHAR},
      </if>
      <if test="record.sqSelfBoundColumn2 != null" >
        Sq_Self_bound_column2 = #{record.sqSelfBoundColumn2,jdbcType=VARCHAR},
      </if>
      <if test="record.sqRemark != null" >
        Sq_remark = #{record.sqRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.sqStatic != null" >
        Sq_static = #{record.sqStatic,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update salesquotation
    set Sq_documentnumber = #{record.sqDocumentnumber,jdbcType=VARCHAR},
      Sq_Document_time = #{record.sqDocumentTime,jdbcType=DATE},
      Sq_Coin_arewell = #{record.sqCoinArewell,jdbcType=VARCHAR},
      Sq_Exchange_rate = #{record.sqExchangeRate,jdbcType=DOUBLE},
      Sq_Effective_time = #{record.sqEffectiveTime,jdbcType=DATE},
      Sq_tax = #{record.sqTax,jdbcType=INTEGER},
      Sq_Customer_number = #{record.sqCustomerNumber,jdbcType=VARCHAR},
      Sq_Delivery_address = #{record.sqDeliveryAddress,jdbcType=VARCHAR},
      Sq_Business_personnel = #{record.sqBusinessPersonnel,jdbcType=VARCHAR},
      Sq_Subordinate_department = #{record.sqSubordinateDepartment,jdbcType=VARCHAR},
      Sq_monograph = #{record.sqMonograph,jdbcType=VARCHAR},
      Sq_reviewers = #{record.sqReviewers,jdbcType=VARCHAR},
      Sq_Spare1 = #{record.sqSpare1,jdbcType=VARCHAR},
      Sq_Spare2 = #{record.sqSpare2,jdbcType=VARCHAR},
      Sq_Spare3 = #{record.sqSpare3,jdbcType=VARCHAR},
      Sq_watchword = #{record.sqWatchword,jdbcType=VARCHAR},
      Sq_Tailclause = #{record.sqTailclause,jdbcType=VARCHAR},
      Sq_Self_bound_column1 = #{record.sqSelfBoundColumn1,jdbcType=VARCHAR},
      Sq_Self_bound_column2 = #{record.sqSelfBoundColumn2,jdbcType=VARCHAR},
      Sq_remark = #{record.sqRemark,jdbcType=VARCHAR},
      Sq_static = #{record.sqStatic,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.Salesquotation" >
    update salesquotation
    <set >
      <if test="sqDocumentTime != null" >
        Sq_Document_time = #{sqDocumentTime,jdbcType=DATE},
      </if>
      <if test="sqCoinArewell != null" >
        Sq_Coin_arewell = #{sqCoinArewell,jdbcType=VARCHAR},
      </if>
      <if test="sqExchangeRate != null" >
        Sq_Exchange_rate = #{sqExchangeRate,jdbcType=DOUBLE},
      </if>
      <if test="sqEffectiveTime != null" >
        Sq_Effective_time = #{sqEffectiveTime,jdbcType=DATE},
      </if>
      <if test="sqTax != null" >
        Sq_tax = #{sqTax,jdbcType=INTEGER},
      </if>
      <if test="sqCustomerNumber != null" >
        Sq_Customer_number = #{sqCustomerNumber,jdbcType=VARCHAR},
      </if>
      <if test="sqDeliveryAddress != null" >
        Sq_Delivery_address = #{sqDeliveryAddress,jdbcType=VARCHAR},
      </if>
      <if test="sqBusinessPersonnel != null" >
        Sq_Business_personnel = #{sqBusinessPersonnel,jdbcType=VARCHAR},
      </if>
      <if test="sqSubordinateDepartment != null" >
        Sq_Subordinate_department = #{sqSubordinateDepartment,jdbcType=VARCHAR},
      </if>
      <if test="sqMonograph != null" >
        Sq_monograph = #{sqMonograph,jdbcType=VARCHAR},
      </if>
      <if test="sqReviewers != null" >
        Sq_reviewers = #{sqReviewers,jdbcType=VARCHAR},
      </if>
      <if test="sqSpare1 != null" >
        Sq_Spare1 = #{sqSpare1,jdbcType=VARCHAR},
      </if>
      <if test="sqSpare2 != null" >
        Sq_Spare2 = #{sqSpare2,jdbcType=VARCHAR},
      </if>
      <if test="sqSpare3 != null" >
        Sq_Spare3 = #{sqSpare3,jdbcType=VARCHAR},
      </if>
      <if test="sqWatchword != null" >
        Sq_watchword = #{sqWatchword,jdbcType=VARCHAR},
      </if>
      <if test="sqTailclause != null" >
        Sq_Tailclause = #{sqTailclause,jdbcType=VARCHAR},
      </if>
      <if test="sqSelfBoundColumn1 != null" >
        Sq_Self_bound_column1 = #{sqSelfBoundColumn1,jdbcType=VARCHAR},
      </if>
      <if test="sqSelfBoundColumn2 != null" >
        Sq_Self_bound_column2 = #{sqSelfBoundColumn2,jdbcType=VARCHAR},
      </if>
      <if test="sqRemark != null" >
        Sq_remark = #{sqRemark,jdbcType=VARCHAR},
      </if>
      <if test="sqStatic != null" >
        Sq_static = #{sqStatic,jdbcType=INTEGER},
      </if>
    </set>
    where Sq_documentnumber = #{sqDocumentnumber,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.Salesquotation" >
    update salesquotation
    set Sq_Document_time = #{sqDocumentTime,jdbcType=DATE},
      Sq_Coin_arewell = #{sqCoinArewell,jdbcType=VARCHAR},
      Sq_Exchange_rate = #{sqExchangeRate,jdbcType=DOUBLE},
      Sq_Effective_time = #{sqEffectiveTime,jdbcType=DATE},
      Sq_tax = #{sqTax,jdbcType=INTEGER},
      Sq_Customer_number = #{sqCustomerNumber,jdbcType=VARCHAR},
      Sq_Delivery_address = #{sqDeliveryAddress,jdbcType=VARCHAR},
      Sq_Business_personnel = #{sqBusinessPersonnel,jdbcType=VARCHAR},
      Sq_Subordinate_department = #{sqSubordinateDepartment,jdbcType=VARCHAR},
      Sq_monograph = #{sqMonograph,jdbcType=VARCHAR},
      Sq_reviewers = #{sqReviewers,jdbcType=VARCHAR},
      Sq_Spare1 = #{sqSpare1,jdbcType=VARCHAR},
      Sq_Spare2 = #{sqSpare2,jdbcType=VARCHAR},
      Sq_Spare3 = #{sqSpare3,jdbcType=VARCHAR},
      Sq_watchword = #{sqWatchword,jdbcType=VARCHAR},
      Sq_Tailclause = #{sqTailclause,jdbcType=VARCHAR},
      Sq_Self_bound_column1 = #{sqSelfBoundColumn1,jdbcType=VARCHAR},
      Sq_Self_bound_column2 = #{sqSelfBoundColumn2,jdbcType=VARCHAR},
      Sq_remark = #{sqRemark,jdbcType=VARCHAR},
      Sq_static = #{sqStatic,jdbcType=INTEGER}
    where Sq_documentnumber = #{sqDocumentnumber,jdbcType=VARCHAR}
  </update>
</mapper>