<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.TaxItemsMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.TaxItems" >
    <id column="ti_id" property="tiId" jdbcType="VARCHAR" />
    <result column="ti_name" property="tiName" jdbcType="VARCHAR" />
    <result column="ti_english_name" property="tiEnglishName" jdbcType="VARCHAR" />
    <result column="ti_remark" property="tiRemark" jdbcType="VARCHAR" />
    <result column="ti_Auditing" property="tiAuditing" jdbcType="VARCHAR" />
    <result column="ti_yn" property="tiYn" jdbcType="VARCHAR" />
    <result column="ti_custom1" property="tiCustom1" jdbcType="VARCHAR" />
    <result column="ti_custom2" property="tiCustom2" jdbcType="VARCHAR" />
    <result column="ti_custom3" property="tiCustom3" jdbcType="VARCHAR" />
    <result column="ti_custom4" property="tiCustom4" jdbcType="VARCHAR" />
    <result column="ti_custom5" property="tiCustom5" jdbcType="VARCHAR" />
    <result column="ti_custom6" property="tiCustom6" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ti_id, ti_name, ti_english_name, ti_remark, ti_Auditing, ti_yn, ti_custom1, ti_custom2, 
    ti_custom3, ti_custom4, ti_custom5, ti_custom6
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.TaxItemsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tax_items
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tax_items
    where ti_id = #{tiId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tax_items
    where ti_id = #{tiId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.TaxItemsExample" >
    delete from tax_items
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.TaxItems" >
    insert into tax_items (ti_id, ti_name, ti_english_name, 
      ti_remark, ti_Auditing, ti_yn, 
      ti_custom1, ti_custom2, ti_custom3, 
      ti_custom4, ti_custom5, ti_custom6
      )
    values (#{tiId,jdbcType=VARCHAR}, #{tiName,jdbcType=VARCHAR}, #{tiEnglishName,jdbcType=VARCHAR}, 
      #{tiRemark,jdbcType=VARCHAR}, #{tiAuditing,jdbcType=VARCHAR}, #{tiYn,jdbcType=VARCHAR}, 
      #{tiCustom1,jdbcType=VARCHAR}, #{tiCustom2,jdbcType=VARCHAR}, #{tiCustom3,jdbcType=VARCHAR}, 
      #{tiCustom4,jdbcType=VARCHAR}, #{tiCustom5,jdbcType=VARCHAR}, #{tiCustom6,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.TaxItems" >
    insert into tax_items
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tiId != null" >
        ti_id,
      </if>
      <if test="tiName != null" >
        ti_name,
      </if>
      <if test="tiEnglishName != null" >
        ti_english_name,
      </if>
      <if test="tiRemark != null" >
        ti_remark,
      </if>
      <if test="tiAuditing != null" >
        ti_Auditing,
      </if>
      <if test="tiYn != null" >
        ti_yn,
      </if>
      <if test="tiCustom1 != null" >
        ti_custom1,
      </if>
      <if test="tiCustom2 != null" >
        ti_custom2,
      </if>
      <if test="tiCustom3 != null" >
        ti_custom3,
      </if>
      <if test="tiCustom4 != null" >
        ti_custom4,
      </if>
      <if test="tiCustom5 != null" >
        ti_custom5,
      </if>
      <if test="tiCustom6 != null" >
        ti_custom6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tiId != null" >
        #{tiId,jdbcType=VARCHAR},
      </if>
      <if test="tiName != null" >
        #{tiName,jdbcType=VARCHAR},
      </if>
      <if test="tiEnglishName != null" >
        #{tiEnglishName,jdbcType=VARCHAR},
      </if>
      <if test="tiRemark != null" >
        #{tiRemark,jdbcType=VARCHAR},
      </if>
      <if test="tiAuditing != null" >
        #{tiAuditing,jdbcType=VARCHAR},
      </if>
      <if test="tiYn != null" >
        #{tiYn,jdbcType=VARCHAR},
      </if>
      <if test="tiCustom1 != null" >
        #{tiCustom1,jdbcType=VARCHAR},
      </if>
      <if test="tiCustom2 != null" >
        #{tiCustom2,jdbcType=VARCHAR},
      </if>
      <if test="tiCustom3 != null" >
        #{tiCustom3,jdbcType=VARCHAR},
      </if>
      <if test="tiCustom4 != null" >
        #{tiCustom4,jdbcType=VARCHAR},
      </if>
      <if test="tiCustom5 != null" >
        #{tiCustom5,jdbcType=VARCHAR},
      </if>
      <if test="tiCustom6 != null" >
        #{tiCustom6,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.TaxItemsExample" resultType="java.lang.Integer" >
    select count(*) from tax_items
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tax_items
    <set >
      <if test="record.tiId != null" >
        ti_id = #{record.tiId,jdbcType=VARCHAR},
      </if>
      <if test="record.tiName != null" >
        ti_name = #{record.tiName,jdbcType=VARCHAR},
      </if>
      <if test="record.tiEnglishName != null" >
        ti_english_name = #{record.tiEnglishName,jdbcType=VARCHAR},
      </if>
      <if test="record.tiRemark != null" >
        ti_remark = #{record.tiRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.tiAuditing != null" >
        ti_Auditing = #{record.tiAuditing,jdbcType=VARCHAR},
      </if>
      <if test="record.tiYn != null" >
        ti_yn = #{record.tiYn,jdbcType=VARCHAR},
      </if>
      <if test="record.tiCustom1 != null" >
        ti_custom1 = #{record.tiCustom1,jdbcType=VARCHAR},
      </if>
      <if test="record.tiCustom2 != null" >
        ti_custom2 = #{record.tiCustom2,jdbcType=VARCHAR},
      </if>
      <if test="record.tiCustom3 != null" >
        ti_custom3 = #{record.tiCustom3,jdbcType=VARCHAR},
      </if>
      <if test="record.tiCustom4 != null" >
        ti_custom4 = #{record.tiCustom4,jdbcType=VARCHAR},
      </if>
      <if test="record.tiCustom5 != null" >
        ti_custom5 = #{record.tiCustom5,jdbcType=VARCHAR},
      </if>
      <if test="record.tiCustom6 != null" >
        ti_custom6 = #{record.tiCustom6,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tax_items
    set ti_id = #{record.tiId,jdbcType=VARCHAR},
      ti_name = #{record.tiName,jdbcType=VARCHAR},
      ti_english_name = #{record.tiEnglishName,jdbcType=VARCHAR},
      ti_remark = #{record.tiRemark,jdbcType=VARCHAR},
      ti_Auditing = #{record.tiAuditing,jdbcType=VARCHAR},
      ti_yn = #{record.tiYn,jdbcType=VARCHAR},
      ti_custom1 = #{record.tiCustom1,jdbcType=VARCHAR},
      ti_custom2 = #{record.tiCustom2,jdbcType=VARCHAR},
      ti_custom3 = #{record.tiCustom3,jdbcType=VARCHAR},
      ti_custom4 = #{record.tiCustom4,jdbcType=VARCHAR},
      ti_custom5 = #{record.tiCustom5,jdbcType=VARCHAR},
      ti_custom6 = #{record.tiCustom6,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.TaxItems" >
    update tax_items
    <set >
      <if test="tiName != null" >
        ti_name = #{tiName,jdbcType=VARCHAR},
      </if>
      <if test="tiEnglishName != null" >
        ti_english_name = #{tiEnglishName,jdbcType=VARCHAR},
      </if>
      <if test="tiRemark != null" >
        ti_remark = #{tiRemark,jdbcType=VARCHAR},
      </if>
      <if test="tiAuditing != null" >
        ti_Auditing = #{tiAuditing,jdbcType=VARCHAR},
      </if>
      <if test="tiYn != null" >
        ti_yn = #{tiYn,jdbcType=VARCHAR},
      </if>
      <if test="tiCustom1 != null" >
        ti_custom1 = #{tiCustom1,jdbcType=VARCHAR},
      </if>
      <if test="tiCustom2 != null" >
        ti_custom2 = #{tiCustom2,jdbcType=VARCHAR},
      </if>
      <if test="tiCustom3 != null" >
        ti_custom3 = #{tiCustom3,jdbcType=VARCHAR},
      </if>
      <if test="tiCustom4 != null" >
        ti_custom4 = #{tiCustom4,jdbcType=VARCHAR},
      </if>
      <if test="tiCustom5 != null" >
        ti_custom5 = #{tiCustom5,jdbcType=VARCHAR},
      </if>
      <if test="tiCustom6 != null" >
        ti_custom6 = #{tiCustom6,jdbcType=VARCHAR},
      </if>
    </set>
    where ti_id = #{tiId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.TaxItems" >
    update tax_items
    set ti_name = #{tiName,jdbcType=VARCHAR},
      ti_english_name = #{tiEnglishName,jdbcType=VARCHAR},
      ti_remark = #{tiRemark,jdbcType=VARCHAR},
      ti_Auditing = #{tiAuditing,jdbcType=VARCHAR},
      ti_yn = #{tiYn,jdbcType=VARCHAR},
      ti_custom1 = #{tiCustom1,jdbcType=VARCHAR},
      ti_custom2 = #{tiCustom2,jdbcType=VARCHAR},
      ti_custom3 = #{tiCustom3,jdbcType=VARCHAR},
      ti_custom4 = #{tiCustom4,jdbcType=VARCHAR},
      ti_custom5 = #{tiCustom5,jdbcType=VARCHAR},
      ti_custom6 = #{tiCustom6,jdbcType=VARCHAR}
    where ti_id = #{tiId,jdbcType=VARCHAR}
  </update>
</mapper>