<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.TPurchaseRequisitionsDetailsMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.TPurchaseRequisitionsDetails" >
    <result column="serno" property="serno" jdbcType="VARCHAR" />
    <result column="prodid" property="prodid" jdbcType="DATE" />
    <result column="prodname" property="prodname" jdbcType="VARCHAR" />
    <result column="prodsize" property="prodsize" jdbcType="VARCHAR" />
    <result column="sunitid" property="sunitid" jdbcType="INTEGER" />
    <result column="squantity" property="squantity" jdbcType="INTEGER" />
    <result column="currid" property="currid" jdbcType="INTEGER" />
    <result column="sprice" property="sprice" jdbcType="DOUBLE" />
    <result column="amount" property="amount" jdbcType="DOUBLE" />
    <result column="lastestcurrid" property="lastestcurrid" jdbcType="INTEGER" />
    <result column="lastestprice" property="lastestprice" jdbcType="DOUBLE" />
    <result column="lastestamount" property="lastestamount" jdbcType="DOUBLE" />
    <result column="preindate" property="preindate" jdbcType="DATE" />
    <result column="suggestpurdate" property="suggestpurdate" jdbcType="DATE" />
    <result column="qtyremain" property="qtyremain" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="trantype" property="trantype" jdbcType="VARCHAR" />
    <result column="fromno" property="fromno" jdbcType="VARCHAR" />
    <result column="itemremark" property="itemremark" jdbcType="VARCHAR" />
    <result column="bz1" property="bz1" jdbcType="VARCHAR" />
    <result column="bz2" property="bz2" jdbcType="VARCHAR" />
    <result column="bz3" property="bz3" jdbcType="VARCHAR" />
    <result column="bz4" property="bz4" jdbcType="VARCHAR" />
    <result column="bz5" property="bz5" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    serno, prodid, prodname, prodsize, sunitid, squantity, currid, sprice, amount, lastestcurrid, 
    lastestprice, lastestamount, preindate, suggestpurdate, qtyremain, remark, trantype, 
    fromno, itemremark, bz1, bz2, bz3, bz4, bz5
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.TPurchaseRequisitionsDetailsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_purchase_requisitions_details
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.accp.domain.TPurchaseRequisitionsDetailsExample" >
    delete from t_purchase_requisitions_details
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.TPurchaseRequisitionsDetails" >
    insert into t_purchase_requisitions_details (serno, prodid, prodname, 
      prodsize, sunitid, squantity, 
      currid, sprice, amount, 
      lastestcurrid, lastestprice, lastestamount, 
      preindate, suggestpurdate, qtyremain, 
      remark, trantype, fromno, 
      itemremark, bz1, bz2, 
      bz3, bz4, bz5)
    values (#{serno,jdbcType=VARCHAR}, #{prodid,jdbcType=DATE}, #{prodname,jdbcType=VARCHAR}, 
      #{prodsize,jdbcType=VARCHAR}, #{sunitid,jdbcType=INTEGER}, #{squantity,jdbcType=INTEGER}, 
      #{currid,jdbcType=INTEGER}, #{sprice,jdbcType=DOUBLE}, #{amount,jdbcType=DOUBLE}, 
      #{lastestcurrid,jdbcType=INTEGER}, #{lastestprice,jdbcType=DOUBLE}, #{lastestamount,jdbcType=DOUBLE}, 
      #{preindate,jdbcType=DATE}, #{suggestpurdate,jdbcType=DATE}, #{qtyremain,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{trantype,jdbcType=VARCHAR}, #{fromno,jdbcType=VARCHAR}, 
      #{itemremark,jdbcType=VARCHAR}, #{bz1,jdbcType=VARCHAR}, #{bz2,jdbcType=VARCHAR}, 
      #{bz3,jdbcType=VARCHAR}, #{bz4,jdbcType=VARCHAR}, #{bz5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.TPurchaseRequisitionsDetails" >
    insert into t_purchase_requisitions_details
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serno != null" >
        serno,
      </if>
      <if test="prodid != null" >
        prodid,
      </if>
      <if test="prodname != null" >
        prodname,
      </if>
      <if test="prodsize != null" >
        prodsize,
      </if>
      <if test="sunitid != null" >
        sunitid,
      </if>
      <if test="squantity != null" >
        squantity,
      </if>
      <if test="currid != null" >
        currid,
      </if>
      <if test="sprice != null" >
        sprice,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="lastestcurrid != null" >
        lastestcurrid,
      </if>
      <if test="lastestprice != null" >
        lastestprice,
      </if>
      <if test="lastestamount != null" >
        lastestamount,
      </if>
      <if test="preindate != null" >
        preindate,
      </if>
      <if test="suggestpurdate != null" >
        suggestpurdate,
      </if>
      <if test="qtyremain != null" >
        qtyremain,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="trantype != null" >
        trantype,
      </if>
      <if test="fromno != null" >
        fromno,
      </if>
      <if test="itemremark != null" >
        itemremark,
      </if>
      <if test="bz1 != null" >
        bz1,
      </if>
      <if test="bz2 != null" >
        bz2,
      </if>
      <if test="bz3 != null" >
        bz3,
      </if>
      <if test="bz4 != null" >
        bz4,
      </if>
      <if test="bz5 != null" >
        bz5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serno != null" >
        #{serno,jdbcType=VARCHAR},
      </if>
      <if test="prodid != null" >
        #{prodid,jdbcType=DATE},
      </if>
      <if test="prodname != null" >
        #{prodname,jdbcType=VARCHAR},
      </if>
      <if test="prodsize != null" >
        #{prodsize,jdbcType=VARCHAR},
      </if>
      <if test="sunitid != null" >
        #{sunitid,jdbcType=INTEGER},
      </if>
      <if test="squantity != null" >
        #{squantity,jdbcType=INTEGER},
      </if>
      <if test="currid != null" >
        #{currid,jdbcType=INTEGER},
      </if>
      <if test="sprice != null" >
        #{sprice,jdbcType=DOUBLE},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DOUBLE},
      </if>
      <if test="lastestcurrid != null" >
        #{lastestcurrid,jdbcType=INTEGER},
      </if>
      <if test="lastestprice != null" >
        #{lastestprice,jdbcType=DOUBLE},
      </if>
      <if test="lastestamount != null" >
        #{lastestamount,jdbcType=DOUBLE},
      </if>
      <if test="preindate != null" >
        #{preindate,jdbcType=DATE},
      </if>
      <if test="suggestpurdate != null" >
        #{suggestpurdate,jdbcType=DATE},
      </if>
      <if test="qtyremain != null" >
        #{qtyremain,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="trantype != null" >
        #{trantype,jdbcType=VARCHAR},
      </if>
      <if test="fromno != null" >
        #{fromno,jdbcType=VARCHAR},
      </if>
      <if test="itemremark != null" >
        #{itemremark,jdbcType=VARCHAR},
      </if>
      <if test="bz1 != null" >
        #{bz1,jdbcType=VARCHAR},
      </if>
      <if test="bz2 != null" >
        #{bz2,jdbcType=VARCHAR},
      </if>
      <if test="bz3 != null" >
        #{bz3,jdbcType=VARCHAR},
      </if>
      <if test="bz4 != null" >
        #{bz4,jdbcType=VARCHAR},
      </if>
      <if test="bz5 != null" >
        #{bz5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.TPurchaseRequisitionsDetailsExample" resultType="java.lang.Integer" >
    select count(*) from t_purchase_requisitions_details
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_purchase_requisitions_details
    <set >
      <if test="record.serno != null" >
        serno = #{record.serno,jdbcType=VARCHAR},
      </if>
      <if test="record.prodid != null" >
        prodid = #{record.prodid,jdbcType=DATE},
      </if>
      <if test="record.prodname != null" >
        prodname = #{record.prodname,jdbcType=VARCHAR},
      </if>
      <if test="record.prodsize != null" >
        prodsize = #{record.prodsize,jdbcType=VARCHAR},
      </if>
      <if test="record.sunitid != null" >
        sunitid = #{record.sunitid,jdbcType=INTEGER},
      </if>
      <if test="record.squantity != null" >
        squantity = #{record.squantity,jdbcType=INTEGER},
      </if>
      <if test="record.currid != null" >
        currid = #{record.currid,jdbcType=INTEGER},
      </if>
      <if test="record.sprice != null" >
        sprice = #{record.sprice,jdbcType=DOUBLE},
      </if>
      <if test="record.amount != null" >
        amount = #{record.amount,jdbcType=DOUBLE},
      </if>
      <if test="record.lastestcurrid != null" >
        lastestcurrid = #{record.lastestcurrid,jdbcType=INTEGER},
      </if>
      <if test="record.lastestprice != null" >
        lastestprice = #{record.lastestprice,jdbcType=DOUBLE},
      </if>
      <if test="record.lastestamount != null" >
        lastestamount = #{record.lastestamount,jdbcType=DOUBLE},
      </if>
      <if test="record.preindate != null" >
        preindate = #{record.preindate,jdbcType=DATE},
      </if>
      <if test="record.suggestpurdate != null" >
        suggestpurdate = #{record.suggestpurdate,jdbcType=DATE},
      </if>
      <if test="record.qtyremain != null" >
        qtyremain = #{record.qtyremain,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.trantype != null" >
        trantype = #{record.trantype,jdbcType=VARCHAR},
      </if>
      <if test="record.fromno != null" >
        fromno = #{record.fromno,jdbcType=VARCHAR},
      </if>
      <if test="record.itemremark != null" >
        itemremark = #{record.itemremark,jdbcType=VARCHAR},
      </if>
      <if test="record.bz1 != null" >
        bz1 = #{record.bz1,jdbcType=VARCHAR},
      </if>
      <if test="record.bz2 != null" >
        bz2 = #{record.bz2,jdbcType=VARCHAR},
      </if>
      <if test="record.bz3 != null" >
        bz3 = #{record.bz3,jdbcType=VARCHAR},
      </if>
      <if test="record.bz4 != null" >
        bz4 = #{record.bz4,jdbcType=VARCHAR},
      </if>
      <if test="record.bz5 != null" >
        bz5 = #{record.bz5,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_purchase_requisitions_details
    set serno = #{record.serno,jdbcType=VARCHAR},
      prodid = #{record.prodid,jdbcType=DATE},
      prodname = #{record.prodname,jdbcType=VARCHAR},
      prodsize = #{record.prodsize,jdbcType=VARCHAR},
      sunitid = #{record.sunitid,jdbcType=INTEGER},
      squantity = #{record.squantity,jdbcType=INTEGER},
      currid = #{record.currid,jdbcType=INTEGER},
      sprice = #{record.sprice,jdbcType=DOUBLE},
      amount = #{record.amount,jdbcType=DOUBLE},
      lastestcurrid = #{record.lastestcurrid,jdbcType=INTEGER},
      lastestprice = #{record.lastestprice,jdbcType=DOUBLE},
      lastestamount = #{record.lastestamount,jdbcType=DOUBLE},
      preindate = #{record.preindate,jdbcType=DATE},
      suggestpurdate = #{record.suggestpurdate,jdbcType=DATE},
      qtyremain = #{record.qtyremain,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      trantype = #{record.trantype,jdbcType=VARCHAR},
      fromno = #{record.fromno,jdbcType=VARCHAR},
      itemremark = #{record.itemremark,jdbcType=VARCHAR},
      bz1 = #{record.bz1,jdbcType=VARCHAR},
      bz2 = #{record.bz2,jdbcType=VARCHAR},
      bz3 = #{record.bz3,jdbcType=VARCHAR},
      bz4 = #{record.bz4,jdbcType=VARCHAR},
      bz5 = #{record.bz5,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>