<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.WarehouseMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.Warehouse" >
    <id column="warehouse_id" property="warehouseId" jdbcType="VARCHAR" />
    <result column="warehouse_name" property="warehouseName" jdbcType="VARCHAR" />
    <result column="warehouse_easy_name" property="warehouseEasyName" jdbcType="VARCHAR" />
    <result column="warehouse_engname" property="warehouseEngname" jdbcType="VARCHAR" />
    <result column="warehouse_linkman" property="warehouseLinkman" jdbcType="VARCHAR" />
    <result column="warehouse_linktel" property="warehouseLinktel" jdbcType="VARCHAR" />
    <result column="warehouse_address" property="warehouseAddress" jdbcType="VARCHAR" />
    <result column="warehouse_decoration" property="warehouseDecoration" jdbcType="VARCHAR" />
    <result column="warehouse_Auditing" property="warehouseAuditing" jdbcType="VARCHAR" />
    <result column="warehouse_yn" property="warehouseYn" jdbcType="VARCHAR" />
    <result column="warehouse_custom1" property="warehouseCustom1" jdbcType="VARCHAR" />
    <result column="warehouse_custom2" property="warehouseCustom2" jdbcType="VARCHAR" />
    <result column="warehouse_custom3" property="warehouseCustom3" jdbcType="VARCHAR" />
    <result column="warehouse_custom4" property="warehouseCustom4" jdbcType="VARCHAR" />
    <result column="warehouse_custom5" property="warehouseCustom5" jdbcType="VARCHAR" />
    <result column="warehouse_custom6" property="warehouseCustom6" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    warehouse_id, warehouse_name, warehouse_easy_name, warehouse_engname, warehouse_linkman, 
    warehouse_linktel, warehouse_address, warehouse_decoration, warehouse_Auditing, warehouse_yn, 
    warehouse_custom1, warehouse_custom2, warehouse_custom3, warehouse_custom4, warehouse_custom5, 
    warehouse_custom6
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.WarehouseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from warehouse
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from warehouse
    where warehouse_id = #{warehouseId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from warehouse
    where warehouse_id = #{warehouseId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.WarehouseExample" >
    delete from warehouse
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.Warehouse" >
    insert into warehouse (warehouse_id, warehouse_name, warehouse_easy_name, 
      warehouse_engname, warehouse_linkman, warehouse_linktel, 
      warehouse_address, warehouse_decoration, 
      warehouse_Auditing, warehouse_yn, warehouse_custom1, 
      warehouse_custom2, warehouse_custom3, warehouse_custom4, 
      warehouse_custom5, warehouse_custom6)
    values (#{warehouseId,jdbcType=VARCHAR}, #{warehouseName,jdbcType=VARCHAR}, #{warehouseEasyName,jdbcType=VARCHAR}, 
      #{warehouseEngname,jdbcType=VARCHAR}, #{warehouseLinkman,jdbcType=VARCHAR}, #{warehouseLinktel,jdbcType=VARCHAR}, 
      #{warehouseAddress,jdbcType=VARCHAR}, #{warehouseDecoration,jdbcType=VARCHAR}, 
      #{warehouseAuditing,jdbcType=VARCHAR}, #{warehouseYn,jdbcType=VARCHAR}, #{warehouseCustom1,jdbcType=VARCHAR}, 
      #{warehouseCustom2,jdbcType=VARCHAR}, #{warehouseCustom3,jdbcType=VARCHAR}, #{warehouseCustom4,jdbcType=VARCHAR}, 
      #{warehouseCustom5,jdbcType=VARCHAR}, #{warehouseCustom6,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.Warehouse" >
    insert into warehouse
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="warehouseId != null" >
        warehouse_id,
      </if>
      <if test="warehouseName != null" >
        warehouse_name,
      </if>
      <if test="warehouseEasyName != null" >
        warehouse_easy_name,
      </if>
      <if test="warehouseEngname != null" >
        warehouse_engname,
      </if>
      <if test="warehouseLinkman != null" >
        warehouse_linkman,
      </if>
      <if test="warehouseLinktel != null" >
        warehouse_linktel,
      </if>
      <if test="warehouseAddress != null" >
        warehouse_address,
      </if>
      <if test="warehouseDecoration != null" >
        warehouse_decoration,
      </if>
      <if test="warehouseAuditing != null" >
        warehouse_Auditing,
      </if>
      <if test="warehouseYn != null" >
        warehouse_yn,
      </if>
      <if test="warehouseCustom1 != null" >
        warehouse_custom1,
      </if>
      <if test="warehouseCustom2 != null" >
        warehouse_custom2,
      </if>
      <if test="warehouseCustom3 != null" >
        warehouse_custom3,
      </if>
      <if test="warehouseCustom4 != null" >
        warehouse_custom4,
      </if>
      <if test="warehouseCustom5 != null" >
        warehouse_custom5,
      </if>
      <if test="warehouseCustom6 != null" >
        warehouse_custom6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="warehouseId != null" >
        #{warehouseId,jdbcType=VARCHAR},
      </if>
      <if test="warehouseName != null" >
        #{warehouseName,jdbcType=VARCHAR},
      </if>
      <if test="warehouseEasyName != null" >
        #{warehouseEasyName,jdbcType=VARCHAR},
      </if>
      <if test="warehouseEngname != null" >
        #{warehouseEngname,jdbcType=VARCHAR},
      </if>
      <if test="warehouseLinkman != null" >
        #{warehouseLinkman,jdbcType=VARCHAR},
      </if>
      <if test="warehouseLinktel != null" >
        #{warehouseLinktel,jdbcType=VARCHAR},
      </if>
      <if test="warehouseAddress != null" >
        #{warehouseAddress,jdbcType=VARCHAR},
      </if>
      <if test="warehouseDecoration != null" >
        #{warehouseDecoration,jdbcType=VARCHAR},
      </if>
      <if test="warehouseAuditing != null" >
        #{warehouseAuditing,jdbcType=VARCHAR},
      </if>
      <if test="warehouseYn != null" >
        #{warehouseYn,jdbcType=VARCHAR},
      </if>
      <if test="warehouseCustom1 != null" >
        #{warehouseCustom1,jdbcType=VARCHAR},
      </if>
      <if test="warehouseCustom2 != null" >
        #{warehouseCustom2,jdbcType=VARCHAR},
      </if>
      <if test="warehouseCustom3 != null" >
        #{warehouseCustom3,jdbcType=VARCHAR},
      </if>
      <if test="warehouseCustom4 != null" >
        #{warehouseCustom4,jdbcType=VARCHAR},
      </if>
      <if test="warehouseCustom5 != null" >
        #{warehouseCustom5,jdbcType=VARCHAR},
      </if>
      <if test="warehouseCustom6 != null" >
        #{warehouseCustom6,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.WarehouseExample" resultType="java.lang.Integer" >
    select count(*) from warehouse
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update warehouse
    <set >
      <if test="record.warehouseId != null" >
        warehouse_id = #{record.warehouseId,jdbcType=VARCHAR},
      </if>
      <if test="record.warehouseName != null" >
        warehouse_name = #{record.warehouseName,jdbcType=VARCHAR},
      </if>
      <if test="record.warehouseEasyName != null" >
        warehouse_easy_name = #{record.warehouseEasyName,jdbcType=VARCHAR},
      </if>
      <if test="record.warehouseEngname != null" >
        warehouse_engname = #{record.warehouseEngname,jdbcType=VARCHAR},
      </if>
      <if test="record.warehouseLinkman != null" >
        warehouse_linkman = #{record.warehouseLinkman,jdbcType=VARCHAR},
      </if>
      <if test="record.warehouseLinktel != null" >
        warehouse_linktel = #{record.warehouseLinktel,jdbcType=VARCHAR},
      </if>
      <if test="record.warehouseAddress != null" >
        warehouse_address = #{record.warehouseAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.warehouseDecoration != null" >
        warehouse_decoration = #{record.warehouseDecoration,jdbcType=VARCHAR},
      </if>
      <if test="record.warehouseAuditing != null" >
        warehouse_Auditing = #{record.warehouseAuditing,jdbcType=VARCHAR},
      </if>
      <if test="record.warehouseYn != null" >
        warehouse_yn = #{record.warehouseYn,jdbcType=VARCHAR},
      </if>
      <if test="record.warehouseCustom1 != null" >
        warehouse_custom1 = #{record.warehouseCustom1,jdbcType=VARCHAR},
      </if>
      <if test="record.warehouseCustom2 != null" >
        warehouse_custom2 = #{record.warehouseCustom2,jdbcType=VARCHAR},
      </if>
      <if test="record.warehouseCustom3 != null" >
        warehouse_custom3 = #{record.warehouseCustom3,jdbcType=VARCHAR},
      </if>
      <if test="record.warehouseCustom4 != null" >
        warehouse_custom4 = #{record.warehouseCustom4,jdbcType=VARCHAR},
      </if>
      <if test="record.warehouseCustom5 != null" >
        warehouse_custom5 = #{record.warehouseCustom5,jdbcType=VARCHAR},
      </if>
      <if test="record.warehouseCustom6 != null" >
        warehouse_custom6 = #{record.warehouseCustom6,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update warehouse
    set warehouse_id = #{record.warehouseId,jdbcType=VARCHAR},
      warehouse_name = #{record.warehouseName,jdbcType=VARCHAR},
      warehouse_easy_name = #{record.warehouseEasyName,jdbcType=VARCHAR},
      warehouse_engname = #{record.warehouseEngname,jdbcType=VARCHAR},
      warehouse_linkman = #{record.warehouseLinkman,jdbcType=VARCHAR},
      warehouse_linktel = #{record.warehouseLinktel,jdbcType=VARCHAR},
      warehouse_address = #{record.warehouseAddress,jdbcType=VARCHAR},
      warehouse_decoration = #{record.warehouseDecoration,jdbcType=VARCHAR},
      warehouse_Auditing = #{record.warehouseAuditing,jdbcType=VARCHAR},
      warehouse_yn = #{record.warehouseYn,jdbcType=VARCHAR},
      warehouse_custom1 = #{record.warehouseCustom1,jdbcType=VARCHAR},
      warehouse_custom2 = #{record.warehouseCustom2,jdbcType=VARCHAR},
      warehouse_custom3 = #{record.warehouseCustom3,jdbcType=VARCHAR},
      warehouse_custom4 = #{record.warehouseCustom4,jdbcType=VARCHAR},
      warehouse_custom5 = #{record.warehouseCustom5,jdbcType=VARCHAR},
      warehouse_custom6 = #{record.warehouseCustom6,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.Warehouse" >
    update warehouse
    <set >
      <if test="warehouseName != null" >
        warehouse_name = #{warehouseName,jdbcType=VARCHAR},
      </if>
      <if test="warehouseEasyName != null" >
        warehouse_easy_name = #{warehouseEasyName,jdbcType=VARCHAR},
      </if>
      <if test="warehouseEngname != null" >
        warehouse_engname = #{warehouseEngname,jdbcType=VARCHAR},
      </if>
      <if test="warehouseLinkman != null" >
        warehouse_linkman = #{warehouseLinkman,jdbcType=VARCHAR},
      </if>
      <if test="warehouseLinktel != null" >
        warehouse_linktel = #{warehouseLinktel,jdbcType=VARCHAR},
      </if>
      <if test="warehouseAddress != null" >
        warehouse_address = #{warehouseAddress,jdbcType=VARCHAR},
      </if>
      <if test="warehouseDecoration != null" >
        warehouse_decoration = #{warehouseDecoration,jdbcType=VARCHAR},
      </if>
      <if test="warehouseAuditing != null" >
        warehouse_Auditing = #{warehouseAuditing,jdbcType=VARCHAR},
      </if>
      <if test="warehouseYn != null" >
        warehouse_yn = #{warehouseYn,jdbcType=VARCHAR},
      </if>
      <if test="warehouseCustom1 != null" >
        warehouse_custom1 = #{warehouseCustom1,jdbcType=VARCHAR},
      </if>
      <if test="warehouseCustom2 != null" >
        warehouse_custom2 = #{warehouseCustom2,jdbcType=VARCHAR},
      </if>
      <if test="warehouseCustom3 != null" >
        warehouse_custom3 = #{warehouseCustom3,jdbcType=VARCHAR},
      </if>
      <if test="warehouseCustom4 != null" >
        warehouse_custom4 = #{warehouseCustom4,jdbcType=VARCHAR},
      </if>
      <if test="warehouseCustom5 != null" >
        warehouse_custom5 = #{warehouseCustom5,jdbcType=VARCHAR},
      </if>
      <if test="warehouseCustom6 != null" >
        warehouse_custom6 = #{warehouseCustom6,jdbcType=VARCHAR},
      </if>
    </set>
    where warehouse_id = #{warehouseId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.Warehouse" >
    update warehouse
    set warehouse_name = #{warehouseName,jdbcType=VARCHAR},
      warehouse_easy_name = #{warehouseEasyName,jdbcType=VARCHAR},
      warehouse_engname = #{warehouseEngname,jdbcType=VARCHAR},
      warehouse_linkman = #{warehouseLinkman,jdbcType=VARCHAR},
      warehouse_linktel = #{warehouseLinktel,jdbcType=VARCHAR},
      warehouse_address = #{warehouseAddress,jdbcType=VARCHAR},
      warehouse_decoration = #{warehouseDecoration,jdbcType=VARCHAR},
      warehouse_Auditing = #{warehouseAuditing,jdbcType=VARCHAR},
      warehouse_yn = #{warehouseYn,jdbcType=VARCHAR},
      warehouse_custom1 = #{warehouseCustom1,jdbcType=VARCHAR},
      warehouse_custom2 = #{warehouseCustom2,jdbcType=VARCHAR},
      warehouse_custom3 = #{warehouseCustom3,jdbcType=VARCHAR},
      warehouse_custom4 = #{warehouseCustom4,jdbcType=VARCHAR},
      warehouse_custom5 = #{warehouseCustom5,jdbcType=VARCHAR},
      warehouse_custom6 = #{warehouseCustom6,jdbcType=VARCHAR}
    where warehouse_id = #{warehouseId,jdbcType=VARCHAR}
  </update>
</mapper>