<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.YPayformainMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.YPayformain" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="DATE" />
    <result column="server" property="server" jdbcType="VARCHAR" />
    <result column="currency" property="currency" jdbcType="VARCHAR" />
    <result column="balancel1" property="balancel1" jdbcType="DOUBLE" />
    <result column="balancel2" property="balancel2" jdbcType="DOUBLE" />
    <result column="balancel3" property="balancel3" jdbcType="DOUBLE" />
    <result column="moneyrate" property="moneyrate" jdbcType="DOUBLE" />
    <result column="dept" property="dept" jdbcType="VARCHAR" />
    <result column="maker" property="maker" jdbcType="VARCHAR" />
    <result column="item" property="item" jdbcType="VARCHAR" />
    <result column="checker" property="checker" jdbcType="VARCHAR" />
    <result column="title1" property="title1" jdbcType="VARCHAR" />
    <result column="title2" property="title2" jdbcType="VARCHAR" />
    <result column="remark1" property="remark1" jdbcType="VARCHAR" />
    <result column="remark2" property="remark2" jdbcType="VARCHAR" />
    <result column="remark3" property="remark3" jdbcType="VARCHAR" />
    <result column="remark4" property="remark4" jdbcType="VARCHAR" />
    <result column="remark5" property="remark5" jdbcType="VARCHAR" />
    <result column="remark6" property="remark6" jdbcType="VARCHAR" />
    <result column="remark7" property="remark7" jdbcType="VARCHAR" />
    <result column="remark8" property="remark8" jdbcType="VARCHAR" />
    <result column="remark9" property="remark9" jdbcType="VARCHAR" />
    <result column="remark10" property="remark10" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, date, server, currency, balancel1, balancel2, balancel3, moneyrate, dept, maker, 
    item, checker, title1, title2, remark1, remark2, remark3, remark4, remark5, remark6, 
    remark7, remark8, remark9, remark10
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.YPayformainExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from y_payformain
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.accp.domain.YPayformainExample" >
    delete from y_payformain
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.YPayformain" >
    insert into y_payformain (id, date, server, 
      currency, balancel1, balancel2, 
      balancel3, moneyrate, dept, 
      maker, item, checker, 
      title1, title2, remark1, 
      remark2, remark3, remark4, 
      remark5, remark6, remark7, 
      remark8, remark9, remark10
      )
    values (#{id,jdbcType=VARCHAR}, #{date,jdbcType=DATE}, #{server,jdbcType=VARCHAR}, 
      #{currency,jdbcType=VARCHAR}, #{balancel1,jdbcType=DOUBLE}, #{balancel2,jdbcType=DOUBLE}, 
      #{balancel3,jdbcType=DOUBLE}, #{moneyrate,jdbcType=DOUBLE}, #{dept,jdbcType=VARCHAR}, 
      #{maker,jdbcType=VARCHAR}, #{item,jdbcType=VARCHAR}, #{checker,jdbcType=VARCHAR}, 
      #{title1,jdbcType=VARCHAR}, #{title2,jdbcType=VARCHAR}, #{remark1,jdbcType=VARCHAR}, 
      #{remark2,jdbcType=VARCHAR}, #{remark3,jdbcType=VARCHAR}, #{remark4,jdbcType=VARCHAR}, 
      #{remark5,jdbcType=VARCHAR}, #{remark6,jdbcType=VARCHAR}, #{remark7,jdbcType=VARCHAR}, 
      #{remark8,jdbcType=VARCHAR}, #{remark9,jdbcType=VARCHAR}, #{remark10,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.YPayformain" >
    insert into y_payformain
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="server != null" >
        server,
      </if>
      <if test="currency != null" >
        currency,
      </if>
      <if test="balancel1 != null" >
        balancel1,
      </if>
      <if test="balancel2 != null" >
        balancel2,
      </if>
      <if test="balancel3 != null" >
        balancel3,
      </if>
      <if test="moneyrate != null" >
        moneyrate,
      </if>
      <if test="dept != null" >
        dept,
      </if>
      <if test="maker != null" >
        maker,
      </if>
      <if test="item != null" >
        item,
      </if>
      <if test="checker != null" >
        checker,
      </if>
      <if test="title1 != null" >
        title1,
      </if>
      <if test="title2 != null" >
        title2,
      </if>
      <if test="remark1 != null" >
        remark1,
      </if>
      <if test="remark2 != null" >
        remark2,
      </if>
      <if test="remark3 != null" >
        remark3,
      </if>
      <if test="remark4 != null" >
        remark4,
      </if>
      <if test="remark5 != null" >
        remark5,
      </if>
      <if test="remark6 != null" >
        remark6,
      </if>
      <if test="remark7 != null" >
        remark7,
      </if>
      <if test="remark8 != null" >
        remark8,
      </if>
      <if test="remark9 != null" >
        remark9,
      </if>
      <if test="remark10 != null" >
        remark10,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=DATE},
      </if>
      <if test="server != null" >
        #{server,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="balancel1 != null" >
        #{balancel1,jdbcType=DOUBLE},
      </if>
      <if test="balancel2 != null" >
        #{balancel2,jdbcType=DOUBLE},
      </if>
      <if test="balancel3 != null" >
        #{balancel3,jdbcType=DOUBLE},
      </if>
      <if test="moneyrate != null" >
        #{moneyrate,jdbcType=DOUBLE},
      </if>
      <if test="dept != null" >
        #{dept,jdbcType=VARCHAR},
      </if>
      <if test="maker != null" >
        #{maker,jdbcType=VARCHAR},
      </if>
      <if test="item != null" >
        #{item,jdbcType=VARCHAR},
      </if>
      <if test="checker != null" >
        #{checker,jdbcType=VARCHAR},
      </if>
      <if test="title1 != null" >
        #{title1,jdbcType=VARCHAR},
      </if>
      <if test="title2 != null" >
        #{title2,jdbcType=VARCHAR},
      </if>
      <if test="remark1 != null" >
        #{remark1,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null" >
        #{remark2,jdbcType=VARCHAR},
      </if>
      <if test="remark3 != null" >
        #{remark3,jdbcType=VARCHAR},
      </if>
      <if test="remark4 != null" >
        #{remark4,jdbcType=VARCHAR},
      </if>
      <if test="remark5 != null" >
        #{remark5,jdbcType=VARCHAR},
      </if>
      <if test="remark6 != null" >
        #{remark6,jdbcType=VARCHAR},
      </if>
      <if test="remark7 != null" >
        #{remark7,jdbcType=VARCHAR},
      </if>
      <if test="remark8 != null" >
        #{remark8,jdbcType=VARCHAR},
      </if>
      <if test="remark9 != null" >
        #{remark9,jdbcType=VARCHAR},
      </if>
      <if test="remark10 != null" >
        #{remark10,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.YPayformainExample" resultType="java.lang.Integer" >
    select count(*) from y_payformain
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update y_payformain
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.date != null" >
        date = #{record.date,jdbcType=DATE},
      </if>
      <if test="record.server != null" >
        server = #{record.server,jdbcType=VARCHAR},
      </if>
      <if test="record.currency != null" >
        currency = #{record.currency,jdbcType=VARCHAR},
      </if>
      <if test="record.balancel1 != null" >
        balancel1 = #{record.balancel1,jdbcType=DOUBLE},
      </if>
      <if test="record.balancel2 != null" >
        balancel2 = #{record.balancel2,jdbcType=DOUBLE},
      </if>
      <if test="record.balancel3 != null" >
        balancel3 = #{record.balancel3,jdbcType=DOUBLE},
      </if>
      <if test="record.moneyrate != null" >
        moneyrate = #{record.moneyrate,jdbcType=DOUBLE},
      </if>
      <if test="record.dept != null" >
        dept = #{record.dept,jdbcType=VARCHAR},
      </if>
      <if test="record.maker != null" >
        maker = #{record.maker,jdbcType=VARCHAR},
      </if>
      <if test="record.item != null" >
        item = #{record.item,jdbcType=VARCHAR},
      </if>
      <if test="record.checker != null" >
        checker = #{record.checker,jdbcType=VARCHAR},
      </if>
      <if test="record.title1 != null" >
        title1 = #{record.title1,jdbcType=VARCHAR},
      </if>
      <if test="record.title2 != null" >
        title2 = #{record.title2,jdbcType=VARCHAR},
      </if>
      <if test="record.remark1 != null" >
        remark1 = #{record.remark1,jdbcType=VARCHAR},
      </if>
      <if test="record.remark2 != null" >
        remark2 = #{record.remark2,jdbcType=VARCHAR},
      </if>
      <if test="record.remark3 != null" >
        remark3 = #{record.remark3,jdbcType=VARCHAR},
      </if>
      <if test="record.remark4 != null" >
        remark4 = #{record.remark4,jdbcType=VARCHAR},
      </if>
      <if test="record.remark5 != null" >
        remark5 = #{record.remark5,jdbcType=VARCHAR},
      </if>
      <if test="record.remark6 != null" >
        remark6 = #{record.remark6,jdbcType=VARCHAR},
      </if>
      <if test="record.remark7 != null" >
        remark7 = #{record.remark7,jdbcType=VARCHAR},
      </if>
      <if test="record.remark8 != null" >
        remark8 = #{record.remark8,jdbcType=VARCHAR},
      </if>
      <if test="record.remark9 != null" >
        remark9 = #{record.remark9,jdbcType=VARCHAR},
      </if>
      <if test="record.remark10 != null" >
        remark10 = #{record.remark10,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update y_payformain
    set id = #{record.id,jdbcType=VARCHAR},
      date = #{record.date,jdbcType=DATE},
      server = #{record.server,jdbcType=VARCHAR},
      currency = #{record.currency,jdbcType=VARCHAR},
      balancel1 = #{record.balancel1,jdbcType=DOUBLE},
      balancel2 = #{record.balancel2,jdbcType=DOUBLE},
      balancel3 = #{record.balancel3,jdbcType=DOUBLE},
      moneyrate = #{record.moneyrate,jdbcType=DOUBLE},
      dept = #{record.dept,jdbcType=VARCHAR},
      maker = #{record.maker,jdbcType=VARCHAR},
      item = #{record.item,jdbcType=VARCHAR},
      checker = #{record.checker,jdbcType=VARCHAR},
      title1 = #{record.title1,jdbcType=VARCHAR},
      title2 = #{record.title2,jdbcType=VARCHAR},
      remark1 = #{record.remark1,jdbcType=VARCHAR},
      remark2 = #{record.remark2,jdbcType=VARCHAR},
      remark3 = #{record.remark3,jdbcType=VARCHAR},
      remark4 = #{record.remark4,jdbcType=VARCHAR},
      remark5 = #{record.remark5,jdbcType=VARCHAR},
      remark6 = #{record.remark6,jdbcType=VARCHAR},
      remark7 = #{record.remark7,jdbcType=VARCHAR},
      remark8 = #{record.remark8,jdbcType=VARCHAR},
      remark9 = #{record.remark9,jdbcType=VARCHAR},
      remark10 = #{record.remark10,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>