<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../css/layui.css" media="all" />
		<style>
			.dayo{
				margin: 0 auto;
			}
			.layui-form-item{
				height: 20px;
			}	
			.layui-tab-title li {
			    display: inline-block;
			    vertical-align: middle;
			    font-size: 14px;
			    transition: all .2s;
			    -webkit-transition: all .2s;
			    position: relative;
			    line-height: 40px;
			    min-width: 52.5px;
			    padding: 0 15px;
			    text-align: center;
			}	
	
		</style>
		
		 <style>
		 /* 防止下拉框的下拉列表被隐藏---必须设置--- */
		.layui-table-cell {
			overflow: visible !important;
		}
		/* 设置下拉框的高度与表格单元相同 */
		.layui-input, .layui-select, .layui-textarea{
		height: 30px !important;
		}
		
		.layui-textarea {
		    min-height: 200px;
		    height: auto;
		    line-height: 20px;
		    padding: 6px 10px;
		    resize: vertical;
		}
		/*超出文本转为...*/
		table{
            width: 100%;
            table-layout: fixed;
         }
		td{
         	white-space: nowrap;/*控制单行显示*/
			overflow: hidden;/*超出隐藏*/
			text-overflow: ellipsis;/*隐藏的字符用省略号表示*/
         }
		th{
			white-space:nowrap;
			/*text-align: center !important;*/
		}
		</style>
		<style>
			.fudong{
				width: 100%;
				height: 40%;
				/*border: solid #000000;*/
				position: absolute;
				top:0px;
				visibility: hidden;
			}
			
			.tdinput{
				border:none;
				width:140%;
				margin: -5px -10px;
			}
		</style>
		
		
	</head>
		<body>
			<div class="layui-container app" id="readO" style="width: 800px;margin-top: 30px;">
			  <div style="margin-left: -20px;" v-if="list!=undefined">
			  	<form class="layui-form" action="">
						<!--1-->
						<div class="layui-row">
							<div class="layui-col-sm6">
								<div class="layui-form-item">
								    <label class="layui-form-label">客户名称</label>
								    <div class="layui-input-inline">
								      <input v-model="list.customerId"  autocomplete="off" class="layui-input no_empty" readonly="readonly" id="customerId" title="按4F可以快速查找客户资料" @keyup.f4="kadd()" type="text" name="title"  required  lay-verify="required" placeholder="请输入客户名称"/>
								    </div>
								</div>
							</div>
							<div class="layui-col-sm6">
								<div class="layui-form-item">
								    <label class="layui-form-label">单据日期</label>
								      <div class="layui-input-inline">
								        <input type="text" v-model="list.sowDocumentDate" @click="fu()"  name="date" id="test1" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input no_empty">
								      </div>
							 	</div>
							</div>
				 		</div>
				 		 <!--2-->
						<div class="layui-row">
							<div class="layui-col-sm6">
								<div class="layui-form-item">
								    <label class="layui-form-label">送货地址</label>
								    <div class="layui-input-inline">
								      <input type="text" name="title" v-model="list.sowAddress" required  lay-verify="required"  autocomplete="off" class="layui-input ">
								    </div>
							 	</div>
							</div>
							<div class="layui-col-sm6">
								<div class="layui-form-item">
								    <label class="layui-form-label">单据号码</label>
								    <div class="layui-input-inline">
								      <input type="text" name="title" v-model="list.sowId" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input no_empty">
								    </div>
							 	</div>
							</div>
				 		</div>
				 		<!--3-->
				 		<div class="layui-row">
							<div class="layui-col-sm6">
								<div class="layui-form-item">
								    <label class="layui-form-label">销售类型</label>
								    <div class="layui-input-inline">
								      <input type="text" name="title" v-model="list.sowtId"  required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input no_empty">
								    </div>
							 	</div>
							</div>
							<div class="layui-col-sm6">
								<div class="layui-form-item">
								    <label class="layui-form-label">币别</label>
								    <div class="layui-input-inline">
								      <input type="text" name="title" title="按4F可以快速查找货币类型" @keyup.f4="badd()" v-model="list.currencyId" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input no_empty">
								    </div>
							 	</div>
							</div>
				 		</div>
				 		<!--4-->
				 		<div class="layui-row">
							<div class="layui-col-sm6">
								<div class="layui-form-item">
								    <label class="layui-form-label">单价是税否</label>
								    <div class="layui-input-block" style="width:190px;">
								      <select name="city" v-model="list.sowPriceIncludeTax"  lay-verify="required">
								        <option value="未税">未税</option>
								        <option value="含税">含税</option>
								      </select>
								    </div>								  
							 	</div>
							</div>
							<div class="layui-col-sm6">
								<div class="layui-form-item">
								    <label class="layui-form-label">汇率</label>
								    <div class="layui-input-inline">
								      <input type="text" v-model="list.sowExchangeRate" name="title" required  lay-verify="required" placeholder="1.0000" autocomplete="off" class="layui-input no_empty">
								    </div>
							 	</div>
							</div>
				 		</div>
				 		<!--5-->
				 		<div class="layui-row">
							<div class="layui-col-sm6">
								<div class="layui-form-item">
								    <label class="layui-form-label">仓库</label>
								   <div class="layui-input-inline">
								      <input type="text" name="title" v-model="list.warehouseId" @keyup.f4="cadd()" required  lay-verify="required" placeholder="1.0000" autocomplete="off" class="layui-input no_empty">
								    </div>
							 	</div>
							</div>
							<div class="layui-col-sm6">
								<div class="layui-form-item">
								    <label class="layui-form-label">国外贸易</label>
								    <div class="layui-input-block" style="width:190px;">
								      <select name="city" v-model="list.sowForeignTrade" lay-verify="required">
								        <option value="是">是</option>
								        <option value="否">否</option>
								      </select>
								    </div>
							 	</div>
							</div>
				 		</div>
				 		<!--5-->
				 		<div class="layui-row">
							<div class="layui-col-sm6">
								<div class="layui-form-item">
								    <label class="layui-form-label">凭证编号</label>
								   <div class="layui-input-inline">
								      <input type="text" name="title" v-model="list.sowCertificateNumber"  required  lay-verify="required" placeholder="1.0000" autocomplete="off" class="layui-input no_empty">
								    </div>
							 	</div>
							</div>
							<div class="layui-col-sm6">
								<div class="layui-form-item">
								    <div class="layui-input-inline" style="width: 50px;margin-left: 75px;">
								       <input type="checkbox"  name="checkbox1" lay-skin="primary"  lay-filter="checkbox1">
								    </div>
								    <div class="layui-form-mid layui-word-aux" style="margin-left: 5px;color: #000000!important;">复核后自动生成发票</div>
							  </div>
							</div>
				 		</div>
						<!-- <div class="layui-form-item">
						    <div class="layui-input-block">
						      <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
						      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
						    </div>
						 </div>-->
				</form>
			  </div>	
			  <div class="layui-row">
			  		 <div class="layui-col-sm12">
			  		 	 	 <div class="layui-tab layui-tab-card">
								  <ul class="layui-tab-title">
								    <li class="layui-this">内容</li>
								    <li>账款</li>
								    <li>备注</li>
								  </ul>
								  <div class="layui-tab-content">
								    <div class="layui-tab-item layui-show" style="margin:-20px 0px 0px -11px;width: 769px;height: 311px;overflow:auto;"  @dblclick="count()">
								    	<!--表单-->
								    	<table class="layui-table single" lay-size="sm" style="empty-cells:show;min-width:765px" >
											<colgroup>
											    <col width="70"></col>
											    <col width="70"></col>
											    <col width="70"></col>
											    <col width="70"></col>
											    <col width="70"></col>
											    <col width="70"></col>
											    <col width="70"></col>
											    <col width="70"></col>
											    <col width="70"></col>
											    <col width="70"></col>
											    <col width="70"></col>
											    <col width="70"></col>
											    <col width="70"></col>
											    <col width="70"></col>
											    <col width="70"></col>
											    <col width="70"></col>
											    <col width="70"></col>
											    <col width="70"></col>
											</colgroup>
											  <thead>
													<tr>
													  <th>栏号</th>
													  <th>物料编号</th>
													  <th>物料名称</th>
													  <th>规格型号</th>
													  <th>单位名称</th>
													  <th>数量</th>
													  <th>折前单价</th>
													  <th>折数(%)</th>
													  <th>单价</th>
													  <th>金额</th>
													  <th>税率</th>
													  <th>税额</th>
													  <th>含税金额</th>
													  <th>赠品</th>
													  <th>未开票数量</th>
													  <th>分录备注</th>
													  <th>(来源单别)</th>
													  <th>(来源单号)</th>
													</tr> 
											  </thead>
											  <tbody>
												    <tr v-for="item,index in list.sowd" @keyup.f6="delete1(index)" >
												      <td>{{index+1}}</td>
												      <td>
														 <div class="layui-input-inline" style="width: 100%;margin: 0px 0px;">
														    <input type="text"  name="title" v-model="item.matterId" @keyup.f4="wladd(index)"  required  lay-verify="required" placeholder="1.0000" autocomplete="off" class="layui-input no_empty tdinput xck1">
														 </div>
										     		  </td>
												      <td>
														 <div class="layui-input-inline" style="width: 100%;margin: 0px 0px;">
														    <input type="text"  name="title" v-model="item.engname"   required  lay-verify="required" placeholder="1.0000" autocomplete="off" class="layui-input no_empty tdinput xck1">
														 </div>
										     		  </td>
												      <td>
														 <div class="layui-input-inline" style="width: 100%;margin: 0px 0px;">
														    <input type="text"  name="title" v-model="item.remark"   required  lay-verify="required" placeholder="1.0000" autocomplete="off" class="layui-input no_empty tdinput xck1">
														 </div>
										     		  </td>
												      <td>
														 <div class="layui-input-inline" style="width: 100%;margin: 0px 0px;">
														    <input type="text"  name="title" v-model="item.includeTax"   required  lay-verify="required" placeholder="1.0000" autocomplete="off" class="layui-input no_empty tdinput xck1">
														 </div>
										     		  </td>
												      <td>
														 <div class="layui-input-inline" style="width: 100%;margin: 0px 0px;">
														    <input type="text"  name="title" v-model="item.count" @input="sum(item,index)"  required  lay-verify="required" placeholder="1.0000" autocomplete="off" class="layui-input no_empty tdinput xck1">
														 </div>
										     		  </td>
												      <td>
												      	<div class="layui-input-inline" style="width: 100%;margin: 0px 0px;">
														    <input type="text"  name="title" v-model="item.zqunitprice" @input="sum(item,index)"  required  lay-verify="required" placeholder="1.0000" autocomplete="off" class="layui-input no_empty tdinput">
														 </div>
												      </td>
												       <td>
												      	<div class="layui-input-inline" style="width: 100%;margin: 0px 0px;">
														    <input type="text"  name="title" v-model="item.discount" @input="sum(item,index)"  required  lay-verify="required" placeholder="1.0000" autocomplete="off" class="layui-input no_empty tdinput">
														 </div>
												      </td>
												       <td>{{item.unitprice}}</td>
												       <td>{{item.sqdPrice}}</td>
												      <td>
												      	<div class="layui-input-inline" style="width: 100%;margin: 0px 0px;">
														    <input type="text"  name="title" v-model="item.taxrate" @input="sum(item,index)" required  lay-verify="required" placeholder="1.0000" autocomplete="off" class="layui-input no_empty tdinput">
														 </div>
												      </td>
												      <td>{{item.taxlimit}}</td>
												      <td>{{item.taxinclusiveprice}}</td>
												      <td>
													     <div class="layui-form">
														    <div class="layui-input-inline" style="width: 50px;margin-left:15px;" v-on:click="wd(item,index)">
														       <input type="checkbox"  v-model="item.complimentart"   lay-skin="primary" >
														    </div>
														  </div>
												      </td>
												      <td>
												      	<div class="layui-input-inline" style="width: 100%;margin: 0px 0px;">
														    <input type="text"  name="title" v-model="item.custom4"  required  lay-verify="required" placeholder="1.0000" autocomplete="off" class="layui-input no_empty tdinput">
														 </div>
												      </td>
												      <td>
												      	<div class="layui-input-inline" style="width: 100%;margin: 0px 0px;">
														    <input type="text"  name="title" v-model="item.itemremark"  required  lay-verify="required" placeholder="1.0000" autocomplete="off" class="layui-input no_empty tdinput">
														 </div>
												      </td>
												       <td>
												      	<div class="layui-input-inline" style="width: 100%;margin: 0px 0px;">
														    <input type="text"  name="title" v-model="item.sourcelist"  required  lay-verify="required" placeholder="1.0000" autocomplete="off" class="layui-input no_empty tdinput">
														 </div>
												      </td>
												       <td>
												      	<div class="layui-input-inline" style="width: 100%;margin: 0px 0px;">
														    <input type="text"  name="title" v-model="item.sourcenumber"  required  lay-verify="required" placeholder="1.0000" autocomplete="off" class="layui-input no_empty tdinput">
														 </div>
												      </td>
												    </tr>
											  </tbody>
										</table>
										
								    </div>
								    <div style="border: solid #000000;width: 100%;height: 70px;font-size: 20px;text-align:right;line-height: 70px;">
											<label>总数:
												<template v-if="list.sowSunnum=='' || isNaN(list.sowSunnum)">
													<span >0</span>
												</template>
												<template v-else>
													<span>{{list.sowSunnum}}</span>
												</template>
											</label>
											<label>总金额:
												<template v-if="list.sowSunmoney=='' || isNaN(list.sowSunmoney)">
													<span >0</span>
												</template>
												<template v-else>
													<span>{{list.sowSunmoney}}</span>
												</template>
											</label>
											<label>总税额:
												<template v-if="list.sowTax=='' || isNaN(list.sowTax)">
													<span >0</span>
												</template>
												<template v-else>
													<span>{{list.sowTax}}</span>
												</template>
											</label>
											<label>总含税总金额:
												<template v-if="list.sowIncludingTaxAmount=='' || isNaN(list.sowIncludingTaxAmount)">
													<span >0</span>
												</template>
												<template v-else>
													<span>{{list.sowIncludingTaxAmount}}</span>
												</template>
											</label>
									</div>
								    <!--账款-->
								    <div class="layui-tab-item layui-form" style="height: 311px;">
								    	<!--3-->
								 		<div class="layui-row">
											<div class="layui-col-sm6">
												<div class="layui-form-item">
												    <label class="layui-form-label">账款归属</label>
												    <div class="layui-input-inline" style="width: 160px;">
												       <input type="text"  v-model="list.sowSaleszkgs" name="title" required  lay-verify="required" placeholder="1.0000" autocomplete="off" class="layui-input">
												    </div>
												    <div class="layui-form-mid layui-word-aux">辅助文字</div>
											 	</div>
											</div>
											<div class="layui-col-sm6">
												<div class="layui-form-item">
												    <label class="layui-form-label">收款日期</label>
												    <div class="layui-input-inline" style="width: 160px;">
												        <input type="text" v-model="list.sowSalesdate"  name="date" id="test3" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
												    </div>
											 	</div>
											</div>
								 		</div>
								 		<!--4-->
								 		<div class="layui-row">
											<div class="layui-col-sm6">
												<div class="layui-form-item">
												    <label class="layui-form-label">收款条件</label>
												    <div class="layui-input-inline" style="width:80px;">
												      <select name="city" v-model="list.sowSalessktj" lay-verify="required">
												        <option value="0">到货</option>
												        <option value="1">次月</option>
												        <option value="1">月结</option>
												        <option value="1">其他</option>
												      </select>
												    </div>
												     <div class="layui-input-inline" style="width: 70px;">
												        <input type="text" v-model="list.sowSalesday" name="title" required  lay-verify="required" placeholder="1" autocomplete="off" class="layui-input">
												    </div>							  
											 		<div class="layui-form-mid layui-word-aux" style="color: #000000!important;">天</div>
												</div>
											</div>
											<div class="layui-col-sm6">
												<div class="layui-form-item">
												    <label class="layui-form-label">账款月份</label>
												    <div class="layui-input-inline" style="width: 160px;">
												        <input type="text" v-model="list.sowSalesyue"  name="date" id="test4" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
												    </div>
												    	
											 	</div>
											</div>
								 		</div>
										
								    </div>
								    <!---->
								    <div class="layui-tab-item layui-form" style="height: 311px;">
								    	<!--3-->
								 		<div class="layui-row">
											<div class="layui-col-sm6">
												<div class="layui-form-item">
												    <label class="layui-form-label">自定义栏一</label>
												   <div class="layui-input-inline">
												      <input type="text" name="title" required  lay-verify="required" placeholder="1.0000" autocomplete="off" class="layui-input">
												    </div>
											 	</div>
											</div>
											<div class="layui-col-sm6">
												<div class="layui-form-item">
												    <label class="layui-form-label">自定义栏一</label>
												   <div class="layui-input-inline">
												      <input type="text" name="title" required  lay-verify="required" placeholder="1.0000" autocomplete="off" class="layui-input">
												    </div>
											 	</div>
											</div>
								 		</div>
										<!--3-->
										<div class="layui-row">
											<div class="layui-col-sm12">
												<div class="layui-form-item layui-form-text">
												    <label class="layui-form-label">备注</label>
												    <div class="layui-input-block">
												      <textarea name="" required lay-verify="required" placeholder="请输入" class="layui-textarea" style="width: 565px;"></textarea>
												    </div>
												  </div>
											</div>
										</div>
								    </div>
								  </div>
							  </div>
			  		 </div> 
			  </div>
			  <!--1-->
			  								  								    
						<div class="layui-row">
							<div class="layui-col-sm6">
								<div class="layui-form-item">
								    <label class="layui-form-label">业务人员</label>
								    <div class="layui-input-inline">
								      <input type="text" v-model="list.sowForm" name="title" required  lay-verify="required" placeholder="请输入客户名称" autocomplete="off" class="layui-input no_empty">
								    </div>
							 	<div class="layui-form-mid layui-word-aux" @click="kh($event,'业务人员','业务人员.html')">选择客户</div>
								</div>
							</div>
							<div class="layui-col-sm6">
								<div class="layui-form-item">
								    <label class="layui-form-label">制单人员</label>
								      <div class="layui-input-inline">
								        <input type="text" v-model="list.sowForm" name="title" required  lay-verify="required" placeholder="请输入客户名称" autocomplete="off" class="layui-input no_empty">
								      </div>
							 	</div>
							</div>
				 		</div>
				 		<!--2-->
						<div class="layui-row">
							<div class="layui-col-sm6">
								<div class="layui-form-item">
								    <label class="layui-form-label">所属部门</label>
								    <div class="layui-input-inline">
								      <input type="text" v-model="list.sowBelongsSection" name="title" required  lay-verify="required" placeholder="请输入客户名称" autocomplete="off" class="layui-input no_empty">
								    </div>
							 	<div class="layui-form-mid layui-word-aux" @click="kh($event,'所属部门','所属部门.html')">选择客户</div>
								</div>
							</div>
							<div class="layui-col-sm6">
								<div class="layui-form-item">
								    <label class="layui-form-label">复核人员</label>
								      <div class="layui-input-inline">
								        <input type="text" v-model="list.sowCheckagainStaff" name="title" required  lay-verify="required" placeholder="请输入客户名称" autocomplete="off" class="layui-input no_empty">
								      </div>
							 	</div>
							</div>
				 		</div>
				 		<!---->
				 		<div class="layui-row layui-form">
							<div class="layui-col-sm12">
								<div class="layui-form-item">
									<div class="layui-input-inline" style="width:100px;">
										<select name="billStatus" lay-verify="required" lay-filter="query">
											<option value="">查询</option>
											<option value="1">历史交易查询</option>
											<option value="2">单据状态查询</option>
										</select>
									</div>
									<div class="layui-input-inline" style="width:100px;">
										<select name="student_Level"  lay-verify="required"  lay-filter="college" class="select">
											<option value="">转单</option>
											<option value="1">销售报价转入</option>
											<option value="2">销售订单转入</option>
											<option value="3">商业发票转入</option>
										</select>
									</div>
									<div class="layui-input-inline" style="width:100px;">
										<select name="city" lay-verify="required">
											<option value="">功能</option>
											<option value="0">物料组合设定</option>
											<option value="1">批号设定</option>
											<option value="2">条码打印</option>
											<option value="3">批次变更单价</option>
										</select>
									</div>
								</div>
							</div>
				 		</div>
		</div>
		<!---->
		<div class="fudong">
			<img style="margin-left:65%;margin-top:2%;" src="../images/shenhe.png" alt="Smiley face" width="80px" height="80px">
		</div>
		<!---->
		</body>
	<script type="text/javascript" src="../js/jquery-1.12.4.js" ></script>
	<script type="text/javascript" src="../js/layui.all.js" ></script>
	<script type="text/javascript" src="../js/layui.js" ></script>
	<script type="text/javascript" src="../js/vue.js" ></script>
	<script>

		//等子页面调用
		var sw=0;
		var id=0;
		var bool=0;//判断是修改还是新增
		var xsbj_vue=new Vue({   
			el:'.app',
			data(){
				return{
					danju:'',
					list:{
					  sowId:'',
					  customerId:''
					},
					adw:false,
					kehuid:'',
					elemChecked:''//复选框
				}
			}
			,methods:{
             	kadd:function(){//开启F4查询
					layer.open({
					  type: 2,
					  title: false,
					  closeBtn: 1,//右上角
					  area: ['350px'],
					  shade:0,
					  content: '../基本资料/客户资料.html',
					  success: function(layero, index){  
					        var body = layer.getChildFrame('body', index);  //获取的子页面HTML所有类容
	        				//得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
	        				var iframeWin = window[layero.find('iframe')[0]['name']]; 
	        				console.log(iframeWin);
	        				iframeWin.setVueName("xsbj_vue");//调用iframeWin页面的属性或者方法
	        			}
					});	 
             	},
             	success1:function(data){//客户返回值
             		this.list.customerId=data//把部门名称传给销售预收款的reces对象的部门名称
					this.list.sowAddress1='湖南';//吧客户地址一起带过去
					this.list.sowAddress2='株洲市哪里呢';//吧客户地址一起带过去list.sowtId
					this.list.sowtId='啥？';//吧客户地址一起带过去list.
					this.list.currencyId='人民币';//吧客户地址一起带过去list.
					this.list.sowExchangeRate=1.00;//吧客户地址一起带过去list.
					this.list.sowCertificateNumber='12605515846316';//凭证 
             	},
         		badd:function(){//开启F4查询
					layer.open({
					  type: 2,
					  title: false,
					  closeBtn: 1,//右上角
					  area: ['350px'],
					  shade:0,
					  content: '../基本资料/货币类别.html',
					  success: function(layero, index){  
					        var body = layer.getChildFrame('body', index);  //获取的子页面HTML所有类容
	        				//得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
	        				var iframeWin = window[layero.find('iframe')[0]['name']]; 
	        				console.log(iframeWin);
	        				iframeWin.setVueName("xsbj_vue");//调用iframeWin页面的属性或者方法
	        			}
					});
             	},
             	cadd(){
             		layer.open({
					  type: 2,
					  title: false,
					  closeBtn: 1,//右上角
					  area: ['350px'],
					  shade:0,
					  content: '../基本资料/仓库.html',
					  success: function(layero, index){  
					        var body = layer.getChildFrame('body', index);  //获取的子页面HTML所有类容
	        				//得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
	        				var iframeWin = window[layero.find('iframe')[0]['name']]; 
	        				console.log(iframeWin);
	        				iframeWin.setVueName("xsbj_vue");//调用iframeWin页面的属性或者方法
	        			}
					});
             	},
              wd(s,index){//按钮
              	if(s.sowdCustom1==false){
	    				this.list.sowd[index].sowdCustom1=true;
	    			}else{
	    				s.sowdCustom1=false;
	    			}
		        console.log(this.list.sowd);
              },
              	cl:function(){
              	
				},
				qxsh:function(){
					alert(xsbj_vue.list.sowCustom3)
					if(xsbj_vue.list.sowCustom3!=1){
						if(xsbj_vue.list.sowAuditing==1){
							xsbj_vue.list.sowAuditing=0;
							$.ajax({
		              			type:"get",
		              			url:"http://localhost:8080/t_sow/s?sowAuditing="+xsbj_vue.list.sowAuditing+"&sowId="+this.list.sowId+"&sowCustom3="+this.list.sowCustom3,
		              			async:true,
		              			success:function(rel){
		              				alert(rel);
		              				if(rel==1){
		              					$(".fudong").css('visibility','hidden');
		              					ins();
		              				}else{
		              					parent.layer.msg('请不要重复取消')
		              				}
		              			}
		              		});
						}else{
							parent.layer.msg('此单据还没有审核')
						}
					}else{
						parent.layer.msg('此单据已经完成且开票不能取消审核')
					}
				},
				sh:function(){
              		if(xsbj_vue.list.sowAuditing!=1){
              			xsbj_vue.list.sowAuditing=1;
              			$.ajax({
	              			type:"get",
	              			url:"http://localhost:8080/t_sow/s?sowAuditing="+this.list.sowAuditing+"&sowId="+this.list.sowId+"&sowCustom3="+this.list.sowCustom3,
	              			async:true,
	              			success:function(rel){
	              				alert(rel)
	              				if(rel==1){
	              					$("input").attr('readOnly',true);
	              					$(".fudong").css('visibility','visible');
	              					ins();
	              				}else{
	              					parent.layer.msg('请先保存');
	              				}
	              			}
	              		});
              		}else{
              			parent.layer.msg('此单据已经审核')
              		}
				},
				xz:function(id){//新增
					bool=1;
					$("input").attr('readOnly',false);
					parent.procurementVue.xszs();//解除按钮 
					this.emptyData(this.list)
					var that = this;
					$(".fudong").css('visibility','hidden');
					var sowDocumentDate = new Date();
					xsbj_vue.list.sowDocumentDate=sowDocumentDate.toLocaleString();
					var value1=xsbj_vue.list.sowDocumentDate.replace(/-/g,'');
			        $.ajax({
			        	type:"get",
			        	async:false,
			        	url:"http://localhost:8080/t_sow/wx?da="+value1,
			        	success:function(rel){
			        		that.list.sowId=rel;
			        		that.list.srwCheckagainStaff='admin';
			        		that.list.srwForm='admin';
			        	}
			        });
				},
				xg:function(id){
					if(xsbj_vue.list.sowAuditing==1){
						layer.msg('此单据已经审核不能修改');
					}else{
						bool=2;
						parent.procurementVue.xszs();
						
						$("input").attr('readOnly',false);
					}
				},
				emptyData(ojb){
					for(var o in ojb){
						if(o=='sowd'){
							ojb[o]=[];
						}else if(o=='sowAuditing'){
							ojb[o]=0
						}else if(o=='sowYn'){
							ojb[o]='0'
						}else{
							ojb[o] = ""; 
						}

					}
				},
				sc:function(id){//删除
					layer.confirm('确认要删除吗？', {
					  btn: ['确定','取消'] ,//按钮
					  shade: 0
					}, function(){
						if(xsbj_vue.list.sowAuditing!=1){
							$.ajax({
								type:'get',
								url:'http://localhost:8080/t_sow/d?sowId='+xsbj_vue.list.sowId,
								success:function(ret){
										layer.msg('销售出库删除成功');
										ins();
								}
							})
						}else{
							layer.msg('此单据已经审核不能修改')
						}
                       
					}, function(){
					  /*layer.msg('也可以这样', {
					    time: 20000, //20s后自动关闭
					    btn: ['明白了', '知道了']
					  });*/ 	
					});
				},
				bc:function(id){
					let empty=no_empty();
					alert(empty)
					if(empty==1){
						var SalesOutWarehouse=JSON.stringify(xsbj_vue.list)
	              		console.log(SalesOutWarehouse)
	              		if(bool==1){
	              			$.ajax({//新增
		              			type:"POST",
		              			url:"http://localhost:8080/t_sow/w",
		              			data:SalesOutWarehouse,
		              			contentType:"application/json;charset=utf-8",
		              			success:function(ret){
		              				bool=0;
		              				 if(1==1){
		              				 	ins();
		              				 	parent.layer.msg('新增成功！！');
		              				 }
		              			}
		              		});
	              		}else if(bool==2){
	              			$.ajax({//修改
		              			type:"POST",
		              			url:"http://localhost:8080/t_sow/u",
		              			data:SalesOutWarehouse,
		              			contentType:"application/json;charset=utf-8",
		              			success:function(ret){
		              				bool=0;
		              				 if(ret==1){
		              				 	ins();
		              				 	parent.layer.msg('修改成功！！');
		              				 }else{
		              				 	parent.layer.msg('修改失败！！');
		              				 }
		              			}
		              		});
	              		}else{
	              			parent.layer.msg('????');
	              		}
					}
				},
				getCgOrderTrue(newpods){//转单
					newpods.forEach((i,e)=>{
						alert(11)
						i.list.forEach((ii,ee)=>{
							alert(22)
							//console.log(JSON.stringify(xsbj_vue.list.sowd));
							xsbj_vue.list.sowd.push(ii);
						})
					})
					console.log(xsbj_vue.list.sowd)
				},
				count(){//新增一行
					if(xsbj_vue.list.warehouseId!=''){
						let index=$("tr").index(this);
						//alert(index)
						if(bool==1 || bool==2){
							xsbj_vue.list.sowd.push({'ziid':'','matterId':'','engname':'','remark':'','includeTax':'',
							'count':0,'zqunitprice':0,'discount':0,'unitprice':0,'sqdPrice':0,
							'taxrate':0,'taxlimit':0,'taxinclusiveprice':0,'complimentart':'','custom4':'',
							'itemremark':'','sourcelist':'','sourcenumber':''});
						}
					}else{
						layer.msg('仓库选一下晒！')
					}
					
				},
				wladd(index1){//物料F4
					//alert(index1+"-1")
					layer.open({
					  type: 2,
					  title: false,
					  closeBtn: 1,//右上角
					  area: ['350px'],
					  shade:0,
					  content: '../基本资料/物料主文件.html',
					  success: function(layero,index){  
					  		//alert(index1+"-2")
					        var body = layer.getChildFrame('body', index);  //获取的子页面HTML所有类容
	        				//得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
	        				var iframeWin = window[layero.find('iframe')[0]['name']]; 
	        				console.log(iframeWin);
	        				iframeWin.setVueName("xsbj_vue",index1);//调用iframeWin页面的属性或者方法
	        			}
					});	
				},
				success3:function(ss,index){//返回物料信息
					console.log(xsbj_vue.list.sowd[index]);
					xsbj_vue.list.sowd[index].matterId=ss.matterId;//物料id
					xsbj_vue.list.sowd[index].engname=ss.matterName;//物料名称
					xsbj_vue.list.sowd[index].remark=ss.matterSize;//规格型号
					xsbj_vue.list.sowd[index].includeTax=ss.muId;//计量单位id，关联munit 计量单位表
					xsbj_vue.list.sowd[index].sourcelist='销售报价单'
					alert(ss.matterId)
					xsbj_vue.list.sowd[index].sourcenumber=ss.matterId;//来源单号
					
				},
				sum(zhi,index){//计算折扣前后的价格
					let count=parseInt(zhi.count);//数量
					let discount=parseFloat(zhi.discount)//折数
					let zqunitprice=parseFloat(zhi.zqunitprice)//折前单价
					let unitprice=(discount/100) * zqunitprice;//折后单价
					let sqdPrice=count*unitprice;//金额
					let taxrate=parseFloat(zhi.taxrate)/100; 
					let taxinclusiveprice=(taxrate*sqdPrice)+sqdPrice;//含税金额
					let taxlimit=taxrate*sqdPrice;//税钱
					
					xsbj_vue.list.sowd[index].custom4 =xsbj_vue.list.sowd[index].count;//开票数量
					xsbj_vue.list.sowd[index].unitprice=unitprice.toFixed(2);//折后单价
					xsbj_vue.list.sowd[index].sqdPrice=sqdPrice.toFixed(2);//金额
					xsbj_vue.list.sowd[index].taxrate=zhi.taxrate;//税率
					xsbj_vue.list.sowd[index].taxlimit=taxlimit.toFixed(2);//税率
					xsbj_vue.list.sowd[index].taxinclusiveprice=taxinclusiveprice.toFixed(2);       //含税金额
					console.log(zhi);
					sowSunnum(zhi);
				},
				delete1(){
				}
			},
			filters: {
	            formatDate: function (value) {// 时间戳转换日期格式方法
	                if (value == null) {
	                    return '';
	                } else {
	                    let date = new Date(value);
	                    let y = date.getFullYear();// 年
	                    let MM = date.getMonth() + 1;// 月
	                    MM = MM < 10 ? ('0' + MM) : MM;
	                    let d = date.getDate();// 日
	                    d = d < 10 ? ('0' + d) : d;
	                    let h = date.getHours();// 时
	                    h = h < 10 ? ('0' + h) : h;
	                    let m = date.getMinutes();// 分
	                    m = m < 10 ? ('0' + m) : m;
	                    let s = date.getSeconds();// 秒
	                    s = s < 10 ? ('0' + s) : s;
	                    //return y + '-' + MM + '-' + d + ' ' + h + ':' + m + ':' + s;
	                    return y + '-' + MM + '-' + d;
	                    
	                }
	            }
        	},
			created:function(){	
			}
		})
		
		Date.prototype.toLocaleString = function() {
	                    let y = this.getFullYear();// 年
	                    let MM = this.getMonth() + 1;// 月
	                    MM = MM < 10 ? ('0' + MM) : MM;
	                    let d = this.getDate();// 日
	                    d = d < 10 ? ('0' + d) : d;
	                    let h = this.getHours();// 时
	                    h = h < 10 ? ('0' + h) : h;
	                    let m = this.getMinutes();// 分
	                    m = m < 10 ? ('0' + m) : m;
	                    let s = this.getSeconds();// 秒
	                    s = s < 10 ? ('0' + s) : s;
	                    //return y + '-' + MM + '-' + d + ' ' + h + ':' + m + ':' + s;
	                    return y + '-' + MM + '-' + d;
		};
		//初始化就执行获取后台数据
		//var BillStatus=1;
		function ins(){
			$.ajax({
			    type: 'GET',
			    dataType: "json",  //json text 服务器返回的数据类型
			    url: 'http://localhost:8080/t_sow/x',
			    success: function (result) {
			    	var unixTimestamp = new Date(result.sowDocumentDate);
					result.sowDocumentDate = unixTimestamp.toLocaleString();
					var unixTimestamp1=new Date(result.sowSalesdate)
					result.sowSalesdate=unixTimestamp1.toLocaleString();
					var unixTimestamp2=new Date(result.sowSalesyue)
					result.sowSalesyue=unixTimestamp2.getMonth()+1;
		    		xsbj_vue.list=result
		    		$.each(result.sowd,function(i,s) {
		    			if(s.sowdCustom1==0){
		    				s.sowdCustom1=false;
		    			}else{
		    				s.sowdCustom1=true;
		    			}
		    		});
					
		    		let cid=xsbj_vue.list.customerId.split("#");
		    		xsbj_vue.list.customerId=cid[0];
					xsbj_vue.kehuid=cid[1];
					//确认审核状态
		    		if(xsbj_vue.list.sowAuditing==1){
		    			$("input").attr('readOnly',true);
		    			$(".tbody").attr('readOnly',true);
		    			$(".fudong").css('visibility','visible');
		    		}else{
		    			$("input").attr('readOnly',true);
		    			$(".tbody").attr('readOnly',true);
		    		}			    		
		    		//是否开了发票
		    		if(result.sowCustom3==1){
		    			$("[name=checkbox1]").attr("checked",true);
		    		}else{
		    			$("[name=checkbox1]").attr("checked",false);
		    		}
		 		}
			});
		}
		$(function(){
			ins();
		})
		
		//计算
		function sowSunnum(){
			let sowSunnum=0;
			let sowSunmoney=0;
			let sowTax=0;
			let sowIncludingTaxAmount=0;
			
			xsbj_vue.list.sowd.filter(item=>{
				let discount=parseFloat(item.discount)//折数
				let zqunitprice=parseFloat(item.zqunitprice)//折前单价
				let unitprice=(discount/100) * zqunitprice;//折后单价
				//let taxrate=parseFloat(item.taxrate)/100; 
/*				let taxinclusiveprice=(taxrate*parseInt(item.count)) + parseInt(item.count);//含税金额
				let taxlimit=taxrate * parseInt(item.count);//税钱*/
				
				if(isNaN(parseInt(item.count))==false){
					sowSunnum+=parseInt(item.count);   //总数量
				}
				if(isNaN(parseInt(item.count) * unitprice)==false){
					sowSunmoney+=parseInt(item.count) * unitprice;   //总金额	
				}
				if(isNaN(item.taxlimit)==false){
					sowTax+=parseFloat(item.taxlimit);   //总税额
				}
				if(isNaN(item.taxinclusiveprice)==false){
					sowIncludingTaxAmount+=parseFloat(item.taxinclusiveprice);   //总含税金额
				}
			})
		if(sowSunnum==NaN){
			sowSunnum=0;
		}
		if(sowSunmoney==NaN){
			sowSunmoney=0;
		}
		if(sowTax==NaN){
			sowTax=0;
		}
		if(sowIncludingTaxAmount==NaN){
			sowIncludingTaxAmount=0;
		}
			xsbj_vue.list.sowSunnum=sowSunnum;
			xsbj_vue.list.sowSunmoney=sowSunmoney.toFixed(2);
			xsbj_vue.list.sowTax=sowTax.toFixed(2);
			console.log(sowTax);
			console.log(sowIncludingTaxAmount);
			xsbj_vue.list.sowIncludingTaxAmount=sowIncludingTaxAmount.toFixed(2);
		}
		
		
//form表单提交
layui.use(['element','form'], function(){
    var element = layui.element;
    var form = layui.form;
    var  layer = layui.layer;
 
 	form.on('select(college)', function (data) {
 		alert(xsbj_vue.list.warehouseId)
    	   if(xsbj_vue.list.warehouseId!=''){
    	   		let message=$("select[name=student_Level").val();
	    	 	if(message==1 && xsbj_vue.list.sowCustom2!=1){
	    	 		//alert("销售报价转入")
	    	 		layer.open({
						  type: 2,
						  title: '转单销售报价',
						  closeBtn: 1,//右上角
						  area: ['498px','350px'],
						  shade:0,
						  content: '../销售模块/转单销售报价.html',
						  success: function(layero, index){  
						        var body = layer.getChildFrame('body',index);//获取的子页面HTML所有类容
		        				//得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
		        				var iframeWin = window[layero.find('iframe')[0]['name']]; 
		        				console.log(xsbj_vue.list.sowId);
		        				iframeWin.setVueName("xsbj_vue");//调用iframeWin页面的属性或者方法
		        			}
						});
	    	 	}else if(message==2 && xsbj_vue.list.sowCustom2!=1){
	    	 		
	    	 	}else if(message==3 && xsbj_vue.list.sowCustom2!=1){
	    	 		alert("商业发票转入")
	    	 	}else{
	    	 		parent.layer.msg('不能转入');
	    	 	}
    	   }else{
    	   		layer.msg('仓库不能为空！！')
    	   }
    });
    //复选框
    form.on('checkbox(checkbox1)',function(data){
    	if(xsbj_vue.list.sowAuditing!=1){
	    		if(data.elem.checked){
	    		xsbj_vue.list.sowCustom3=1;
	    		$.ajax({
          			type:"get",
          			url:"http://localhost:8080/t_sow/p?sowCustom3="+xsbj_vue.list.sowCustom3+"&sowId="+xsbj_vue.list.sowId,
          			async:true,
          			success:function(rel){
          			}
          		});
	    	}else{
	    		xsbj_vue.list.sowCustom3=0;
	    		$.ajax({
          			type:"get",
          			url:"http://localhost:8080/t_sow/p?sowCustom3="+xsbj_vue.list.sowCustom3+"&sowId="+xsbj_vue.list.sowId,
          			async:true,
          			success:function(rel){
          			}
          		});
	    	}
    	}else{
    		//是否开了发票
    		if(xsbj_vue.list.sowCustom3==1){
    			$("[name=checkbox1]").attr("checked",true); //注意这里使用的是attr()
				 layui.form.render();
    		}else{
    			$("[name=checkbox1]").attr("checked",false); //注意这里使用的是attr()
    			 layui.form.render();
    		}
    		layer.msg('请先取消审核')
    	}
    })
    form.on('select(query)', function (data) {
    	   let message=$("select[name=billStatus").val();
    	 	if(message==2){
    	 		alert("销售报价转入")
    	 	}else if(message==1){
    	 		layer.open({
					  type: 2,
					  title: '历史交易查询',
					  closeBtn: 1,//右上角
					  area: ['618px','350px'],
					  shade:0,
					  content: '../销售模块/历史交易查询.html',
					  success: function(layero, index){  
					        var body = layer.getChildFrame('body', index);  //获取的子页面HTML所有类容
	        				//得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
	        				var iframeWin = window[layero.find('iframe')[0]['name']]; 
	        				console.log(xsbj_vue.list.sowId);
	        				iframeWin.setVueName("xsbj_vue",xsbj_vue.list.sowCustom2,xsbj_vue.list.customerId,xsbj_vue.kehuid);//调用iframeWin页面的属性或者方法
	        			}
					});
    	 	}else{
    	 		
    	 	}
    });
});
//单据日期
layui.use('laydate', function(){
	var laydate = layui.laydate;
	laydate.render({
	    elem: '#test1',
	    done:function(value,date,endDate){//value, date, endDate点击日期、清空、现在、确定均会触发。回调返回三个参数，分别代表：生成的值、日期时间对象、结束的日期时间对象
        xsbj_vue.list.sowDocumentDate=value;
        var value1=value.replace(/-/g,'');
	        $.ajax({
	        	type:"get",
	        	url:"http://localhost:8080/t_sow/wx?da="+value1,
	        	success:function(rel){
	        		xsbj_vue.list.sowId=rel;
	        	}
	        });
    	}
	  });
	  laydate.render({
	    elem: '#test2'
	  });
	  laydate.render({
	    elem: '#test3'
	  });
	  //年月选择器
	  laydate.render({
	  	elem: '#test4'
	  	,type: 'month'
	});
});



function no_empty(){
        let status ='';//函数返回的状态，0代表是是空，1不是空
        let val = '';//存历遍的input的输入内容
        let arr=[];//存历遍后，且为空的input标签对象
  $('.no_empty').each(function(key,value){
      val = $(value).val();
      if(val===''){
          arr.push($(value));//把抓到内容为空的input存入arr数组中
          let target =arr[0];//始终抓取第一个为空的input标签，并写入下面的弹层参数中
          layer.tips(
              '不能为空',
              target, {
                  // tipsMore: true,
                  anim:6,
                  time:1500,
                  tips: [1,'#f99501'] //还可配置颜色
                  ,end:function () {
                  }
              });
          status= 0;
      }else{
          status= 1;
      }

  });

  return status
    }
</script>

</html>
