<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../css/layui.css" media="all" />
		<style>
			.dayo{
				margin: 0 auto;
			}
			.layui-form-item{
				height: 20px;
			}	
			.layui-tab-title li {
			    display: inline-block;
			    vertical-align: middle;
			    font-size: 14px;
			    transition: all .2s;
			    -webkit-transition: all .2s;
			    position: relative;
			    line-height: 40px;
			    min-width: 52.5px;
			    padding: 0 15px;
			    text-align: center;
			    cursor: pointer;
			}		
		</style>
		 <style>
		 /* 防止下拉框的下拉列表被隐藏---必须设置--- */
		.layui-table-cell {
			overflow: visible !important;
		}
		/* 设置下拉框的高度与表格单元相同 */
		.layui-input, .layui-select, .layui-textarea{
		height: 30px !important;
		}
		
		.layui-textarea {
		    min-height: 200px;
		    height: auto;
		    line-height: 20px;
		    padding: 6px 10px;
		    resize: vertical;
		}
		</style>
	</head>
		<body>
			<div class="layui-container app" style="width: 800px;margin-top: 50px;">
			  <div style="margin-left: -20px;">
			  	<form class="layui-form" action="">
						<!--1-->
						<div class="layui-row">
							<div class="layui-col-sm6">
								<div class="layui-form-item">
								    <label class="layui-form-label">客户名称</label>
								    <div class="layui-input-inline">
								      <input type="text" name="title" required  lay-verify="required" placeholder="请输入客户名称" autocomplete="off" class="layui-input">
								    </div>
							 	<div class="layui-form-mid layui-word-aux" @click="kh($event,'客户信息单','客户信息单.html')">选择客户</div>
								</div>
							</div>
							<div class="layui-col-sm6">
								<div class="layui-form-item">
								    <label class="layui-form-label">单据日期</label>
								      <div class="layui-input-inline">
								        <input type="text" v-model="data1"  name="date" id="test1" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
								      </div>
							 	</div>
							</div>
				 		</div>
				 		 <!--2-->
						<div class="layui-row">
							<div class="layui-col-sm6">
								<div class="layui-form-item">
								    <label class="layui-form-label">送货地址</label>
								    <div class="layui-input-inline" style="width: 60px;">
								      <input type="text" name="title" required  lay-verify="required"  autocomplete="off" class="layui-input">
								    </div>
								    <div class="layui-input-inline" style="width: 120px;">
								      <input type="text" name="title" required  lay-verify="required"  autocomplete="off" class="layui-input">
								    </div>
							 	</div>
							</div>
							<div class="layui-col-sm6">
								<div class="layui-form-item">
								    <label class="layui-form-label">单据号码</label>
								    <div class="layui-input-inline">
								      <input type="text" name="title" v-model="danju" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
								    </div>
								    <div class="layui-form-mid layui-word-aux">辅助文字</div>
							 	</div>
							</div>
				 		</div>
				 		<!--3-->
				 		<div class="layui-row">
							<div class="layui-col-sm6">
								<div class="layui-form-item">
								    <label class="layui-form-label">销售类型</label>
								    <div class="layui-input-inline">
								      <input type="text" name="title" v-model="danju" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
								    </div>
							 	</div>
							</div>
							<div class="layui-col-sm6">
								<div class="layui-form-item">
								    <label class="layui-form-label">币别</label>
								    <div class="layui-input-inline">
								      <input type="text" name="title" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
								    </div>
							 	</div>
							</div>
				 		</div>
				 		<!--4-->
				 		<div class="layui-row">
							<div class="layui-col-sm6">
								<div class="layui-form-item">
								    <label class="layui-form-label">单价是税否</label>
								    <div class="layui-input-block" style="width:190px;">
								      <select name="city" lay-verify="required">
								        <option value="0">未税</option>
								        <option value="1">含税</option>
								      </select>
								    </div>								  
							 	</div>
							</div>
							<div class="layui-col-sm6">
								<div class="layui-form-item">
								    <label class="layui-form-label">汇率</label>
								    <div class="layui-input-inline">
								      <input type="text" name="title" required  lay-verify="required" placeholder="1.0000" autocomplete="off" class="layui-input">
								    </div>
							 	</div>
							</div>
				 		</div>
				 		<!--5-->
				 		<div class="layui-row">
							<div class="layui-col-sm6">
								<div class="layui-form-item">
								    <label class="layui-form-label">仓库</label>
								   <div class="layui-input-inline">
								      <input type="text" name="title" required  lay-verify="required" placeholder="1.0000" autocomplete="off" class="layui-input">
								    </div>
							 	</div>
							</div>
							<div class="layui-col-sm6">
								<div class="layui-form-item">
								    <label class="layui-form-label">国外贸易</label>
								    <div class="layui-input-block" style="width:190px;">
								      <select name="city" lay-verify="required">
								        <option value="0">未税</option>
								        <option value="1">含税</option>
								      </select>
								    </div>
							 	</div>
							</div>
				 		</div>
				 		<!--5-->
				 		<div class="layui-row">
							<div class="layui-col-sm6">
								<div class="layui-form-item">
								    <label class="layui-form-label">凭证编号</label>
								   <div class="layui-input-inline">
								      <input type="text" name="title" required  lay-verify="required" placeholder="1.0000" autocomplete="off" class="layui-input">
								    </div>
							 	</div>
							</div>
							<div class="layui-col-sm6">
								<div class="layui-form-item">
							    <div class="layui-input-inline" style="width: 50px;margin-left: 75px;">
							       <input type="checkbox" name="like1[write]" lay-skin="primary"  checked="">
							    </div>
							    <div class="layui-form-mid layui-word-aux" style="margin-left: 5px;color: #000000!important;">复核后自动生成发票</div>
							  </div>
							</div>
				 		</div>
						<!-- <div class="layui-form-item">
						    <div class="layui-input-block">
						      <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
						      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
						    </div>
						 </div>-->
				</form>
			  </div>	
			  <div class="layui-row">
			  		 <div class="layui-col-sm12">
			  		 	 	 <div class="layui-tab layui-tab-card">
								  <ul class="layui-tab-title">
								    <li class="layui-this">内容</li>
								    <li>账款</li>
								    <li>备注</li>
								  </ul>
								  <div class="layui-tab-content">
								    <div class="layui-tab-item layui-show" style="margin:-21px -10px -20px -11px;">
								    	<!--表单-->
								    	
								    	<table class="layui-hide layui-form" id="tableDemo" lay-filter="tableDemo"></table>
										<script type="text/html" id="barDemo">
										    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
										    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
										    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
										</script>
								    	<!---->
								    </div>
								    <!--账款-->
								    <div class="layui-tab-item layui-form" style="height: 311px;">
								    	<!--3-->
								 		<div class="layui-row">
											<div class="layui-col-sm6">
												<div class="layui-form-item">
												    <label class="layui-form-label">账款归属</label>
												    <div class="layui-input-inline" style="width: 160px;">
												       <input type="text" name="title" required  lay-verify="required" placeholder="1.0000" autocomplete="off" class="layui-input">
												    </div>
												    <div class="layui-form-mid layui-word-aux">辅助文字</div>
											 	</div>
											</div>
											<div class="layui-col-sm6">
												<div class="layui-form-item">
												    <label class="layui-form-label">收款日期</label>
												    <div class="layui-input-inline" style="width: 160px;">
												        <input type="text" v-model="data2"  name="date" id="test3" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
												    </div>
											 	</div>
											</div>
								 		</div>
								 		<!--4-->
								 		<div class="layui-row">
											<div class="layui-col-sm6">
												<div class="layui-form-item">
												    <label class="layui-form-label">收款条件</label>
												    <div class="layui-input-inline" style="width:80px;">
												      <select name="city" lay-verify="required">
												        <option value="0">到货</option>
												        <option value="1">次月</option>
												        <option value="1">月结</option>
												        <option value="1">其他</option>
												      </select>
												    </div>
												     <div class="layui-input-inline" style="width: 70px;">
												        <input type="text" name="title" required  lay-verify="required" placeholder="1" autocomplete="off" class="layui-input">
												    </div>							  
											 		<div class="layui-form-mid layui-word-aux" style="color: #000000!important;">天</div>
												</div>
											</div>
											<div class="layui-col-sm6">
												<div class="layui-form-item">
												    <label class="layui-form-label">账款月份</label>
												    <div class="layui-input-inline" style="width: 160px;">
												        <input type="text"   name="date" id="test4" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
												    </div>
												    	
											 	</div>
											</div>
								 		</div>
										
								    </div>
								    <!---->
								    <div class="layui-tab-item layui-form" style="height: 311px;">
								    	<!--3-->
								 		<div class="layui-row">
											<div class="layui-col-sm6">
												<div class="layui-form-item">
												    <label class="layui-form-label">自定义栏一</label>
												   <div class="layui-input-inline">
												      <input type="text" name="title" required  lay-verify="required" placeholder="1.0000" autocomplete="off" class="layui-input">
												    </div>
											 	</div>
											</div>
											<div class="layui-col-sm6">
												<div class="layui-form-item">
												    <label class="layui-form-label">自定义栏一</label>
												   <div class="layui-input-inline">
												      <input type="text" name="title" required  lay-verify="required" placeholder="1.0000" autocomplete="off" class="layui-input">
												    </div>
											 	</div>
											</div>
								 		</div>
										<!--3-->
										<div class="layui-row">
											<div class="layui-col-sm12">
												<div class="layui-form-item layui-form-text">
												    <label class="layui-form-label">备注</label>
												    <div class="layui-input-block">
												      <textarea name="" required lay-verify="required" placeholder="请输入" class="layui-textarea" style="width: 565px;"></textarea>
												    </div>
												  </div>
											</div>
										</div>
								    </div>
								  </div>
							  </div>
			  		 </div> 
			  </div>
			  <!--1-->
						<div class="layui-row">
							<div class="layui-col-sm6">
								<div class="layui-form-item">
								    <label class="layui-form-label">业务人员</label>
								    <div class="layui-input-inline">
								      <input type="text" name="title" required  lay-verify="required" placeholder="请输入客户名称" autocomplete="off" class="layui-input">
								    </div>
							 	<div class="layui-form-mid layui-word-aux" @click="kh($event,'业务人员','业务人员.html')">选择客户</div>
								</div>
							</div>
							<div class="layui-col-sm6">
								<div class="layui-form-item">
								    <label class="layui-form-label">制单人员</label>
								      <div class="layui-input-inline">
								        <input type="text" name="title" required  lay-verify="required" placeholder="请输入客户名称" autocomplete="off" class="layui-input">
								      </div>
							 	</div>
							</div>
				 		</div>
				 		<!--2-->
						<div class="layui-row">
							<div class="layui-col-sm6">
								<div class="layui-form-item">
								    <label class="layui-form-label">所属部门</label>
								    <div class="layui-input-inline">
								      <input type="text" name="title" required  lay-verify="required" placeholder="请输入客户名称" autocomplete="off" class="layui-input">
								    </div>
							 	<div class="layui-form-mid layui-word-aux" @click="kh($event,'所属部门','所属部门.html')">选择客户</div>
								</div>
							</div>
							<div class="layui-col-sm6">
								<div class="layui-form-item">
								    <label class="layui-form-label">复核人员</label>
								      <div class="layui-input-inline">
								        <input type="text" name="title" required  lay-verify="required" placeholder="请输入客户名称" autocomplete="off" class="layui-input">
								      </div>
							 	</div>
							</div>
				 		</div>
				 		<!---->
				 		<div class="layui-row layui-form">
							<div class="layui-col-sm12">
								<div class="layui-form-item">
									<div class="layui-input-inline" style="width:100px;">
										<select name="city" lay-verify="required">
											<option value="">查询</option>
											<option value="0">历史交易查询</option>
											<option value="1">单据状态查询</option>
										</select>
									</div>
									<div class="layui-input-inline" style="width:100px;">
										<select name="city" lay-verify="required">
											<option value="">转单</option>
											<option value="0">销售报价转入</option>
											<option value="1">销售订单转入</option>
											<option value="2">商业发票转入</option>
										</select>
									</div>
									<div class="layui-input-inline" style="width:100px;">
										<select name="city" lay-verify="required">
											<option value="">功能</option>
											<option value="0">物料组合设定</option>
											<option value="1">批号设定</option>
											<option value="2">条码打印</option>
											<option value="3">批次变更单价</option>
										</select>
									</div>
								</div>
							</div>
				 		</div>
		</div>	
		</body>
	<script type="text/javascript" src="../js/jquery-1.12.4.js" ></script>
	<script type="text/javascript" src="../js/layui.all.js" ></script>
	<script type="text/javascript" src="../js/layui.js" ></script>
	<script type="text/javascript" src="../js/vue.js" ></script>
	<script>
		var xsbj_vue=new Vue({
			el:'.app',
			data(){
				return{
					data1:'1991-02-01',
					data2:'1991-02-01',
					danju:''
				}
			}
			,methods:{

              kh:function(e,title,url){ // e.target 获取当前对象 在父层弹出一个层
              	parent.vue_tjy_xsgl.show(e,title,url);
                   /* parent.layer.open({
                        type: 2
                        ,title:title
                        ,area: ['800px', '360px']
                        ,shade: 0
                        ,maxmin: true
                        ,offset:'auto'
                        ,content: url// $(e.target) 要显示的节点,若用此法则可能会影响到样式，就是把选择的节点移到弹出框了
                        ,btn: ['关闭']
                        ,yes: function(i){
                            layer.close(i);// 关闭弹窗
                        },
                        id:title
                        ,zIndex: layer.zIndex
                        ,success: function(layero){
                           // layer.setTop(layero);
                        }
                    });*/
                   
               }
			}
			,created:function(){
				
				
			}
		})
		var s=[];
		s=[{"id":1,"name":"xiao"},
		   {"id":1,"name":"xiao"},
		   {"id":1,"name":"xiao"},
		   {"id":1,"name":"xiao"},
		   {"id":1,"name":"xiao"},
		   {"id":1,"name":"xiao"},
		   {"id":1,"name":"xiao"},
		   {"id":1,"name":"xiao"},
		   {"id":1,"name":"xiao"},
		   {"id":1,"name":"xiao"}
		   ]
		//alert(JSON.stringify(new URLSearchParams(location.search).get("list"))); // 蜘蛛侠)
layui.use('element', function(){
	var element = layui.element;			
});

//form表单提交
layui.use('form', function(){
  var form = layui.form;
  
  //监听提交
  form.on('submit(formDemo)', function(data){
    layer.msg(JSON.stringify(data.field));
    return false;
  });
});
/*表单*/
/*layui.use('table', function(){
  var table = layui.table;
  
  //第一个实例
  table.render({
    elem: '#demo'
    ,height:312
    ,data: s //数据接口
    ,page: true //开启分页
    ,cols: [[ //表头
                {field: 'id', title: 'ID', width: 80, sort: true, fixed: 'left'}
                , {field: 'username', title: '用户名', width: 80}
                , {field: 'sign', title: '可编辑', edit: 'text',width: 80, sort: true}
                , {field: 'city', title: '城市', width: 80}
                , {field: 'sex', title: '性别', width: 85, templet: '#switchTpl', unresize: true}
                , {field: 'lock', title: '下拉框', width: 110, templet: '#selectTool', unresize: true}
                , {fixed: 'right', title: '操作', width: 165, align: 'center', toolbar: '#barDemo'}
 		]]
  });
  
});*/






//单据日期
layui.use('laydate', function(){
	var laydate = layui.laydate;
	laydate.render({
	    elem: '#test1',
	    done:function(value,date){//value, date, endDate点击日期、清空、现在、确定均会触发。回调返回三个参数，分别代表：生成的值、日期时间对象、结束的日期时间对象
        var value=value.replace(/-/g,'');
         alert(value)
		xsbj_vue.danju=value;
    	}
	  });
});

//有效日期
layui.use('laydate', function(){
	var laydate = layui.laydate;
	laydate.render({
	    elem: '#test2'
	  });
});

//有效日期
layui.use('laydate', function(){
	var laydate = layui.laydate;
	laydate.render({
	    elem: '#test3'
	  });
});


//年月选择器
layui.use('laydate', function(){
	var laydate = layui.laydate;
	laydate.render({ 
  	elem: '#test4'
  	,type: 'month'
});
})
//laydate-day-prev

	/*如果是页面层
  $(".s1").click(function(){
  	window.parent.vue.zishow();	
  })*/
</script>
<!--选择客户-->
<script>


</script>






<script>
										    layui.use(['layer', 'table', 'element', 'form'], function () {
										        var layer = layui.layer //弹层
										            , table = layui.table //表格
										            , form = layui.form;
										        //监听地址选择操作
										        form.on('select(selectDemo)', function (obj) {
										            layer.tips(obj.elem.getAttribute('name') + '：'+obj.value + ' ' + obj.elem.getAttribute('dataId') , obj.othis);
										        });
										        //监听性别操作
										        form.on('switch(sexDemo)', function (obj) {
										            layer.tips(this.value + ' ' + this.name + '：' + obj.elem.checked, obj.othis);
										        });
										 
										        //执行一个 table 实例
										        table.render({
										            elem: '#tableDemo'
										            , height: 332
										            , url: '../销售模块/dataTable.json' //数据接口
										            , page: true //开启分页
										            , cols: [[ //表头
										                {field: 'id', title: 'ID', width: 80, sort: true, fixed: 'left'}
										                , {field: 'username', title: '用户名', width: 80}
										                , {field: 'sign', title: '可编辑', edit: 'text',width: 80, sort: true}
										                , {field: 'city', title: '城市', width: 80}
										                , {field: 'sex', title: '性别', width: 85, templet: '#switchTpl', unresize: true}
										                , {field: 'lock', title: '下拉框', width: 110, templet: '#selectTool', unresize: true}
										                , {fixed: 'right', title: '操作', width: 165, align: 'center', toolbar: '#barDemo'}
										            ]]
										        });
										        //监听单元格编辑
										        table.on('edit(tableDemo)', function(obj){
										            var value = obj.value //得到修改后的值
										                ,data = obj.data //得到所在行所有键值
										                ,field = obj.field; //得到字段
										            layer.msg('[ID: '+ data.id +'] ' + field + ' 字段更改为：'+ value);
										        });
										        //监听工具条
										        table.on('tool(tableDemo)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
										            var data = obj.data //获得当前行数据
										                , layEvent = obj.event; //获得 lay-event 对应的值
										            if (layEvent === 'detail') {
										                layer.msg('查看操作');
										            } else if (layEvent === 'del') {
										                layer.confirm('真的删除行么', function (index) {
										                    obj.del(); //删除对应行（tr）的DOM结构
										                    layer.close(index);
										                    //向服务端发送删除指令
										                });
										            } else if (layEvent === 'edit') {
										                layer.msg('编辑操作');
										            }
										        });
										    });
										</script>
										 
										<script type="text/javascript">
										    var cityArr = ['昆明', '长沙', '富源', '楚雄', '长春', '哈尔滨', '桂林'];
										</script>
										<script type="text/html" id="selectTool" desc="下拉选择器" intro="用到了layui模板（不能设置lay-ignore,否则监听不到事件）">
										    <select name="city" dataId="{{d.id}}" lay-filter="selectDemo">
										        {{# layui.each(cityArr, function(index, item){ }}
										        <option {{ (d.city==item)?'selected' : '' }}>{{ item }}</option>
										        {{# }); }}
										    </select>
										</script>
										 
										<script type="text/html" id="switchTpl" desc="切换开关" intro="layui表单空间">
										    <input type="checkbox" name="sex" value="{{d.id}}" lay-skin="switch"
										           lay-text="女|男" lay-filter="sexDemo" {{ (d.id==10003)?'checked' : '' }}>
										</script>
</html>
