<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../css/layui.css" media="all" />
		<style>
			.dayo{
				margin: 0 auto;
			}
			.layui-form-item{
				height: 20px;
			}	
			.layui-tab-title li {
			    display: inline-block;
			    vertical-align: middle;
			    font-size: 14px;
			    transition: all .2s;
			    -webkit-transition: all .2s;
			    position: relative;
			    line-height: 40px;
			    min-width: 52.5px;
			    padding: 0 15px;
			    text-align: center;
			    cursor: pointer;
			}	
			
			/*超出文本转为...*/
		table{
            width: 100%;
            table-layout: fixed;
         }
		td{
         	white-space: nowrap;/*控制单行显示*/
			overflow: hidden;/*超出隐藏*/
			text-overflow: ellipsis;/*隐藏的字符用省略号表示*/
         }
		th{
			white-space:nowrap;
			/*text-align: center !important;*/
		}	
		</style>
		 <style>
		 /* 防止下拉框的下拉列表被隐藏---必须设置--- */
		.layui-table-cell {
			overflow: visible !important;
		}
		/* 设置下拉框的高度与表格单元相同 */
		.layui-input, .layui-select, .layui-textarea{
		height: 30px !important;
		}
		
		.layui-textarea {
		    min-height: 200px;
		    height: auto;
		    line-height: 20px;
		    padding: 6px 10px;
		    resize: vertical;
		}
		</style>
		<style>
			.fudong{
				width: 100%;
				height: 50%;
				/*border: solid #000000;*/
				position: absolute;
				top:0px;
				visibility: hidden;
			}
			
			.tdinput{
				border:none;
				width:140%;
				margin: -5px -10px;
			}
		</style>
	</head>
		<body>
			<div class="layui-container app" id="readO"  style="width: 800px;margin-top: 50px;">
			  <div style="margin-left: -20px;">
			  	<form class="layui-form" action="">
						<!--1-->
						<div class="layui-row">
							<div class="layui-col-sm6">
								<div class="layui-form-item">
								    <label class="layui-form-label">客户名称</label>
								    <div class="layui-input-inline">
								      <input type="text" name="title" @keyup.f4="kadd()"  v-model="list.customerId" required  lay-verify="required" placeholder="请输入客户名称"      class="layui-input no_empty">
								    </div>
							 	<div class="layui-form-mid layui-word-aux" @click="kh($event,'客户信息单','客户信息单.html')">选择客户</div>
								</div>
							</div>
							<div class="layui-col-sm6">
								<div class="layui-form-item">
								    <label class="layui-form-label">单据日期</label>
								      <div class="layui-input-inline">
								        <input type="text"  v-model="list.srwDocumentDate"  name="date" id="test1" lay-verify="date" placeholder="yyyy-MM-dd"      class="layui-input no_empty">
								      </div>
							 	</div>
							</div>
				 		</div>
				 		 <!--2-->
						<div class="layui-row">
							<div class="layui-col-sm6">
								<div class="layui-form-item">
								    <label class="layui-form-label">送货地址</label>
								    <div class="layui-input-inline">
								      <input type="text" name="title" required  lay-verify="required"  v-model="list.srwAddress"     class="layui-input no_empty">
								    </div>
							 	</div>
							</div>
							<div class="layui-col-sm6">
								<div class="layui-form-item">
								    <label class="layui-form-label">单据号码</label>
								    <div class="layui-input-inline">
								      <input type="text" name="title"    required  lay-verify="required" placeholder="请输入标题"  v-model="list.srwId"    class="layui-input no_empty">
								    </div>
								    <div class="layui-form-mid layui-word-aux">辅助文字</div>
							 	</div>
							</div>
				 		</div>
				 		<!--3-->
				 		<div class="layui-row">
							<div class="layui-col-sm6">
								<div class="layui-form-item">
								    <label class="layui-form-label">单价?含税</label>
								    <div class="layui-input-block" style="width:190px;">
								      <select name="city" v-model="list.srwPriceIncludeTax"  lay-verify="required">
								        <option value="未税">未税</option>
								        <option value="含税">含税</option>
								      </select>
								    </div>
							 	</div>
							</div>
							<div class="layui-col-sm6">
								<div class="layui-form-item">
								    <label class="layui-form-label">币别</label>
								    <div class="layui-input-inline">
								      <input type="text" name="title" @keyup.f4="badd()" required v-model="list.currencyId" lay-verify="required" placeholder="请输入标题"      class="layui-input no_empty">
								    </div>
							 	</div>
							</div>
				 		</div>
				 		<!--4-->
				 		<div class="layui-row">
							<div class="layui-col-sm6">
								<div class="layui-form-item">
								    <label class="layui-form-label">仓库</label>
								   	<div class="layui-input-inline">
								      <input type="text" name="title" @keyup.f4="cadd()" v-model="list.warehouseId"   required  lay-verify="required" placeholder="请输入标题"      class="layui-input no_empty">
								    </div>
								    <div class="layui-form-mid layui-word-aux">辅助文字</div>
							 	</div>
							</div>
							<div class="layui-col-sm6">
								<div class="layui-form-item">
								    <label class="layui-form-label">汇率</label>
								    <div class="layui-input-inline">
								      <input type="text" name="title" required  lay-verify="required" v-model="list.srwExchangeRate"  placeholder="1.0000"      class="layui-input no_empty">
								    </div>
							 	</div>
							</div>
				 		</div>
				 		<!--5-->
				 		<div class="layui-row">
							<div class="layui-col-sm6">
								<div class="layui-form-item">
								    <label class="layui-form-label">重新出库</label>
								  <div class="layui-input-block" style="width:190px;">
								      <select name="city" v-model="list.salescxrk" lay-verify="required">
								        <option value="0">否</option>
								        <option value="1">是</option>
								      </select>
								    </div>
							 	</div>
							</div>
							<div class="layui-col-sm6">
								<div class="layui-form-item">
								    <label class="layui-form-label">国外贸易</label>
								    <div class="layui-input-block" style="width:190px;">
								      <select name="city" v-model="list.srwForeignTrade" lay-verify="required">
								        <option value="0">是</option>
								        <option value="1">不是</option>
								      </select>
								    </div>
							 	</div>
							</div>
				 		</div>
				 		<!--5-->
				 		<div class="layui-row">
							<div class="layui-col-sm6">
								<div class="layui-form-item">
								    <label class="layui-form-label">凭证编号</label>
								   <div class="layui-input-inline">
								      <input type="text" v-model="list.srwCertificateNumber" name="title" required  lay-verify="required" placeholder="1.0000"      class="layui-input no_empty">
								    </div>
							 	</div>
							</div>
				 		</div>
						<!-- <div class="layui-form-item">
						    <div class="layui-input-block">
						      <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
						      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
						    </div>
						 </div>-->
				</form>
			  </div>	
			  <div class="layui-row">
			  		 <div class="layui-col-sm12">
			  		 	 	 <div class="layui-tab layui-tab-card">
								  <ul class="layui-tab-title">
								    <li class="layui-this">内容</li>
								    <li>账款</li>
								    <li>备注</li>
								  </ul>
								  <div class="layui-tab-content">
								    <!---->
								    	<div class="layui-tab-item layui-show" style="margin:-20px 0px 0px -11px;width: 769px;height: 311px;overflow:auto;">
								    	<!--表单-->
									    	<table class="layui-table single" lay-size="sm" style="empty-cells:show;min-width:765px">
												  <colgroup>
												    <col width="70"></col>
												    <col width="70"></col>
												    <col width="70"></col>
												    <col width="70"></col>
												    <col width="70"></col>
												    <col width="70"></col>
												    <col width="70"></col>
												    <col width="70"></col>
												    <col width="70"></col>
												    <col width="70"></col>
												    <col width="70"></col>
												    <col width="70"></col>
												    <col width="70"></col>
												    <col width="70"></col>
												    <col width="70"></col>
												    <col width="70"></col>
												    <col width="70"></col>
												    <col width="70"></col>
												  </colgroup>
												  <thead>
														<tr>
														  <th>栏号</th>
														  <th>物料编号</th>
														  <th>物料名称</th>
														  <th>规格型号</th>
														  <th>单位名称</th>
														  <th>数量</th>
														  <th>折前单价</th>
														  <th>折数(%)</th>
														  <th>单价</th>
														  <th>金额</th>
														  <th>税率</th>
														  <th>税额</th>
														  <th>含税金额</th>
														  <th>赠品</th>
														  <th>未开票数量</th>
														  <th>分录备注</th>
														  <th>(来源单别)</th>
														  <th>(来源单号)</th>
														</tr> 
												  </thead>
												  <tbody>
													    <tr v-for="item,index in list.list">
													      <td>{{index+1}}</td>
													       <td>
															 <div class="layui-input-inline" style="width: 100%;margin: 0px 0px;">
															    <input type="text"  name="title" v-model="item.matterId" @keyup.f4="wladd(index)"  required  lay-verify="required" placeholder="1.0000" autocomplete="off" class="layui-input no_empty tdinput xck1">
															 </div>
											     		  </td>
												      	 <td>
															 <div class="layui-input-inline" style="width: 100%;margin: 0px 0px;">
															    <input type="text"  name="title" v-model="item.engname" @keyup.f4="wladd(index)"  required  lay-verify="required" placeholder="1.0000" autocomplete="off" class="layui-input no_empty tdinput xck1">
															 </div>
											     		  </td>
											     		  <td>
															 <div class="layui-input-inline" style="width: 100%;margin: 0px 0px;">
															    <input type="text"  name="title" v-model="item.remark" @keyup.f4="wladd(index)"  required  lay-verify="required" placeholder="1.0000" autocomplete="off" class="layui-input no_empty tdinput xck1">
															 </div>
											     		  </td>
											     		   <td>
															 <div class="layui-input-inline" style="width: 100%;margin: 0px 0px;">
															    <input type="text"  name="title" v-model="item.includeTax" @keyup.f4="wladd(index)"  required  lay-verify="required" placeholder="1.0000" autocomplete="off" class="layui-input no_empty tdinput xck1">
															 </div>
											     		  </td>
														 <td>
															 <div class="layui-input-inline" style="width: 100%;margin: 0px 0px;">
															    <input type="text"  name="title" v-model="item.count" @keyup.f4="wladd(index)"  required  lay-verify="required" placeholder="1.0000" autocomplete="off" class="layui-input no_empty tdinput xck1">
															 </div>
											     		  </td>
											     		  <td>
															 <div class="layui-input-inline" style="width: 100%;margin: 0px 0px;">
															    <input type="text"  name="title" v-model="item.zqunitprice" @keyup.f4="wladd(index)"  required  lay-verify="required" placeholder="1.0000" autocomplete="off" class="layui-input no_empty tdinput xck1">
															 </div>
											     		  </td>
											     		   <td>
															 <div class="layui-input-inline" style="width: 100%;margin: 0px 0px;">
															    <input type="text"  name="title" v-model="item.discount" @keyup.f4="wladd(index)"  required  lay-verify="required" placeholder="1.0000" autocomplete="off" class="layui-input no_empty tdinput xck1">
															 </div>
											     		  </td>
											     		    <td>
															 <div class="layui-input-inline" style="width: 100%;margin: 0px 0px;">
															    <input type="text"  name="title" v-model="item.unitprice" @keyup.f4="wladd(index)"  required  lay-verify="required" placeholder="1.0000" autocomplete="off" class="layui-input no_empty tdinput xck1">
															 </div>
											     		  </td>
											     		    <td>
															 <div class="layui-input-inline" style="width: 100%;margin: 0px 0px;">
															    <input type="text"  name="title" v-model="item.sqdPrice" @keyup.f4="wladd(index)"  required  lay-verify="required" placeholder="1.0000" autocomplete="off" class="layui-input no_empty tdinput xck1">
															 </div>
											     		  </td>
											     		    <td>
															 <div class="layui-input-inline" style="width: 100%;margin: 0px 0px;">
															    <input type="text"  name="title" v-model="item.taxrate" @keyup.f4="wladd(index)"  required  lay-verify="required" placeholder="1.0000" autocomplete="off" class="layui-input no_empty tdinput xck1">
															 </div>
											     		  </td>
											     		   <td>
															 <div class="layui-input-inline" style="width: 100%;margin: 0px 0px;">
															    <input type="text"  name="title" v-model="item.taxlimit" @keyup.f4="wladd(index)"  required  lay-verify="required" placeholder="1.0000" autocomplete="off" class="layui-input no_empty tdinput xck1">
															 </div>
											     		  </td>
											     		  <td>
															 <div class="layui-input-inline" style="width: 100%;margin: 0px 0px;">
															    <input type="text"  name="title" v-model="item.taxinclusiveprice" @keyup.f4="wladd(index)"  required  lay-verify="required" placeholder="1.0000" autocomplete="off" class="layui-input no_empty tdinput xck1">
															 </div>
											     		  </td>
													      <td>
														     <div class="layui-form">
															    <div class="layui-input-inline" style="width: 50px;margin-left:15px;" v-on:click="wd(item,index)">
															       <input type="checkbox"  v-model="item.complimentart"   lay-skin="primary" >
															    </div>
															  </div>
													      </td>
													      <td>
															 <div class="layui-input-inline" style="width: 100%;margin: 0px 0px;">
															    <input type="text"  name="title" v-model="item.srwCustom3" @keyup.f4="wladd(index)"  required  lay-verify="required" placeholder="1.0000" autocomplete="off" class="layui-input no_empty tdinput xck1">
															 </div>
											     		  </td>
											     		  <td>
															 <div class="layui-input-inline" style="width: 100%;margin: 0px 0px;">
															    <input type="text"  name="title" v-model="item.itemremark" @keyup.f4="wladd(index)"  required  lay-verify="required" placeholder="1.0000" autocomplete="off" class="layui-input no_empty tdinput xck1">
															 </div>
											     		  </td>
											     		  <td>
															 <div class="layui-input-inline" style="width: 100%;margin: 0px 0px;">
															    <input type="text"  name="title" v-model="item.sourcelist" @keyup.f4="wladd(index)"  required  lay-verify="required" placeholder="1.0000" autocomplete="off" class="layui-input no_empty tdinput xck1">
															 </div>
											     		  </td>
											     		   <td>
															 <div class="layui-input-inline" style="width: 100%;margin: 0px 0px;">
															    <input type="text"  name="title" v-model="item.sourcenumber" @keyup.f4="wladd(index)"  required  lay-verify="required" placeholder="1.0000" autocomplete="off" class="layui-input no_empty tdinput xck1">
															 </div>
											     		  </td>
													    </tr>
												  </tbody>
											</table>

								    </div>
								    <!---->
								    <!--账款-->
								    <div class="layui-tab-item layui-form" style="height: 311px;">
								    	<!--3-->
								 		<div class="layui-row">
											<div class="layui-col-sm6">
												<div class="layui-form-item">
												    <label class="layui-form-label">账款归属</label>
												    <div class="layui-input-inline" style="width: 160px;">
												       <input type="text" v-model="list.srwSaleszkgs" name="title" required  lay-verify="required" placeholder="1.0000"  class="layui-input">
												    </div>
												    <div class="layui-form-mid layui-word-aux">辅助文字</div>
											 	</div>
											</div>
											<div class="layui-col-sm6">
												<div class="layui-form-item">
												    <label class="layui-form-label">收款日期</label>
												    <div class="layui-input-inline" style="width: 160px;">
												        <input type="text" v-model="list.srwSalesdate" name="date" id="test3" lay-verify="date" placeholder="yyyy-MM-dd"      class="layui-input">
												    </div>
											 	</div>
											</div>
								 		</div>
								 		<!--4-->
								 		<div class="layui-row">
											<div class="layui-col-sm6">
												<div class="layui-form-item">
												    <label class="layui-form-label">收款条件</label>
												    <div class="layui-input-inline" style="width:80px;">
												      <select name="city" v-model="list.srwSalessktj" lay-verify="required">
												        <option value="0">到货</option>
												        <option value="1">次月</option>
												        <option value="2">月结</option>
												        <option value="3">其他</option>
												      </select>
												    </div>
												     <div class="layui-input-inline" style="width: 70px;">
												        <input type="text" name="title" v-model="list.srwSalesday" required  lay-verify="required" placeholder="1"      class="layui-input">
												    </div>							  
											 		<div class="layui-form-mid layui-word-aux" style="color: #000000!important;">天</div>
												</div>
											</div>
											<div class="layui-col-sm6">
												<div class="layui-form-item">
												    <label class="layui-form-label">账款月份</label>
												    <div class="layui-input-inline" style="width: 160px;">
												        <input type="text" v-model="list.srwSalesyue"  name="date" id="test4" lay-verify="date" placeholder="yyyy-MM-dd"  class="layui-input">
												    </div>
												    	
											 	</div>
											</div>
								 		</div>
										
								    </div>
								    <!---->
								    <div class="layui-tab-item layui-form" style="height: 311px;">
								    	<!--3-->
								 		<div class="layui-row">
											<div class="layui-col-sm6">
												<div class="layui-form-item">
												    <label class="layui-form-label">自定义栏一</label>
												   <div class="layui-input-inline">
												      <input type="text" name="title" required  lay-verify="required" placeholder="1.0000"      class="layui-input">
												    </div>
											 	</div>
											</div>
											<div class="layui-col-sm6">
												<div class="layui-form-item">
												    <label class="layui-form-label">自定义栏一</label>
												   <div class="layui-input-inline">
												      <input type="text" name="title" required  lay-verify="required" placeholder="1.0000"      class="layui-input">
												    </div>
											 	</div>
											</div>
								 		</div>
										<!--3-->
										<div class="layui-row">
											<div class="layui-col-sm12">
												<div class="layui-form-item layui-form-text">
												    <label class="layui-form-label">备注</label>
												    <div class="layui-input-block">
												      <textarea name="" required lay-verify="required" v-model="list.srwRemark" placeholder="请输入" class="layui-textarea" style="width: 565px;"></textarea>
												    </div>
												  </div>
											</div>
										</div>
								    </div>
								  </div>
							  </div>
			  		 </div> 
			  </div>
			  <!--1-->
						<div class="layui-row">
							<div class="layui-col-sm6">
								<div class="layui-form-item">
								    <label class="layui-form-label">业务人员</label>
								    <div class="layui-input-inline">
								      <input type="text" name="title" v-model="list.srwBuyer" required  lay-verify="required" placeholder="请输入客户名称"      class="layui-input no_empty">
								    </div>
							 	<div class="layui-form-mid layui-word-aux" @click="kh($event,'业务人员','业务人员.html')">选择客户</div>
								</div>
							</div>
							<div class="layui-col-sm6">
								<div class="layui-form-item">
								    <label class="layui-form-label">制单人员</label>
								      <div class="layui-input-inline">
								        <input type="text" v-model="list.srwForm" name="title" required lay-verify="required" placeholder="请输入客户名称"      class="layui-input no_empty">
								      </div>
							 	</div>
							</div>
				 		</div>
				 		<!--2-->
						<div class="layui-row">
							<div class="layui-col-sm6">
								<div class="layui-form-item">
								    <label class="layui-form-label">所属部门</label>
								    <div class="layui-input-inline">
								      <input type="text" v-model="list.srwBelongsSection" name="title" required  lay-verify="required" placeholder="请输入客户名称"      class="layui-input no_empty">
								    </div>
							 	<div class="layui-form-mid layui-word-aux" @click="kh($event,'所属部门','所属部门.html')">选择客户</div>
								</div>
							</div>
							<div class="layui-col-sm6">
								<div class="layui-form-item">
								    <label class="layui-form-label">复核人员</label>
								      <div class="layui-input-inline">
								        <input type="text" v-model="list.srwCheckagainStaff" name="title" required  lay-verify="required" placeholder="请输入客户名称"      class="layui-input no_empty">
								      </div>
							 	</div>
							</div>
				 		</div>
				 		<!---->
				 		<div class="layui-row layui-form">
							<div class="layui-col-sm12">
								<div class="layui-form-item">
									<div class="layui-input-inline" style="width:100px;">
										<select name="college1" lay-filter="college" lay-verify="required">
											<option value="">转单</option>
											<option value="0">销售出库转入</option>
										</select>
									</div>
									<div class="layui-input-inline" style="width:100px;">
										<select name="query1" lay-filter="query" lay-verify="required">
											<option value="">查询</option>
											<option value="0">单据状态查询</option>
										</select>
									</div>
									<div class="layui-input-inline" style="width:100px;">
										<select name="city" lay-verify="required">
											<option value="">功能</option>
											<option value="0">物料组合设定</option>
											<option value="1">批号设定</option>
											<option value="2">条码打印</option>
											<option value="3">批次变更单价</option>
										</select>
									</div>
								</div>
							</div>
				 		</div>
		</div>	
		<!---->
		<div class="fudong">
			<img style="margin-left:65%;margin-top: 2%;" src="../images/shenhe.png" alt="Smiley face" width="80px" height="80px">
		</div>
		<!---->
		</body>
	<script type="text/javascript" src="../js/jquery-1.12.4.js" ></script>
	<script type="text/javascript" src="../js/layui.all.js" ></script>
	<script type="text/javascript" src="../js/layui.js" ></script>
	<script type="text/javascript" src="../js/vue.js" ></script>
	<script>//工具
	
</script>
	
	
	<script>
		function formatDate1(value,index) {// 时间戳转换日期格式方法
	                if (value == null) {
	                    return '';
	                } else {
	                	let date;
	                	if(index!=1){
	                		 date = new Date(value);
	                	}else{
	                		alert(11)
	                		 date = value;
	                	}
	                    let y = date.getFullYear();// 年
	                    let MM = date.getMonth() + 1;// 月
	                    MM = MM < 10 ? ('0' + MM) : MM;
	                    let d = date.getDate();// 日
	                    d = d < 10 ? ('0' + d) : d;
	                    let h = date.getHours();// 时
	                    h = h < 10 ? ('0' + h) : h;
	                    let m = date.getMinutes();// 分
	                    m = m < 10 ? ('0' + m) : m;
	                    let s = date.getSeconds();// 秒
	                    s = s < 10 ? ('0' + s) : s;
	                    //return y + '-' + MM + '-' + d + ' ' + h + ':' + m + ':' + s;
	                    return y + '-' + MM + '-' + d;
	                    
	                }
	            }
		
		var bool=0;
		$(function(){
			into();
		})
		
		var xsbj_vue=new Vue({
			el:'.app',
			data(){
				return{
					list:[]
				}
			},
			methods:{
				emptyData(ojb){//循环清空
					for(var o in ojb){
						if(o=='list'){//子表
							ojb[o]=[];
						}else if(o=='sowAuditing'){//审核
							ojb[o]=0
						}else if(o=='sowYn'){//假删除
							ojb[o]='0'
						}else{
							ojb[o] = ""; 
						}

					}
				},
				kadd:function(){//开启F4查询//客户
					layer.open({
					  type: 2,
					  title: false,
					  closeBtn: 1,//右上角
					  area: ['350px'],
					  shade:0,
					  content: '../基本资料/客户资料.html',
					  success: function(layero, index){  
					        var body = layer.getChildFrame('body', index);  //获取的子页面HTML所有类容
	        				//得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
	        				var iframeWin = window[layero.find('iframe')[0]['name']]; 
	        				console.log(iframeWin);
	        				iframeWin.setVueName("xsbj_vue");//调用iframeWin页面的属性或者方法
	        			}
					});	
             	},
             	success1:function(data){
             		this.list.customerId=data;
					this.list.srwAddress='湖南省株洲市哪里呢';//吧客户地址一起带过去list.sowtId
					this.list.srwtId='啥？';//吧客户地址一起带过去list.
					this.list.currencyId='人民币';//吧客户地址一起带过去list.
					this.list.srwExchangeRate=1.00;//吧客户地址一起带过去list.
					this.list.srwCertificateNumber='12605515846316';//凭证 	
             	},
             	badd:function(){//开启F4查询//币别
					layer.open({
					  type: 2,
					  title: false,
					  closeBtn: 1,//右上角
					  area: ['350px'],
					  shade:0,
					  content: '../基本资料/货币类别.html',
					  success: function(layero, index){  
					        var body = layer.getChildFrame('body', index);  //获取的子页面HTML所有类容
	        				//得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
	        				var iframeWin = window[layero.find('iframe')[0]['name']]; 
	        				console.log(iframeWin);
	        				iframeWin.setVueName("xsbj_vue");//调用iframeWin页面的属性或者方法
	        			}
					});
             	},
             	success2:function(data){
             		this.list.customerId=data;
					this.list.srwExchangeRate=1.00;//吧客户地址一起带过去list.
             	},
             	getCgOrderTrue(newpods){//转单
					newpods.forEach((i,e)=>{
						i.list.forEach((ii,ee)=>{
							xsbj_vue.list.list.push(ii);
						})
					})
					console.log(xsbj_vue.list.sowd)
				},
             	cadd(){
             		layer.open({
					  type: 2,
					  title: false,
					  closeBtn: 1,//右上角
					  area: ['350px'],
					  shade:0,
					  content:'../基本资料/仓库.html',
					  success:function(layero, index){  
					        var body = layer.getChildFrame('body', index);  //获取的子页面HTML所有类容
	        				//得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
	        				var iframeWin = window[layero.find('iframe')[0]['name']]; 
	        				console.log(iframeWin);
	        				iframeWin.setVueName("xsbj_vue");//调用iframeWin页面的属性或者方法
	        			}
					});
             	},
               xz:function(id){//新增
					bool=1;
					$("#readO input").attr('readOnly',false);
					parent.procurementVue.xszs();//解除按钮 
					this.emptyData(this.list)
					var that = this;
					$(".fudong").css('visibility','hidden');
					var sowDocumentDate = new Date();
					xsbj_vue.list.srwDocumentDate=formatDate1(sowDocumentDate,1);
					var value1=xsbj_vue.list.srwDocumentDate.replace(/-/g,'');
					//alert(value1)
			        $.ajax({
			        	type:"get",
			        	async:false,
			        	url:"http://localhost:8080/trc/wx?da="+value1,
			        	success:function(rel){
			        		//alert(rel)
			        		that.list.srwId=rel;
			        		that.list.srwCheckagainStaff='admin';
			        		that.list.srwForm='admin';
			        	}
			        });
				},sh:function(){
              		if(xsbj_vue.list.srwAuditing!=1){//
              			xsbj_vue.list.srwAuditing=1;
              			$.ajax({
	              			type:"get",
	              			url:"http://localhost:8080/trc/s?srwAuditing="+this.list.srwAuditing+"&srwId="+this.list.srwId,
	              			async:true,
	              			success:function(rel){
	              				if(rel==1){
	              					$("#readO input").attr('readOnly',true);
	              					$(".fudong").css('visibility','visible');
	              				}else{
	              					parent.layer.msg('请先保存');
	              				}
	              			}
	              		});
              		}else{
              			parent.layer.msg('此单据已经审核')
              		}
				},
				qxsh:function(){
					if(xsbj_vue.list.srwAuditing==1){
						xsbj_vue.list.srwAuditing=0;
						$.ajax({
	              			type:"get",
	              			url:"http://localhost:8080/trc/s?srwAuditing="+this.list.srwAuditing+"&srwId="+this.list.srwId,
	              			async:true,
	              			success:function(rel){
	              				if(rel==1){
	              					$("#readO input").attr('readOnly',false);
	              					$(".fudong").css('visibility','hidden');
	              				}else{
	              					parent.layer.msg('请不要重复取消')
	              				}
	              			}
	              		});
					}else{
						parent.layer.msg('此单据还没有审核');
					}
				},
				sc:function(id){//删除
					layer.confirm('确认要删除吗？', {
					  btn: ['确定','取消'] ,//按钮
					  shade: 0
					}, function(){
						if(xsbj_vue.list.srwAuditing!=1){
							$.ajax({
								type:'get',
								url:'http://localhost:8080/t_sow/d?sowId='+xsbj_vue.list.sowId,
								success:function(ret){
										layer.msg('销售出库删除成功');
										ins();
									
								}
							})
						}else{
							layer.msg('此单据已经审核不能修改')
						}
                       
					}, function(){
					  /*layer.msg('也可以这样', {
					    time: 20000, //20s后自动关闭
					    btn: ['明白了', '知道了']
					  });*/ 	
					});
				},
				xg:function(id){//修改
					if(xsbj_vue.list.srwAuditing==1){
						layer.msg('此单据已经审核不能修改');
					}else{
						bool=2;
						parent.procurementVue.xszs();
						$("#readO input").attr('readOnly',false);
					}
				},
				bc:function(id){
					let empty=no_empty();
					//alert(empty)
					if(empty==1){//非空验证
						var SalesReturnWarehouse=JSON.stringify(xsbj_vue.list)
	              		console.log(SalesReturnWarehouse)
						if(bool==1){
	              			$.ajax({//新增
		              			type:"POST",
		              			url:"http://localhost:8080/trc/x",
		              			data:SalesReturnWarehouse,
		              			contentType:"application/json;charset=utf-8",
		              			success:function(ret){
		              				 if(1==1){
		              				 	into();
		              				 	parent.layer.msg('新增成功！！');
		              				 }
		              			}
		              		});
	              		}else if(bool==2){
	              			$.ajax({//修改
		              			type:"POST",
		              			url:"http://localhost:8080/trc/u",
		              			data:SalesReturnWarehouse,
		              			contentType:"application/json;charset=utf-8",
		              			success:function(ret){
		              				 if(ret==1){
		              				 	ins();
		              				 	parent.layer.msg('修改成功！！');
		              				 }else{
		              				 	parent.layer.msg('修改失败！！');
		              				 }
		              			}
		              		});
	              		}
					}
				}
			},
			created:function(){
				
				
			},
			filters: {
	            formatDate: function (value) {// 时间戳转换日期格式方法
	                if (value == null) {
	                    return '';
	                } else {
	                    let date = new Date(value);
	                    let y = date.getFullYear();// 年
	                    let MM = date.getMonth() + 1;// 月
	                    MM = MM < 10 ? ('0' + MM) : MM;
	                    let d = date.getDate();// 日
	                    d = d < 10 ? ('0' + d) : d;
	                    let h = date.getHours();// 时
	                    h = h < 10 ? ('0' + h) : h;
	                    let m = date.getMinutes();// 分
	                    m = m < 10 ? ('0' + m) : m;
	                    let s = date.getSeconds();// 秒
	                    s = s < 10 ? ('0' + s) : s;
	                    //return y + '-' + MM + '-' + d + ' ' + h + ':' + m + ':' + s;
	                    return y + '-' + MM + '-' + d;
	                    
	                }
	            }
        	}
		})

 		function into(){//进页面
 			$.ajax({
 				Type:'GET',
 				url:'http://localhost:8080/trc/c',
 				success:function(rel){
						rel.srwDocumentDate=formatDate1(rel.srwDocumentDate)
	 					xsbj_vue.list=rel;
	 					//确认审核状态
			    		if(xsbj_vue.list.srwAuditing==1){
			    			$("#readO input").attr('readOnly',true);
			    			$(".fudong").css('visibility','visible');
			    		}else{
			    			$("#readO input").attr('readOnly',true);
			    		}
 				}
 			})
 		}
 		
 		
 		function no_empty(){//非空验证
                let status ='';//函数返回的状态，0代表是是空，1不是空
                let val = '';//存历遍的input的输入内容
                let arr=[];//存历遍后，且为空的input标签对象
          $('.no_empty').each(function(key,value){
              val = $(value).val();
              if(val===''){
                  arr.push($(value));//把抓到内容为空的input存入arr数组中
                  let target =arr[0];//始终抓取第一个为空的input标签，并写入下面的弹层参数中
                  layer.tips(
                      '不能为空',
                      target, {
                          // tipsMore: true,
                          anim:6,
                          time:1500,
                          tips: [1,'#f99501'] //还可配置颜色
                          ,end:function () {
                          }
                      });
                  status= 0;
              }else{
                  status= 1;
              }

          });

          return status
            }
</script>
<script>		//layui 组件
layui.use(['element','form','laydate'], function(){
	var element = layui.element;
	var form = layui.form;
	var laydate = layui.laydate;
	
	laydate.render({//日期
	    elem: '#test1',
	    done:function(value,date){//value, date, endDate点击日期、清空、现在、确定均会触发。回调返回三个参数，分别代表：生成的值、日期时间对象、结束的日期时间对象
         xsbj_vue.list.srwDocumentDate=value;
        var value1=value.replace(/-/g,'');
	        $.ajax({
	        	type:"get",
	        	url:"http://localhost:8080/t_sow/wx?da="+value1,
	        	success:function(rel){
	        		xsbj_vue.list.srwId=rel;
	        	}
	        });
			
    	}
	  });
	  
	  laydate.render({
	    elem: '#test2'
	  });
	  
	  laydate.render({
	    elem: '#test3'
	  });
	  //年月选择器
	  laydate.render({ 
	  	elem: '#test4'
	  	,type: 'month'
	  	});
	  	//监听提交
	  	 form.on('submit(formDemo)', function(data){
		    layer.msg(JSON.stringify(data.field));
		    return false;
		  });
		  
		//转单
		form.on('select(college)',function(data){
			 let college1=$("[name=college1]").val();
			 if(xsbj_vue.list.srwAuditing!=1){//单据未审核
			 	 if(xsbj_vue.list.warehouseId!=''){
			 	 	let message=$("select[name=student_Level").val();
			 	 	  layer.open({
						  type: 2,
						  title: '转单销售报价',
						  closeBtn: 1,//右上角
						  area: ['498px','350px'],
						  shade:0,
						  content: '../销售模块/转单销售报价.html',
						  success: function(layero, index){  
						        var body = layer.getChildFrame('body', index);  //获取的子页面HTML所有类容
		        				//得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
		        				var iframeWin = window[layero.find('iframe')[0]['name']]; 
		        				console.log(xsbj_vue.list.sowId);
		        				iframeWin.setVueName("xsbj_vue");//调用iframeWin页面的属性或者方法
		        			}
						});
			 	 }else{
			 	 	layer.msg('仓库不能为空！！')
			 	 }
			 }
		})
		
		//查看历史单据
		form.on('select(query)',function(data){
			 let query1=$("[name=query1]").val();
			 if(xsbj_vue.list.srwAuditing!=1){
			 	
			 }
		})
});
</script>


</html>
